mixin embedly-status
  i.fa.fa-exclamation-triangle.is-url-invalid(
    ng-show="urlStatus === 'invalid'"
    tooltip="Invalid URL"
    tooltip-placement="bottom")
  i.fa.fa-spin.fa-spinner.is-preview-loading(
    ng-show="urlStatus === 'loading'"
    tooltip="Loading preview…"
    tooltip-placement="bottom")
  i.fa.fa-chain-broken.is-url-broken(
    ng-show="urlStatus === 'broken'"
    tooltip="Cannot access URL, possibly broken"
    tooltip-placement="bottom")
