.markdown-loading(ng-if="!isReady() && !hasCrashed")
  | Initializing Markdown editor&nbsp;
  i.fa.fa-spinner.fa-spin

.markdown-crashed(ng-if="hasCrashed")
  | Markdown editor has crashed, please refresh the page&nbsp;
  i.fa.fa-warning

.markdown-loaded(ng-class="{'visible': isReady() && !hasCrashed}")
  .markdown-toolbar
    .markdown-actions(ng-class="{'preview-mode': !inMode('md')}")

      button.toolbar-button.fa.fa-bold(
        ng-click="actions.bold()"
        tabindex="-1"
        tooltip="Bold"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-italic(
        ng-click="actions.italic()"
        tabindex="-1"
        tooltip="Italic"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-strikethrough(
        ng-click="actions.strike()"
        tabindex="-1"
        tooltip="Strike out"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-header(
        cf-context-menu-trigger
        tabindex="-1"
        tooltip="Heading"
        ng-disabled="!inMode('md')")
      .context-menu(cf-context-menu="bottom")
        cf-icon.context-menu__arrow(name="arrow-up")
        ul.context-menu__items
          li(type="button" ng-click="actions.h1()")
            i.fa.fa-star
            |  Heading 1
          li(type="button" ng-click="actions.h2()")
            i.fa.fa-star-half-o
            |  Heading 2
          li(type="button" ng-click="actions.h3()")
            i.fa.fa-star-o
            |  Heading 3

      button.toolbar-button.fa.fa-quote-left(
        ng-click="actions.quote()"
        tabindex="-1"
        tooltip="Quote"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-code(
        ng-click="actions.code()"
        tabindex="-1"
        tooltip="Code"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-ellipsis-h(
        ng-click="actions.hr()"
        tabindex="-1"
        tooltip="Horizontal rule"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-list(
        cf-context-menu-trigger
        tabindex="-1"
        tooltip="List"
        ng-disabled="!inMode('md')")
      .context-menu(cf-context-menu="bottom")
        cf-icon.context-menu__arrow(name="arrow-up")
        ul.context-menu__items
          li(type="button" ng-click="actions.ul()")
            i.fa.fa-list-ul
            |  Unordered list
          li(type="button" ng-click="actions.ol()")
            i.fa.fa-list-ol
            |  Ordered list

      button.toolbar-button.fa.fa-indent(
        cf-context-menu-trigger
        tabindex="-1"
        tooltip="Indentation"
        ng-disabled="!inMode('md')")
      .context-menu(cf-context-menu="bottom")
        cf-icon.context-menu__arrow(name="arrow-up")
        ul.context-menu__items
          li(type="button" ng-click="actions.indent()")
            i.fa.fa-indent
            |  Indent
          li(type="button" ng-click="actions.dedent()")
            i.fa.fa-dedent
            |  Dedent

      button.toolbar-button.fa.fa-paperclip(
        ng-click="insertAsset()"
        tabindex="-1"
        tooltip="Insert asset"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-link(
        cf-context-menu-trigger
        tabindex="-1"
        tooltip="Links"
        ng-disabled="!inMode('md')")
      .context-menu(cf-context-menu="bottom")
        cf-icon.context-menu__arrow(name="arrow-up")
        ul.context-menu__items
          li(type="button" ng-click="insertLink()")
            i.fa.fa-link
            |  Insert link
          li(type="button" ng-click="organizeLinks()")
            i.fa.fa-sitemap
            |  Organize links

      button.toolbar-button.fa.fa-table(
        ng-click="insertTable()"
        tabindex="-1"
        tooltip="Insert table"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-eur(
        ng-click="insertSpecial()"
        tabindex="-1"
        tooltip="Insert special character"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-undo(
        cf-context-menu-trigger
        tabindex="-1"
        tooltip="History"
        ng-disabled="!inMode('md')")
      .context-menu(cf-context-menu="bottom")
        cf-icon.context-menu__arrow(name="arrow-up")
        ul.context-menu__items
          li(type="button" ng-click="actions.undo()")
            i.fa.fa-undo
            |  Undo
          li(type="button" ng-click="actions.redo()")
            i.fa.fa-repeat
            |  Redo

    .markdown-modeswitch
      button.toolbar-button.fa.fa-eye(
        cf-context-menu-trigger
        tabindex="-1"
        tooltip="View mode")
      .context-menu(cf-context-menu="bottom")
        cf-icon.context-menu__arrow(name="arrow-up")
        ul.context-menu__items
          li(type="button" ng-click="setMode('md')")
            i.fa.fa-edit
            |  Markdown editor
          li(type="button" ng-click="setMode('rich')")
            i.fa.fa-eye
            |  Rich-text preview
          li(type="button" ng-click="setMode('html')")
            i.fa.fa-file-code-o
            |  Generated HTML

  .markdown-editing-area(
    tabindex="0"
    ng-show="inMode('md')")
    textarea

  .markdown-preview(
    tabindex="0"
    ng-show="inMode('rich')"
    ng-bind-html="preview"
    ng-click="setMode('md')")

  pre.markdown-html(
    ng-show="inMode('html')"
    ng-bind="preview"
    ng-click="setMode('md')")

  .markdown-info
    | Characters: {{ info.chars }},
    | words: {{ info.words }},
    | time to read: {{ info.time }} minute(s)

  cf-markdown-guide
