.markdown-loading(ng-if="!isReady() && !hasCrashed")
  | Initializing Markdown editor&nbsp;
  i.fa.fa-spinner.fa-spin

.markdown-crashed(ng-if="hasCrashed")
  | Markdown editor has crashed, please refresh the page&nbsp;
  i.fa.fa-warning

.markdown-loaded(ng-class="{'visible': isReady() && !hasCrashed}")
  .markdown-tabs
    a(href ng-if="inDevelopment()" ng-click="setMode('html')" ng-class="{'inactive': !inMode('html')}")
      | HTML
    a(href ng-click="setMode('rich')" ng-class="{'inactive': !inMode('rich')}")
      | Preview
    a(href ng-click="setMode('md')" ng-class="{'inactive': !inMode('md')}")
      | Editor

  .markdown-toolbar
    .markdown-actions
      button.toolbar-button.markdown-headings.fa.fa-header(
        cf-context-menu-trigger
        tabindex="-1"
        tooltip="Headings"
        ng-disabled="!inMode('md')")
        cf-icon(name="dd-arrow-down-disabled")
      .context-menu(cf-context-menu="bottom")
        cf-icon.context-menu__arrow(name="arrow-up")
        ul.context-menu__items
          li(type="button" ng-click="actions.h1()")
            |  Heading 1
          li(type="button" ng-click="actions.h2()")
            | Heading 2
          li(type="button" ng-click="actions.h3()")
            | Heading 3

      button.toolbar-button.fa.fa-bold(
        ng-click="actions.bold()"
        tabindex="-1"
        tooltip="Bold"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-italic(
        ng-click="actions.italic()"
        tabindex="-1"
        tooltip="Italic"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-quote-left(
        ng-click="actions.quote()"
        tabindex="-1"
        tooltip="Quote"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-list(
        ng-click="actions.ul()"
        tabindex="-1"
        tooltip="Unordered list"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-list-ol(
        ng-click="actions.ol()"
        tabindex="-1"
        tooltip="Ordered list"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-link(
        ng-click="actions.link()"
        tabindex="-1"
        tooltip="Insert link"
        ng-disabled="!inMode('md')")

      button.toolbar-button.markdown-more-actions.fa.fa-ellipsis-h(
        ng-click="toggleMinorActions()"
        tabindex="-1"
        tooltip="More actions..."
        ng-class="{'active': minorActionsShown}"
        ng-disabled="!inMode('md')")

      button.toolbar-button.markdown-side-action(
        ng-click="actions.asset()"
        tabindex="-1"
        ng-disabled="!inMode('md')")
        i.fa.fa-picture-o
        |  Insert media

      button.toolbar-button.markdown-side-action(
        ng-click="zenApi.toggle()"
        tabindex="-1")
        i.fa.fa-arrows-alt
        |  Zen mode

    .markdown-minor-actions
      button.toolbar-button.fa.fa-strikethrough(
        ng-click="actions.strike()"
        tabindex="-1"
        tooltip="Strike out"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-code(
        ng-click="actions.code()"
        tabindex="-1"
        tooltip="Code"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-arrows-h(
        ng-click="actions.hr()"
        tabindex="-1"
        tooltip="Horizontal rule"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-indent(
        ng-click="actions.indent()"
        tabindex="-1"
        tooltip="Indent"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-dedent(
        ng-click="actions.dedent()"
        tabindex="-1"
        tooltip="Dedent"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-cubes(
        ng-click="actions.embed()"
        tabindex="-1"
        tooltip="Embed external content"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-table(
        ng-click="actions.table()"
        tabindex="-1"
        tooltip="Insert table"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-eur(
        ng-click="actions.special()"
        tabindex="-1"
        tooltip="Insert special character"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-sitemap(
        ng-click="actions.organizeLinks()"
        tabindex="-1"
        tooltip="Organize links"
        ng-disabled="!inMode('md')")

      button.toolbar-button.fa.fa-undo(
        ng-click="actions.undo()"
        tabindex="-1"
        tooltip="Undo"
        ng-disabled="!inMode('md') || !history.hasUndo()")

      button.toolbar-button.fa.fa-repeat(
        ng-click="actions.redo()"
        tabindex="-1"
        tooltip="Redo"
        ng-disabled="!inMode('md') || !history.hasRedo()")

  .markdown-areas
    .markdown-editing-area(
      tabindex="0"
      ng-show="inMode('md')")
      textarea

    .markdown-preview(
      ng-show="inMode('rich')"
      ng-click="setMode('md')")
      cf-markdown-preview(preview="preview")

    pre.markdown-html(
      ng-if="inDevelopment() && inMode('html')"
      ng-bind="preview.html"
      ng-click="setMode('md')")

  .markdown-help
    cf-icon(name="markdown")
    | Use Markdown syntax to format your text.&nbsp;
    a(href ng-click="actions.openHelp()") Help

  .markdown-info
    .markdown-info__stats
    | {{ info.words }} words,
    span(ng-class="marker")  {{ info.chars }} characters
    .markdown-info__requirements {{ requirements }}

  cf-zenmode(
    ng-if="zen"
    zen-api="zenApi"
    preview="preview")
