include ./snapshot.mixin.jade

.snapshot-selector(aria-label="snapshot-list")
  .snapshot-selector__list
    table.result-list.main-header
      thead
        tr
          +snapshot-list-header('Last edited', 'sortByLastEdited', 'sortOrder.byLastEdited')
          +snapshot-list-header('Edited by', 'sortByEditor', 'sortOrder.byEditor')
          +snapshot-list-header('Status', 'sortByStatus', 'sortOrder.byStatus')
  .main-results-wrapper.endless-container(
    cf-endless-container
    at-bottom="loadMore()"
    num-elements="paginator.page")
    table.result-list.main-results
      tbody
        tr(
          ng-repeat="snapshot in snapshots track by snapshot.sys.id"
          ng-class="{'x--current': isActive(snapshot)}"
          ng-click="!isActive(snapshot) && goToSnapshot(snapshot)")
          td
            +snapshot-dt
          td
            | {{ snapshot.sys.createdBy.authorName }}
          td.snapshot-selector__item-status
            <react-component name="@contentful/forma-36-react-components/Tag" props="snapshotStatus.getProps(snapshot)"></react-component>

    .snapshot-selector__item-list-placeholder(
      ng-if="!isLoading && snapshots.length < 1")
      | No snapshots found.

    .loading(ng-show="isLoading")
