include ./snapshot.mixin.jade

.modal-background
  .modal-dialog.snapshot-selector
    header.modal-dialog__header
      h1 All snapshots
      button.modal-dialog__close(ng-click="dialog.cancel()")

    .modal-dialog__content.snapshot-selector__list(ng-controller="SnapshotSelectorController")
      table.result-list.main-header
        thead
          tr
            th Id
            th Event type
            th Created at
            th Author
            th Actions

      .main-results-wrapper.endless-container(
        cf-endless-container
        at-bottom="loadMore()"
        num-elements="paginator.page")

        table.result-list.main-results
          tbody
            tr(
              ng-repeat="snapshot in snapshots track by snapshot.sys.id"
              ng-class="{'x--current': currentId === snapshot.sys.id}")
              td
                code {{ snapshot.sys.id }}
              td {{ snapshot.sys.snapshotType }}
              td
                +snapshot-dt
              td
                +snapshot-author
              td
                button.btn-link(
                  ng-click="dialog.confirm(snapshot)"
                  ng-if="currentId !== snapshot.sys.id")
                  | Compare
                span(ng-if="currentId === snapshot.sys.id")
                  | &ndash;

        .snapshot-selector__item-list-placeholder(
          ng-if="!isLoading && snapshots.length < 1")
          | No snapshots found.

        .loading(ng-show="isLoading")
