include ./snapshot.mixin.jade

header.workbench-header
  cf-breadcrumbs
  cf-icon.workbench-header__icon(name="page-entries")
  h1.workbench-header__title {{ context.title | truncate:50 }}

  .workbench-header__actions
    button.btn-primary-action(
      type="button"
      ui-command="save")
      | Save changes
    a.btn-secondary-action(
      type="button"
      ui-sref="^.^")
      | Cancel

.workbench-main.x--content-full-size
  .snapshot-comparator__header
    .snapshot-comparator__cell
      div
        span This is a snapshot of your entry from&#32;
        button.btn-link(ng-click="select()")
          +snapshot-dt
          cf-icon.btn-dropdown-icon(name="dd-arrow-down")
      button.btn-link(href="" ng-click="restore()") Restore all fields
    .snapshot-comparator__cell
      span This is the current state of your entry
      label
        input(type="checkbox" ng-model="showOnlyDifferences")
        | Show only differences

  .snapshot-comparator__field(
    ng-repeat="widget in widgets"
    ng-controller="SnapshotFieldController as fieldController")
    .snapshot-comparator__field-locale(
      ng-repeat="locale in locales track by locale.internal_code"
      ng-controller="SnapshotComparisonController")

      .snapshot-comparator__cell(
        ng-if="showOnlyDifferences ? isDifferent : true"
        ng-controller="FieldLocaleController as fieldLocale"
        document-property="snapshotDoc")
        +snapshot-field-title
        cf-widget-renderer(cf-widget-api)
        +snapshot-overlays('left')

      .snapshot-comparator__cell(
        ng-if="showOnlyDifferences ? isDifferent : true"
        ng-controller="FieldLocaleController as fieldLocale")
        +snapshot-field-title
        cf-widget-renderer(cf-widget-api)
        +snapshot-overlays('right')
