include ./snapshot.mixin.jade

header.workbench-header
  cf-breadcrumbs
  cf-icon.workbench-header__icon(name="page-entries")
  h1.workbench-header__title {{ context.title | truncate:50 }}

  .workbench-header__actions
    button.btn-primary-action(
      type="button"
      ui-command="save")
      | Save changes
    a.btn-secondary-action(
      type="button"
      ui-sref="^.^")
      | Close

.snapshot-comparator__header
  .snapshot-comparator__header-cell
    button.btn-link.snapshot-comparator__version(ng-click="select()")
      +snapshot-dt
      cf-icon.btn-dropdown-icon(name="dd-arrow-down")
    button.btn-link(href="" ng-click="restore()") Restore this version
  .snapshot-comparator__header-cell
    .snapshot-comparator__version Current version
    label
      input(type="checkbox" ng-model="showOnlyDifferences")
      | Show only differences

.workbench-main.x--content-full-size

  cf-ui-hint.snapshot-comparator__hint(
    name="snapshots-intro"
    arrow="true"
    arrow-direction="up"
    show-dismiss="true"
    role="note"
    data-test-id="snapshots-intro")
    | This version looks different than the current version of your entry
    | (shown on the right side). Only content that has changed can be restored.

  .snapshot-comparator__field(
    ng-repeat="widget in widgets"
    ng-controller="SnapshotFieldController as fieldController")
    .snapshot-comparator__field-locale(
      ng-repeat="locale in locales track by locale.internal_code"
      ng-controller="SnapshotComparisonController")

      .snapshot-comparator__cell(
        ng-if="showOnlyDifferences ? isDifferent : true"
        ng-controller="FieldLocaleController as fieldLocale"
        document-property="snapshotDoc")
        .snapshot-comparator__cell__radio
          input(type="radio" ng-model="selected" value="left")
        .snapshot-comparator__cell__presenter
          .snapshot-comparator__field_title
            +snapshot-field-title
          cf-snapshot-presenter
          +snapshot-overlays('left')

      .snapshot-comparator__cell(
        ng-if="showOnlyDifferences ? isDifferent : true"
        ng-controller="FieldLocaleController as fieldLocale")
        .snapshot-comparator__cell__radio
          input(type="radio" ng-model="selected" value="right")
        .snapshot-comparator__cell__presenter
          .snapshot-comparator__field_title
            +snapshot-field-title
          cf-snapshot-presenter
          +snapshot-overlays('right')
