include ./snapshot.mixin.jade

header.workbench-header
  cf-breadcrumbs
  cf-icon.workbench-header__icon(name="page-entries")
  h1.workbench-header__title {{ context.title | truncate:50 }}

  .workbench-header__actions
    button.btn-primary-action(
      type="button"
      ui-command="save")
      | Apply changes
    a.btn-secondary-action(
      role="button"
      type="button"
      ui-sref="^.^")
      | Close

.snapshot-comparator__header
  .snapshot-comparator__header-cell
    button.btn-link.snapshot-comparator__version(ng-click="selectSnapshot()")
      +snapshot-dt
      cf-icon.btn-dropdown-icon(name="dd-arrow-down")
    button.btn-link(ng-click="versionPicker.restoreAll()")
      | Select all fields from this version

  .snapshot-comparator__header-cell
    .snapshot-comparator__version Current version
    label(ng-show="versionPicker.getDifferenceCount() > 0")
      input(type="checkbox" ng-model="showOnlyDifferences")
      span
        | Show only differences ({{ versionPicker.getDifferenceCount() }})

cf-ui-hint.snapshot-comparator__hint(
  name="snapshots-intro"
  arrow="true"
  arrow-direction="up"
  show-dismiss="true"
  role="note"
  data-test-id="snapshots-intro")
  | This version looks different than the current version of your entry
  | (shown on the right side). Only content that has changed can be restored.

.workbench-main.x--content-full-size
  .snapshot-comparator__field(
    ng-repeat="widget in widgets"
    ng-controller="SnapshotFieldController as fieldController")
    .snapshot-comparator__field-locale(
      ng-repeat="locale in locales track by locale.internal_code"
      ng-controller="SnapshotComparisonController")

      +snapshot-value('snapshotDoc', 'snapshot')
      +snapshot-value('otDoc', 'current')
