mixin snapshot-dt
  react-component(
    name="components/shared/RelativeDateTime/index.es6"
    props="{value: snapshot.sys.createdAt}"
  )

mixin snapshot-list-header(headerText, sortingFn, isCurrentSortedColumn)
  th(
    ng-click="#{sortingFn}(isAscending)"
    ng-class="{'x--selected-header': snapshots.length && #{isCurrentSortedColumn}, 'x--sortable': true}")
    = headerText
    i.button-icon.fa.fa-caret-down(ng-show="snapshots.length && isAscending && #{isCurrentSortedColumn}")
    i.button-icon.fa.fa-caret-up(ng-show="snapshots.length && !isAscending && #{isCurrentSortedColumn}")

mixin snapshot-overlays(version)
  - var attrs = {};
  - attrs["ng-class"] = "{'x--selected': selected === '" + version + "'}";
  - attrs["ng-click"] = "select('" + version + "')";
  .snapshot-comparator__overlay-different(ng-if="canRestore")&attributes(attrs)
    span Field will be restored to this version
  .snapshot-comparator__overlay-identical(ng-if="!canRestore")

mixin snapshot-value(version)
  - attrs = {};
  - attrs["ng-init"] = "version = '" + version + "'";
  - attrs["document-property"] = version === 'snapshot' ? 'snapshotDoc' : '';
  .snapshot-comparator__cell(
    ng-if="showOnlyDifferences ? isDifferent : true")&attributes(attrs)
      .snapshot-comparator__cell__radio
        input(type="radio" ng-model="selected" value!=version)
      .snapshot-comparator__cell__presenter
        .snapshot-comparator__field-title
          div
            | {{ widget.field.name }}
            span(ng-if="locales.length > 1") &#32;&ndash; {{locale.name}}
          .entity-editor__no-permission-info(ng-if="isDisabled")
            cf-icon(name="lock")
            | This field is disabled
        cf-snapshot-presenter
        +snapshot-overlays(version)
