.workbench
  .workbench-main.x--content
    .workbench-main__middle-content.x--learn-home
      .learn-onboarding(ng-show="learn.numberStepsCompleted < 3")
        h2
          | Set up the basics
          span.learn-onboarding__completion(
            role="status"
            data-status-code="learn.onboarding.stepsCompleted")
            | ({{learn.numberStepsCompleted}}/3 completed)
        p.learn-subheading
          | Complete these three steps to get started creating and fetching your content.

        .learn-onboarding__steps
          //- Content types
          .learn-onboarding__step
            .icon-wrapper
              cf-icon(name="page-ct")
            h3
              | Define the structure
            p.step__description
              | Create your content model. It’s comprised of content types, which define the structure of your entries.
            .step__actions(ng-show="!learn.contentTypes.length")
              button.btn-action(
                ng-click="learn.trackClickedButton('Create a content type')"
                ui-sref="spaces.detail.content_types.new.home({ spaceId: learn.spaceId })")
                | Create a content type
            .step__actions(ng-show="learn.contentTypes.length")
              .step__actions__completed(role="status" data-status-code="learn.onboarding.completed")
                cf-icon(name="checkmark-alt")
                | Completed
              a.step__actions__link(
                ng-click="learn.trackClickedButton('View content model')"
                ui-sref="spaces.detail.content_types.list({ spaceId: learn.spaceId })")
                | View content model

          //- Entries
          .learn-onboarding__step(
            ng-class="{inactive: !learn.contentTypes.length > 0}")
            .icon-wrapper
              cf-icon(name="page-entries")
            .step__title
              h3.step__title__inner
                | Create your content
            p.step__description
              | Add an entry. They are your actual pieces of content, based on the content types you have created.
            .step__actions(ng-show="learn.hasEntries")
              .step__actions__completed(role="status" data-status-code="learn.onboarding.completed")
                cf-icon(name="checkmark-alt")
                | Completed
              a.step__actions__link(
                ng-click="learn.trackClickedButton('View content')"
                ui-sref="spaces.detail.entries.list({ spaceId: learn.spaceId })")
                | View content
            .step__actions(ng-show="!learn.hasEntries")
              //- One or less content type
              button.btn-action(
                ng-if="learn.contentTypes.length <= 1"
                ng-click="learn.trackClickedButton('Add an entry'); entityCreationController.newEntry(learn.contentTypes[0])"
                ng-disabled="learn.contentTypes.length === 0")
                | Add an entry
              //- More than one content
              div(ng-show="learn.contentTypes.length > 1")
                button.btn-action(cf-context-menu-trigger)
                  span Add an entry&nbsp;
                  cf-icon(name="dd-arrow-down")
                .context-menu(role="menu" cf-context-menu aria-label="Add an entry")
                  div(ng-repeat="contentType in learn.contentTypes"
                    role="menuitem"
                    ng-click="learn.trackClickedButton('Add an entry'); entityCreationController.newEntry(contentType)")
                    | {{contentType.data.name}}

          //- API
          .learn-onboarding__step(
            ng-class="{inactive: !learn.hasEntries}")
            .icon-wrapper
              cf-icon(name="page-api")
            .step__title
              h3.step__title__inner
                | Fetch your content
            p.step__description
              | Use the API to see your content wherever you like. We’ll show you different ways of delivering your content.
            .step__actions(ng-show="!learn.activated || !learn.hasEntries")
              button.btn-action(
                ng-click="learn.goToApiKeySection()"
                ng-disabled="!learn.hasEntries")
                | Use the API
            .step__actions(ng-show="learn.activated && learn.hasEntries")
              .step__actions__completed(role="status" data-status-code="learn.onboarding.completed")
                cf-icon(name="checkmark-alt")
                | Completed
              a.step__actions__link(
                ng-click="learn.trackClickedButton('View API')"
                ui-sref="spaces.detail.content_types.list({ spaceId: learn.spaceId })")
                | View API

      //- Second page
      .learn-onboarding(ng-show="learn.numberStepsCompleted >= 3")
        .learn-onboarding__note.note-box.note-box--success(ng-show="learn.showNote")
          h3
            | Yay! You've completed the first 3 steps
          div
            | You've created a <a ui-sref="spaces.detail.content_types.list">content model</a>,
            | added some <a ui-sref="spaces.detail.entries.list">content</a> and
            | used the <a ui-sref="spaces.detail.api.keys.list">API</a>.
            | Still, there's a lot more to discover in Contentful.
            | Check the next steps!
        h2
          | Take it one step further
        p.learn-subheading
          | Use Contentful to the full extent and discover all the features waiting for you.

        //- Onboarding page 2
        .learn-onboarding__steps
          .learn-onboarding__step(ng-repeat="step in learn.secondPageSteps")
            .icon-wrapper
              cf-icon(name="{{step.icon}}")
            h3 {{step.title}}
            p.step__description {{step.description}}
            .step__actions(ng-show="!step.completed")
              button.btn-action(
                ng-click="learn.trackClickedButton('{{step.title}}')"
                ui-sref="{{step.sref}}")
                | {{step.buttonText}}
            .step__actions(ng-show="step.completed")
              .step__actions__completed(role="status" data-status-code="learn.onboarding.completed")
                cf-icon(name="checkmark-alt")
                | Completed
              a.step__actions__link(
                ng-click="learn.trackClickedButton('{{step.linkText}}')"
                ui-sref="{{step.sref}}")
                | {{step.linkText}}


      //- Build with Contentful
      .learn__build-with-contentful
        h2 Build with Contentful
        p.learn-subheading Choose your language to access relevant SDKs, tools, tutorials and more.
        .build-with-contentful
          .build-with-contentful__languages(
            ng-class="{'is-open': learn.selectedLanguage}")
            .build-with-contentful__language(
              ng-repeat="lang in learn.languageData track by lang.id"
              data-current-language="{{lang.id}}")
              a.build-with-contentful__link(
                ng-class="{'is-active': lang === learn.selectedLanguage}"
                ng-click="learn.selectLanguage(lang)")
                cf-icon(name="{{lang.icon}}")
                .build-with-contentful__name {{lang.name}}
          .build-with-contentful__detail(ng-class="{'x--visible': learn.selectedLanguage}")
            cf-icon(
              name="arrow-up"
              cf-position-relative-to-language
              position-relative-to=".build-with-contentful__language[data-current-language=\"{{learn.selectedLanguage.id}}\"]")

            .build-with-contentful__references(ng-show="learn.selectedLanguage.id")
              .build-with-contentful__reference(ng-repeat="(key, item) in learn.selectedLanguage.data track by item.name")
                .icon-wrapper
                  cf-icon(name="{{item.icon}}")
                .build-with-contentful__reference-name {{item.name}}
                p.build-with-contentful__reference-description
                  | {{item.description}}
                span(ng-repeat="link in item.links")
                  a.build-with-contentful__reference-link(
                    ng-click="learn.trackResourceLink(item.name, learn.selectedLanguage.name)"
                    href="{{link.url}}"
                    target="_blank")
                    | {{link.text}}
                  span(ng-if="!$last")
                    | &#32;|&#32;
