.workbench
  .workbench-main.x--content
    .workbench-main__middle-content.x--learn-home
      .learn-onboarding
        h2 Set up the basics
        p.learn-subheading
          | Complete these three steps to get started creating and fetching your content.

        .learn-onboarding__steps
          .learn-onboarding__step(ng-show="learn.contentTypes.length")
            .icon-wrapper
              cf-icon(name="page-ct")
            .step__title
              h3.step__title__inner
                cf-icon(name="checkmark-alt")
                span Define the structure
            p.step__description
              | The content model is comprised of content types, which define the structure of your entries.
            .step__actions
              button.cfnext-btn-secondary-action(
                ng-click="learn.trackClickedButton('View your content model')"
                ui-sref="spaces.detail.content_types.list({ spaceId: learn.spaceId })")
                | View your content model

          .learn-onboarding__step(ng-show="!learn.contentTypes.length")
            .icon-wrapper
              cf-icon(name="page-ct")
            .step__title
              h3.step__title__inner
                | Define the structure
            p.step__description
              | Create your content model. It’s comprised of content types, which define the structure of your entries.
            .step__actions
              button.cfnext-btn-action(
                ng-click="learn.trackClickedButton('Create a content type')"
                ui-sref="spaces.detail.content_types.new({ spaceId: learn.spaceId })")
                | Create a content type

          .learn-onboarding__step(
            ng-show="learn.hasEntries")
            .icon-wrapper
              cf-icon(name="page-entries")
            .step__title
              h3.step__title__inner
                cf-icon(name="checkmark-alt")
                | Create your content
            p.step__description
              | Entries are your actual pieces of content, based on the content types you have created.
            .step__actions
              button.cfnext-btn-secondary-action(
                ng-click="learn.trackClickedButton('View your entries')"
                ui-sref="spaces.detail.entries.list({ spaceId: learn.spaceId })")
                | View your entries

          .learn-onboarding__step(
            ng-class="{inactive: !learn.contentTypes.length > 0}"
            ng-show="!learn.hasEntries")
            .icon-wrapper
              cf-icon(name="page-entries")
            .step__title
              h3.step__title__inner
                | Create your content
            p.step__description
              | Add an entry. They are your actual pieces of content, based on the content types you have created.
            .step__actions
              //- One or less content type
              button.cfnext-btn-action(
                ng-if="learn.contentTypes.length <= 1"
                ng-click="learn.trackClickedButton('Add an entry'); entityCreationController.newEntry(learn.contentTypes[0])"
                ng-disabled="learn.contentTypes.length === 0")
                | Add an entry
              //- More than one content
              div(ng-show="learn.contentTypes.length > 1")
                button.cfnext-btn-action(cf-context-menu-trigger)
                  span Add an entry&nbsp;
                  cf-icon(name="dd-arrow-down")
                .context-menu(role="menu" cf-context-menu aria-label="Add an entry")
                  div(ng-repeat="contentType in learn.contentTypes"
                    role="menuitem"
                    ng-click="learn.trackClickedButton('Add an entry'); entityCreationController.newEntry(contentType)")
                    | {{contentType.data.name}}

          .learn-onboarding__step(
            ng-class="{inactive: !learn.hasEntries}")
            .icon-wrapper
              cf-icon(name="page-api")
            .step__title
              h3.step__title__inner
                | Fetch your content
            p.step__description
              | Use the API to see your content wherever you like. We’ll show you different ways of delivering your content.
            .step__actions
              button.cfnext-btn-action(
                ng-click="learn.goToApiKeySection()"
                ng-disabled="!learn.hasEntries")
                | Use the API

      //- Build with Contentful
      .learn__build-with-contentful
        h2 Build with Contentful
        p.learn-subheading Choose your language to access relevant SDKs, tools, tutorials and more.
        .build-with-contentful
          .build-with-contentful__languages(
            ng-class="{'is-open': learn.selectedLanguage}")
            .build-with-contentful__language(
              ng-repeat="lang in learn.languageData track by lang.id"
              data-current-language="{{lang.id}}")
              a.build-with-contentful__link(
                ng-class="{'is-active': lang === learn.selectedLanguage}"
                ng-click="learn.selectLanguage(lang)")
                cf-icon(name="{{lang.icon}}")
                .build-with-contentful__name {{lang.name}}
          .build-with-contentful__detail(ng-class="{'x--visible': learn.selectedLanguage}")
            cf-icon(
              name="arrow-up"
              cf-position-relative-to-language
              position-relative-to=".build-with-contentful__language[data-current-language=\"{{learn.selectedLanguage.id}}\"]")

            .build-with-contentful__references(ng-show="learn.selectedLanguage.id")
              .build-with-contentful__reference(ng-repeat="(key, item) in learn.selectedLanguage.data track by item.name")
                .icon-wrapper
                  cf-icon(name="{{item.icon}}")
                .build-with-contentful__reference-name {{item.name}}
                p.build-with-contentful__reference-description
                  | {{item.description}}
                span(ng-repeat="link in item.links")
                  a.build-with-contentful__reference-link(
                    ng-click="learn.trackResourceLink(item.name, learn.selectedLanguage.name)"
                    href="{{link.url}}"
                    target="_blank")
                    | {{link.text}}
                  span(ng-if="!$last")
                    | &#32;|&#32;
