.app-notification--anchor(ng-show="message")
  .app-notification(
    ng-show="!hidden"
    ng-class="message ? 'x--' + message.severity : ''"
    ng-click="markAsSeen()")
    p(
      role="alert"
      aria-hidden="{{!message}}"
      data-test-id="cf-ui-notification"
      data-intent="{{message.severity}}")
      | {{message.body}}
    span.app-notification__dismiss(
      data-test-id="cf-ui-notification-close"
    )
      | Dismiss
