input.cfnext-form__input--full-size(
  type="text"
  ng-disabled="isDisabled")
.cfnext-form__field-error(
  role="status"
  data-error-code="entry.number.parseError"
  ng-show="parseWarning")
    | {{parseWarning}}
