input.entry-editor__input(
  type="text"
  aria-invalid="{{hasErrors || !!parseWarning}}"
  ng-disabled="isDisabled")
.cfnext-form__field-error(
  role="status"
  data-error-code="entry.number.parseError"
  ng-show="parseWarning")
    | {{parseWarning}}
