mixin base(condition, loaderMsgProp)
  .loader(
    role="progressbar"
    ng-show=condition
    aria-busy=("{{" + condition + "}}"))&attributes(attributes)
    .loader__container
      .loader__spinner
    if loaderMsgProp
      .loader__message
        | {{ #{loaderMsgProp} }}
    else
      .loader__message
        | Please hold on...

mixin interstitial-loader(condition, loaderMsgProp)
  +base(condition, loaderMsgProp)(aria-label="loader-interstitial")

mixin fullscreen-loader(condition, loaderMsgProp)
  +base(condition, loaderMsgProp)(aria-label="loader-fullscreen")

mixin inline-loader(condition)
  .loader.loader--inline(
    aria-label="loader-inline"
    role="progressbar"
    ng-show=condition
    aria-busy=("{{" + condition + "}}"))
    span.loader__spinner--inline
