.workbench.sticky-parent
  // TODO: This is for inline reference editing
  // BETA release. Remove this once we are done with
  // the experiment.
  header.workbench-header(ng-if="!renderInline")
    .breadcrumbs-widget
      .breadcrumbs-container
        cf-icon.btn.btn__back(
          ng-click="referenceContext.close()"
          name="breadcrumbs-icon-back"
          role="button"
          data-test-id="breadcrumbs-back-btn")
    h1.workbench-header__title
      | Entries linked in <em>{{ referenceContext.field.name }}</em> ({{ data.linkCount }})
    .workbench-header__actions
       button.btn-secondary-action(
         ng-click="referenceContext.close()")
         | Close

  .workbench-main
    .workbench-main__content(
      ng-show="!data.loaded && !renderInline"
      style="padding-top: 0")
      .loading-box--stretched
        .loading-box__spinner
        .loading-box__message
          | Loading entries

    .workbench-main__content(
      ng-show="data.loaded || renderInline"
      style="padding-top: 0")
      // Safari and Edge need a relative container for dropdowns to work:
      div(style="position: relative"
        ng-repeat="ctx in entityContexts track by ctx.key"
        data-entity-id="{{ctx.id}}")
        cf-bulk-entity-editor(
          render-inline="renderInline"
          entity-context="ctx"
          bulk-editor-context="editorContext"
        )

    .workbench-main__sidebar(ng-if="!renderInline")
      .entity-sidebar
        h2.entity-sidebar__heading
          | Entries
        .entity-sidebar__help-text(ng-if="data.linkCount > 1")
          | There are {{ data.linkCount }} linked entries in <em>{{ referenceContext.field.name }}</em>.
        .entity-sidebar__help-text(ng-if="data.linkCount == 1")
          | There is 1 linked entry in <em>{{ referenceContext.field.name }}</em>.
        .entity-sidebar__help-text
          cf-create-entry-button(
            content-types="actions.allowedCTs"
            on-select="actions.addNewEntry"
            style="link"
            text="Create new entry and link")
        .entity-sidebar__help-text
          button.btn-link(
            data-test-id="add-existing-entry"
            ng-click="actions.addExistingEntries()"
            type="button")
            cf-icon.btn-link__icon(name="link")
            span
              | Link an existing entry
