.div(
  ng-if="loading"
  ng-class="renderInline ? 'loading-box' : 'loading-box--full-screen'"
  style="height: 5rem")
  .loading-box__spinner
  .loading-box__message
    | Loading entry
div(ng-if="data.hasEditor")
  div.bulk-editor-entry__header(
    ng-class="!data.expanded && 'x--collapsed'")
    div(
      data-test-id="entity-saving"
      style="display: none"
      role="progressbar"
      aria-busy="{{data.isSaving}}")
    div.bulk-editor-entry__header-main(ng-click="actions.toggleExpansion()")
      div.bulk-editor-entry__header-title
        | {{title}}
      div.bulk-editor-entry__header-expander(ng-class="!data.expanded && 'x--collapsed'")

    button.btn-link.bulk-editor-entry__actions(cf-context-menu-trigger ng-show="data.expanded")
      | Actions
      cf-icon.btn-dropdown-icon(name="dd-arrow-down")
    .context-menu.x--arrow-right(cf-context-menu="bottom-right" role="menu")
      a(role="menuitem" cf-sref="data.stateRef")
        | Open in content editor
      div(role="menuitem" ng-click="actions.unlink()")
        | Unlink entry

    button.bulk-editor-entry__status(
      aria-busy="{{state.inProgress}}"
      cf-context-menu-trigger
      data-state="{{state.current}}")
      | {{ state.currentLabel }}
      cf-icon.btn-dropdown-icon(
        ng-if="!state.inProgress"
        name="dd-arrow-down"
        style="margin-left: 0.1em")
    .context-menu.x--arrow-right(
      role="menu"
      data-test-id="change-state-menu"
      cf-context-menu="bottom-right")
      div(ng-repeat="command in state.allActions")
        div(role="menuitem" ui-command="command" data-target-state="{{command.targetStateId}}")
          | {{ command.label }}


  .bulk-editor-entry__fields(ng-if="data.expanded")
    cf-entity-field(ng-repeat="widget in widgets track by widget.fieldId")
