input.form-control(
  ng-disabled="!otDoc.state.editable"
  ng-model="fieldData.value"
  ot-bind-text=""
  type="text")
.form-widget__help-text--full-width
  span(
    ng-class="{'colors__red': charCountStatus === 'exceeded', 'colors__orange': charCountStatus === 'approaching'}")
      | {{ charCount }} characters
  span.u-pull-right(ng-switch="constraintsType")
    span(ng-switch-when="min")
      |  Requires at least {{ constraints.min }} characters
    span(ng-switch-when="max")
      |  Requires less than {{ constraints.max }} characters
    span(ng-switch-when="min-max")
      |  Requires between {{ constraints.min }} and {{ constraints.max }} characters
