.markdown-loading(ng-if="!isReady() && !hasCrashed")
  | Initializing Markdown editor&nbsp;
  i.fa.fa-spinner.fa-spin

.markdown-crashed(ng-if="hasCrashed")
  | Markdown editor has crashed, please refresh the page&nbsp;
  i.fa.fa-warning

.markdown-loaded(ng-class="{'visible': isReady() && !hasCrashed}")
  .markdown-tabs
    a(href ng-if="inDevelopment()" ng-click="setMode('html')" ng-class="{'inactive': !inMode('html')}")
      | HTML
    a(href ng-click="setMode('rich')" ng-class="{'inactive': !inMode('rich')}")
      | Preview
    a(href ng-click="setMode('md')" ng-class="{'inactive': !inMode('md')}")
      | Editor

  .markdown-toolbar
    .markdown-actions
      button.toolbar-button.markdown-headings.fa.fa-header(
        cf-context-menu-trigger
        tabindex="-1"
        tooltip="Headings"
        ng-disabled="!inMode('md')")
        cf-icon(name="dd-arrow-down-disabled")
      .context-menu(cf-context-menu="bottom")
        cf-icon.context-menu__arrow(name="arrow-up")
        ul.context-menu__items
          li(type="button" ng-click="actions.h1()")
            |  Heading 1
          li(type="button" ng-click="actions.h2()")
            | Heading 2
          li(type="button" ng-click="actions.h3()")
            | Heading 3

      cf-markdown-action(actions="actions" name="bold"   disabled="!inMode('md')")
      cf-markdown-action(actions="actions" name="italic" disabled="!inMode('md')")
      cf-markdown-action(actions="actions" name="quote"  disabled="!inMode('md')")
      cf-markdown-action(actions="actions" name="ul"     disabled="!inMode('md')")
      cf-markdown-action(actions="actions" name="ol"     disabled="!inMode('md')")
      cf-markdown-action(actions="actions" name="link"   disabled="!inMode('md')")

      button.toolbar-button.markdown-more-actions.fa.fa-ellipsis-h(
        ng-click="toggleMinorActions()"
        tabindex="-1"
        tooltip="More actions..."
        ng-class="{'active': minorActionsShown}"
        ng-disabled="!inMode('md')")

      button.toolbar-button.markdown-side-action(
        ng-click="actions.asset()"
        tabindex="-1"
        ng-disabled="!inMode('md')")
        i.fa.fa-picture-o
        |  Insert media

      button.toolbar-button.markdown-side-action(
        ng-click="zenApi.toggle()"
        tabindex="-1")
        i.fa.fa-arrows-alt
        |  Zen mode

    .markdown-minor-actions
      cf-markdown-action(actions="actions" name="strike"        disabled="!inMode('md')")
      cf-markdown-action(actions="actions" name="code"          disabled="!inMode('md')")
      cf-markdown-action(actions="actions" name="hr"            disabled="!inMode('md')")
      cf-markdown-action(actions="actions" name="indent"        disabled="!inMode('md')")
      cf-markdown-action(actions="actions" name="dedent"        disabled="!inMode('md')")
      cf-markdown-action(actions="actions" name="embed"         disabled="!inMode('md')")
      cf-markdown-action(actions="actions" name="table"         disabled="!inMode('md')")
      cf-markdown-action(actions="actions" name="special"       disabled="!inMode('md')")
      cf-markdown-action(actions="actions" name="organizeLinks" disabled="!inMode('md')")
      cf-markdown-action(actions="actions" name="undo"          disabled="!inMode('md') || !history.hasUndo()")
      cf-markdown-action(actions="actions" name="redo"          disabled="!inMode('md') || !history.hasRedo()")

  .markdown-areas
    .markdown-editing-area(
      tabindex="0"
      ng-show="inMode('md')")
      textarea

    .markdown-preview(
      ng-show="inMode('rich')"
      ng-click="setMode('md')")
      cf-markdown-preview(preview="preview")

    pre.markdown-html(
      ng-if="inDevelopment() && inMode('html')"
      ng-bind="preview.html"
      ng-click="setMode('md')")

  .markdown-help
    cf-icon(name="markdown")
    | Use Markdown syntax to format your text.&nbsp;
    a(href ng-click="actions.openHelp()") Help

  .markdown-info
    cf-markdown-stats(preview="preview")
    cf-markdown-requirements(preview="preview")

  cf-zenmode(
    ng-if="zen"
    zen-api="zenApi"
    preview="preview")
