div(ng-show="!isReady && !hasCrashed")
  .loading-box(style="height: 300px")
    .loading-box__spinner
    .loading-box__message
      | Initializing Markdown editor

div(ng-if="hasCrashed")
  | Markdown editor has crashed, please refresh the page&nbsp;
  i.fa.fa-warning

.markdown(ng-show="isReady && !hasCrashed")
  .markdown-tabs
    a(href ng-click="setMode('preview')" ng-class="{'inactive': !inMode('preview')}" data-test-id="markdown-tab-preview")
      | Preview
    a(href ng-click="setMode('md')" ng-show="!isDisabled" ng-class="{'inactive': !inMode('md')}" data-test-id="markdown-tab-md")
      | Editor

  .markdown-toolbar
    .markdown-actions
      react-component(
        name="markdown_editor/components/HeadingContextMenu"
        props="{actions: actions, isDisabled: !canEdit()}"
      )

      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'bold', isZenMode: false, isDisabled: !canEdit()}"
      )
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'italic', isZenMode: false, isDisabled: !canEdit()}"
      )
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'quote', isZenMode: false, isDisabled: !canEdit()}"
      )
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'ul', isZenMode: false, isDisabled: !canEdit()}"
      )
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'ol', isZenMode: false, isDisabled: !canEdit()}"
      )
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'link', isZenMode: false, isDisabled: !canEdit()}"
      )

      button.toolbar-button.markdown-more-actions.fa.fa-ellipsis-h(
        ng-click="toggleMinorActions()"
        tabindex="-1"
        tooltip="More actions…"
        ng-class="{'active': minorActionsShown}"
        ng-disabled="!canEdit()")

      button.toolbar-button.markdown-side-action(
        ng-click="zenApi.toggle()"
        tabindex="-1"
        ng-disabled="isDisabled")
          i.fa.fa-arrows-alt

      .markdown-toolbar-insert-media
        react-component(
          name="markdown_editor/components/InsertMediaComponent"
          props="{actions: actions}"
        )

    .markdown-minor-actions(ng-show="minorActionsShown")
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'strike', isZenMode: false, isDisabled: !canEdit()}"
      )
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'code', isZenMode: false, isDisabled: !canEdit()}"
      )
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'hr', isZenMode: false, isDisabled: !canEdit()}"
      )
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'indent', isZenMode: false, isDisabled: !canEdit()}"
      )
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'dedent', isZenMode: false, isDisabled: !canEdit()}"
      )
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'embed', isZenMode: false, isDisabled: !canEdit()}"
      )
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'table', isZenMode: false, isDisabled: !canEdit()}"
      )
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'special', isZenMode: false, isDisabled: !canEdit()}"
      )
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'organizeLinks', isZenMode: false, isDisabled: !canEdit()}"
      )
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'undo', isZenMode: false, isDisabled: !canEdit() || !history.hasUndo()}"
      )
      react-component(
        name="markdown_editor/components/ActionComponent"
        props="{actions: actions, name: 'redo', isZenMode: false, isDisabled: !canEdit() || !history.hasRedo()}"
      )

  .markdown-areas
    .markdown-editing-area(
      tabindex="0"
      ng-show="inMode('md')")
      textarea

    .markdown-preview(
      ng-show="inMode('preview')"
      )
      cf-markdown-preview(preview="preview" is-disabled="zen || inMode('md')")

  .markdown-help
    cf-icon(name="markdown")
    | Format your text like a pro with the&nbsp;
    a(href ng-click="actions.openHelp()") markdown cheatsheet
    |.

  cf-editor-character-info(
    constraints="constraints"
    word-count="preview.info.words"
    char-count="preview.info.chars")

  cf-zenmode(
    ng-if="zen"
    zen-api="zenApi"
    preview="preview"
    direction="direction")
