.cf-zenmode
  .zenmode-toolbar
    cf-markdown-heading-action(actions="actions" mode="zen")

    cf-markdown-action(actions="actions" name="bold"          mode="zen")
    cf-markdown-action(actions="actions" name="italic"        mode="zen")
    cf-markdown-action(actions="actions" name="quote"         mode="zen")
    cf-markdown-action(actions="actions" name="ul"            mode="zen")
    cf-markdown-action(actions="actions" name="ol"            mode="zen")
    cf-markdown-action(actions="actions" name="link"          mode="zen")
    cf-markdown-action(actions="actions" name="strike"        mode="zen")
    cf-markdown-action(actions="actions" name="code"          mode="zen")
    cf-markdown-action(actions="actions" name="hr"            mode="zen")
    cf-markdown-action(actions="actions" name="indent"        mode="zen")
    cf-markdown-action(actions="actions" name="dedent"        mode="zen")
    cf-markdown-action(actions="actions" name="embed"         mode="zen")
    cf-markdown-action(actions="actions" name="table"         mode="zen")
    cf-markdown-action(actions="actions" name="special"       mode="zen")
    cf-markdown-action(actions="actions" name="organizeLinks" mode="zen")
    cf-markdown-action(actions="actions" name="undo"          mode="zen" disabled="!history.hasUndo()")
    cf-markdown-action(actions="actions" name="redo"          mode="zen" disabled="!history.hasRedo()")

    button.toolbar-button.markdown-side-action.active(
      ng-click="zenApi.toggle()")
      i.fa.fa-arrows-alt

    button.toolbar-button.markdown-side-action(
      ng-click="actions.asset()"
      tabindex="-1")
        i.fa.fa-picture-o
        |  Insert media

  .zenmode-editor.markdown-editing-area
    textarea
  .zenmode-preview
    .markdown-preview
      cf-markdown-preview(preview="preview")

  .zenmode-footer
    .zenmode-help
      cf-icon(name="markdown")
      | Use Markdown syntax to format your text.&nbsp;
      a(href ng-click="actions.openHelp()") Help

    cf-markdown-stats.zenmode-info(preview="preview")
    cf-markdown-requirements.zenmode-reqs(
      ng-if="preview.field.validations"
      preview="preview")
