.cf-zenmode
  .zenmode-toolbar
    .zenmode-logo.app-top-bar__logo-element
      cf-icon(name="logo-label")

    cf-markdown-heading-action(actions="actions" mode="zen")
    cf-markdown-action(actions="actions" name="bold"          mode="zen")
    cf-markdown-action(actions="actions" name="italic"        mode="zen")
    cf-markdown-action(actions="actions" name="quote"         mode="zen")
    cf-markdown-action(actions="actions" name="ul"            mode="zen")
    cf-markdown-action(actions="actions" name="ol"            mode="zen")
    cf-markdown-action(actions="actions" name="link"          mode="zen")
    cf-markdown-action(actions="actions" name="strike"        mode="zen")
    cf-markdown-action(actions="actions" name="code"          mode="zen")
    cf-markdown-action(actions="actions" name="hr"            mode="zen")
    cf-markdown-action(actions="actions" name="indent"        mode="zen")
    cf-markdown-action(actions="actions" name="dedent"        mode="zen")
    cf-markdown-action(actions="actions" name="embed"         mode="zen")
    cf-markdown-action(actions="actions" name="table"         mode="zen")
    cf-markdown-action(actions="actions" name="special"       mode="zen")
    cf-markdown-action(actions="actions" name="organizeLinks" mode="zen")
    cf-markdown-action(actions="actions" name="undo"          mode="zen" is-disabled="!history.hasUndo()")
    cf-markdown-action(actions="actions" name="redo"          mode="zen" is-disabled="!history.hasRedo()")

    button.toolbar-button.markdown-side-action.active(
      ng-click="zenApi.toggle()")
      i.fa.fa-arrows-alt

    cf-markdown-insert-media-action(actions="actions")

  button.zenmode-drawer__hide.fa.fa-angle-double-right(
    aria-label="Hide Preview"
    ng-click="showPreview(false)"
    ng-show="isPreviewActive")

  button.zenmode-drawer__show.fa.fa-angle-double-left(
    aria-label="Show Preview"
    ng-click="showPreview(true)"
    ng-show="!isPreviewActive")

  .zenmode-editor.markdown-editing-area
    textarea
  .zenmode-preview
    .markdown-preview
      cf-markdown-preview(preview="preview")

  .zenmode-footer
    .zenmode-help
      cf-icon(name="markdown")
      | Use Markdown syntax to format your text.&nbsp;
      a(href ng-click="actions.openHelp()") Help

    cf-markdown-stats.zenmode-info(preview="preview")
    cf-markdown-requirements.zenmode-reqs(
      ng-if="preview.field.validations"
      preview="preview")
