.cf-zenmode
  .zenmode-toolbar
    .zenmode-logo.app-top-bar__logo-element(cf-custom-logo)

    button.toolbar-button.markdown-headings.fa.fa-header(
      cf-context-menu-trigger
      tabindex="-1"
      tooltip="Headings"
      tooltip-placement="bottom")
        | &nbsp;
        i.fa.fa-chevron-down
    .context-menu(cf-context-menu="bottom")
      cf-icon.context-menu__arrow(name="arrow-up")
      ul.context-menu__items
        li(type="button" ng-click="actions.h1()")
          |  Heading 1
        li(type="button" ng-click="actions.h2()")
          | Heading 2
        li(type="button" ng-click="actions.h3()")
          | Heading 3

    cf-markdown-action(actions="actions" name="bold"          mode="zen")
    cf-markdown-action(actions="actions" name="italic"        mode="zen")
    cf-markdown-action(actions="actions" name="quote"         mode="zen")
    cf-markdown-action(actions="actions" name="ul"            mode="zen")
    cf-markdown-action(actions="actions" name="ol"            mode="zen")
    cf-markdown-action(actions="actions" name="link"          mode="zen")
    cf-markdown-action(actions="actions" name="strike"        mode="zen")
    cf-markdown-action(actions="actions" name="code"          mode="zen")
    cf-markdown-action(actions="actions" name="hr"            mode="zen")
    cf-markdown-action(actions="actions" name="indent"        mode="zen")
    cf-markdown-action(actions="actions" name="dedent"        mode="zen")
    cf-markdown-action(actions="actions" name="embed"         mode="zen")
    cf-markdown-action(actions="actions" name="table"         mode="zen")
    cf-markdown-action(actions="actions" name="special"       mode="zen")
    cf-markdown-action(actions="actions" name="organizeLinks" mode="zen")
    cf-markdown-action(actions="actions" name="undo"          mode="zen" disabled="!history.hasUndo()")
    cf-markdown-action(actions="actions" name="redo"          mode="zen" disabled="!history.hasRedo()")

    button.toolbar-button.markdown-side-action(
      ng-click="zenApi.toggle()")
      i.fa.fa-close
      |  Exit Zen Mode

    button.toolbar-button.markdown-side-action(
      ng-click="actions.asset()"
      tabindex="-1")
        i.fa.fa-picture-o
        |  Insert media

  .zenmode-editor.markdown-editing-area
    textarea
  .zenmode-preview
    .markdown-preview
      cf-markdown-preview(preview="preview")

  .zenmode-footer
    .zenmode-help
      cf-icon(name="markdown")
      | Use Markdown syntax to format your text.&nbsp;
      a(href ng-click="actions.openHelp()") Help
    .zenmode-info
      cf-markdown-stats(preview="preview")
      cf-markdown-requirements(preview="preview")
