.modal-background
  .modal-dialog.insert-asset-dialog(ng-controller="InsertAssetDialogController" ng-keyup="handleKeys($event)")
    header.modal-dialog__header
      h1 Insert media
      button.modal-dialog__close(ng-click="dialog.cancel()")
    .modal-dialog__content
      div.menu-with-buttons(
        cf-view-menu="uiConfig.assetListViews"
        ng-show="uiConfig")
      .main.search-area
        .l-search-w-autocomplete(
          cf-tokenized-search="context.view.searchTerm"
          search-content-type="assetContentType"
          placeholder="Search for assets"
          cf-on-blur-component="leftSearch($event)")
        .assets.endless-container(cf-endless-container at-bottom="searchController.loadMore()" num-elements="searchController.paginator.page")
          .asset(ng-repeat="asset in assets" ng-click="selectAsset(asset)")
            i.fa.fa-check(ng-show="selection.isSelected(asset)")
            .cf-thumbnail(cf-thumbnail file="spaceContext.localizedField(asset, 'data.fields.file')" size="100")
            .asset-title(title="{{spaceContext.assetTitle(asset)}}") {{spaceContext.assetTitle(asset)}}
    .modal-dialog__controls
      button.cfnext-btn-primary-action.modal-dialog__controls-confirm(
        ng-click="dialog.confirm(selection.getSelected())" type="button")
        | Insert selected
      button.cfnext-btn-secondary-action(
        ng-click="dialog.cancel()" type="button"
        ng-show="dialog.cancelLabel")
        | {{dialog.cancelLabel}}
