.modal-background
  .modal-dialog.insert-table-dialog
    header.modal-dialog__header
      h1 Insert table
      a.close-button(ng-click="dialog.cancel()")

    form.modal-dialog__content(name="tableForm")
      .cfnext-form__field
        label Number of rows
        input.cfnext-form__input--short(
          ng-model="model.rows" name="rows" type="number"
          min="2" max="100" pattern="[1-9][0-9]*"
          required autocomplete="off"
          cf-focus-on-render="model")
        .cfnext-form__hint Required. Enter value between 2 (one header row, one value row) and 100.

      .cfnext-form__field
        label Number of columns
        input.cfnext-form__input--short(
          ng-model="model.cols" name="cols" type="number"
          min="1" max="100" pattern="[1-9][0-9]*"
          required autocomplete="off")
        .cfnext-form__hint Required. Enter value between 1 and 100.

    .modal-dialog__controls
      button.cfnext-btn-primary-action.modal-dialog__controls-confirm(
        ng-click="dialog.confirm(model)"
        ng-disabled="!tableForm.$valid"
        type="button") Insert
      button.cfnext-btn-secondary-action(
        ng-click="dialog.cancel()"
        type="button") Cancel
