.modal-background
  .modal-dialog.insert-special-character-dialog
    header.modal-dialog__header
      h1 Insert special character
      button.modal-dialog__close(ng-click="dialog.cancel()")

    .modal-dialog__content
      .markdown-special-char-choice
        p(ng-bind-html="entity(model.choice)")
        small {{ model.choice.desc }}

      .markdown-special-char-choices
        .markdown-special-char(
          ng-repeat="char in specialCharacters track by char.id"
          ng-class="{'current': model.choice.id === char.id}"
          ng-click="model.choice = char"
          tooltip="{{ char.desc }}")
          span(ng-bind-html="entity(char)")

    .modal-dialog__controls.clear
      button.cfnext-btn-primary-action.modal-dialog__controls-confirm(
        ng-click="dialog.confirm(entity(model.choice))"
        type="button") Insert selected
      button.cfnext-btn-secondary-action(
        ng-click="dialog.cancel()"
        type="button") Cancel
