.modal-background
  .modal-dialog.insert-link-dialog
    header.modal-dialog__header
      h1 Insert link
      button.modal-dialog__close(ng-click="dialog.cancel()")
    form.modal-dialog__content(name="linkForm")
      .cfnext-form__field(ng-if="showLinkTextInput")
        label Link text
        input.cfnext-form__input--full-size(ng-model="model.text" name="text" type="text")
      .cfnext-form__field
        label Target URL
        input.cfnext-form__input--full-size(
          ng-model="model.url" name="url" type="url"
          ng-maxlength="2100"
          required autocomplete="off"
          cf-focus-on-render="model")
        .cfnext-form__hint Please include protocol (e.g. <code>https://</code>).
      .cfnext-form__field
        label Title of the link
        input.cfnext-form__input--full-size(ng-model="model.title" name="title" type="text")
        .cfnext-form__hint Optional, although commonly used to improve accessibility.
    .modal-dialog__controls
      button.btn-primary-action.modal-dialog__controls-confirm(
        ng-click="dialog.confirm(model)"
        ng-disabled="!linkForm.$valid"
        type="button") Insert
      button.btn-secondary-action(
        ng-click="dialog.cancel()"
        type="button") Cancel
