include ../../components/forms/embedly_preview/embedly_status.mixin.jade

.modal-background
  .modal-dialog.embed-content-dialog
    header.modal-dialog__header
      h1 Embed external content
      button.modal-dialog__close(ng-click="dialog.cancel()")

    form.modal-dialog__content(name="contentForm")
      .cfnext-form__field
        label
          | Content URL (
          a(href="http://embed.ly/providers" target="_blank") supported sources
          | )
        input.cfnext-form__input--full-size(
        ng-model="model.value"
        name="url"
        autocomplete="off"
        cf-focus-on-render="model")
        +embedly-status
        .cfnext-form__hint Please include protocol (e.g. <code>http://</code>).

      .cfnext-form__field
        label Width
        input.cfnext-form__input--short(
          ng-show="model.widthSuffix === 'percent'"
          ng-model="model.width.percent"
          name="widthPercent"
          type="number"
          min="1" max="100" pattern="[1-9][0-9]*"
          required
          autocomplete="off")
        input.cfnext-form__input--short(
          ng-show="model.widthSuffix === 'px'"
          ng-model="model.width.px"
          name="widthPx"
          type="number"
          min="1" pattern="[1-9][0-9]*"
          required
          autocomplete="off")
        label.cfnext-form-option.embed-content-dialog__suffix
          input(type="radio" ng-model="model.widthSuffix" value="percent")
          | percent
        label.cfnext-form-option.embed-content-dialog__suffix
          input(type="radio" ng-model="model.widthSuffix" value="px")
          | pixels

      label.cfnext-form-option
        input(type="checkbox" ng-model="model.social")
        | Attach social sharing links to this element

      .cfnext-form__hint
        | To enable this embedded content in your application make sure to add the&nbsp;
        a(href="http://embed.ly/docs/products/cards" target="_blank") Embedly's platform.js
        |  on your development environment

      cf-embedly-preview(preview-url="model.value" url-status="urlStatus")

    .modal-dialog__controls
      button.btn-primary-action.modal-dialog__controls-confirm(
      ng-click="dialog.confirm(model)"
      ng-disabled="urlStatus !== 'ok' || !contentForm.$valid"
      type="button") Insert
      button.btn-secondary-action(
      ng-click="dialog.cancel()"
      type="button") Cancel
