input.entry-editor__input(
  type="{{isNumberTypeEnabled ? 'number' : 'text'}}"
  aria-invalid="{{hasErrors || !!parseWarning}}"
  ng-attr-min="{{isNumberTypeEnabled ? min : undefined}}"
  ng-attr-max="{{isNumberTypeEnabled ? max : undefined}}"
  ng-attr-step="{{isNumberTypeEnabled ? step : undefined}}"
  ng-disabled="isDisabled")
.cfnext-form__field-error(
  role="status"
  data-error-code="entry.number.parseError"
  ng-show="parseWarning")
    | {{parseWarning}}
