input.entry-editor__input(
  type="number"
  aria-invalid="{{hasErrors || !!parseWarning}}"
  ng-attr-min="{{min}}"
  ng-attr-max="{{max}}"
  ng-attr-step="{{step}}"
  ng-disabled="isDisabled")
.cfnext-form__field-error(
  role="status"
  data-error-code="entry.number.parseError"
  ng-show="parseWarning")
    | {{parseWarning}}
