header.workbench-header
  cf-breadcrumbs
  .workbench-header__left
    cf-icon.workbench-header__icon(name="page-media")
    h1.workbench-header__title
      | Media
      cf-knowledge-base.workbench-headr__kb-link(target="asset")

  .workbench-header__search.search-area(
    ng-hide="showNoAssetsAdvice()")
    .search-area__input(
      cf-tokenized-search="context.view.searchTerm"
      search-content-type="assetContentType"
      placeholder="Search for assets")

    .search-results-position(cf-search-results-position paginator="searchController.paginator" ng-hide="!searchController.paginator.getTotal()")

  .workbench-header__actions(
    ng-show="!showNoAssetsAdvice() && !shouldHide('createAsset')")
    button.btn-action(
      cf-context-menu-trigger
      ng-disabled="shouldDisable('createAsset')"
      cf-when-disabled="createAsset"
      data-test-id="add-asset-menu-trigger")
      cf-icon.btn-icon.inverted(name="plus")
      cf-icon.btn-dropdown-icon(name="dd-arrow-down")
      | Add asset
    .context-menu(
      role="menu" cf-context-menu
      aria-label="Add Assets" data-test-id="add-asset-menu")
      ul.context-menu__items
        li(role="menuitem" ng-click="entityCreationController.newAsset()")
          | Single asset
        li(role="menuitem" ng-click="createMultipleAssets()" ng-show="canUploadMultipleAssets()")
          | Multiple assets

.workbench-main(ng-hide="showNoAssetsAdvice()")
  .workbench-main__left-sidebar(
    ng-show="uiConfig"
    cf-view-menu="uiConfig.assetListViews")

  .workbench-main__right-content
    table.result-list.main-results.main-header
      thead
        tr
          th.cell-select
            input(type="checkbox" cf-selection="assets" ng-show="assets.length > 0" tabindex="-1")
          th.cell-preview Preview
          th.cell-name Name
          th.cell-dimensions Dimensions
          th.cell-type Type
          th.cell-updated Updated
          th.cell-author By
          th.cell-status Status

    .main-results-wrapper.endless-container(cf-endless-container at-bottom="searchController.loadMore()" num-elements="searchController.paginator.getPage()")
      table.result-list.main-results
        tbody
          tr(ng-repeat="asset in assets track by asset.getId()"
              ng-init="entityNavState='spaces.detail.assets.detail({ assetId: asset.getId() })'; file=spaceContext.localizedField(asset, 'data.fields.file')"
              ui-sref="{{entityNavState}}")
            td.cell-select(ng-click="selection.toggle(asset);$event.stopPropagation()")
              input(type="checkbox" cf-selection="asset" tabindex="-1")
            td.cell-preview(ng-class="{'no-padding': (!!file)}")
              .cf-thumbnail(cf-thumbnail file="file" size="30" ng-if="file")
            td.cell-name
              a.entity-list-link(ui-sref="{{entityNavState}}") {{spaceContext.assetTitle(asset)}}
            td.cell-dimensions
              span(ng-bind-html="getAssetDimensions(asset)")
            td.cell-type
              a.entity-list-link(ui-sref="{{entityNavState}}")
                span {{file|fileType}}
                span.extension {{file|fileExtension}}
            td.cell-updated
              a.entity-list-link(ui-sref="{{entityNavState}}")
                date(ng-if="asset.getUpdatedAt()" datetime="{{asset.getUpdatedAt()}}" cf-relative-datetime)
            td.cell-author
              a.entity-list-link(cf-user link="asset.getUpdatedBy()" as="updater" ui-sref="{{entityNavState}}")
                | {{updater | userNameDisplay:user}}
            td.cell-status(ng-class="entityStatus.getClassname(asset)")
              a.draft-wrapper.entity-list-link(ui-sref="{{entityNavState}}")
                .status-label {{entityStatus.getLabel(asset)}}
                .status-bar
      .loading(ng-hide="searchController.paginator.isAtLast()")

    .advice(ng-show="assets | isEmpty")
      .advice__frame
        i.fa.fa-search.fa-flip-horizontal.advice__giant-icon
        header.advice__title There are no matches to your search

.workbench-main.x--content(ng-show="showNoAssetsAdvice()")
  include ./no_assets_advice


.workbench-actions(
  ng-hide="selection.isEmpty()"
  ng-controller="AssetListActionsController")
  .workbench-actions__label
    | {{selection.size()}} Assets selected
  button.btn-secondary-action.delete(type="button"
    ng-show="showDelete()"
    cf-context-menu-trigger
    data-test-id="delete-asset")
    | Delete
  .delete-confirm(cf-context-menu="top")
    p You are about to delete {{selection.size()}} Assets
    button.btn-caution(type="button" ng-click="deleteSelected()") Delete
    button.btn-secondary-action(type="button") Don't Delete
  button.btn-secondary-action.archive(type="button" ng-click="archiveSelected()"   ng-show="showArchive()"  ) Archive
  button.btn-secondary-action.unarchive(type="button" ng-click="unarchiveSelected()" ng-show="showUnarchive()") Unarchive
  button.btn-secondary-action.unpublish(type="button" ng-click="unpublishSelected()" ng-show="showUnpublish()") Unpublish
  button.btn-primary-action.publish(  type="submit" ng-click="publishSelected()"   ng-show="showPublish()"  ) {{publishButtonName()}}
