include ../advice.mixin.jade

header.workbench-header
  cf-breadcrumbs
  .workbench-header__left
    cf-icon.workbench-header__icon(name="page-media")
    h1.workbench-header__title
      | Media
      cf-knowledge-base.workbench-headr__kb-link(target="asset")

  .workbench-header__search.search-area(
    ng-hide="showNoAssetsAdvice()")
    .search-area__input(
      cf-tokenized-search="context.view.searchTerm"
      search-content-type="assetContentType"
      placeholder="Type to search. Press the down arrow key for help.")

    .search-results-position(cf-search-results-position paginator="searchController.paginator" ng-hide="!searchController.paginator.getTotal()")

  .workbench-header__actions(
    ng-show="!showNoAssetsAdvice() && !shouldHide('createAsset')")
    button.btn-action(
      cf-context-menu-trigger
      ng-disabled="shouldDisable('createAsset')"
      cf-when-disabled="createAsset"
      data-test-id="add-asset-menu-trigger")
      cf-icon.btn-icon.inverted(name="plus")
      cf-icon.btn-dropdown-icon(name="dd-arrow-down")
      | Add asset
    .context-menu(
      role="menu" cf-context-menu
      aria-label="Add Assets" data-test-id="add-asset-menu")
      ul.context-menu__items
        li(role="menuitem" ng-click="entityCreationController.newAsset()")
          | Single asset
        li(role="menuitem" ng-click="createMultipleAssets()" ng-show="canUploadMultipleAssets()")
          | Multiple assets

.workbench-main(ng-hide="showNoAssetsAdvice()")
  .workbench-main__left-sidebar(
    ng-show="uiConfig"
    cf-view-menu="uiConfig.assetListViews")

  .workbench-main__right-content
    .table
      .table__head
        table
          thead
            tr
              th.x--checkbox-cell
                input(type="checkbox" cf-selection="assets" ng-show="assets.length > 0" tabindex="-1")
              th.x--small-cell Preview
              th.x--large-cell Name
              th.x--medium-cell Dimensions
              th Type
              th Updated
              th By
              th.x--small-cell Status

      .table__bulk-actions(ng-hide="selection.isEmpty()")
        .workbench-actions(ng-controller="AssetListActionsController")
          .workbench-actions__label
            | {{selection.size() === 1 ? '1 asset' : selection.size() + ' assets'}} selected:
          span.text-link--destructive.delete(type="button"
            ng-show="showDelete()"
            cf-context-menu-trigger
            data-test-id="delete-asset")
            | Delete
          .delete-confirm(cf-context-menu="bottom")
            p You are about to delete {{selection.size() === 1? '1 asset' : selection.size() + ' assets'}}
            span.btn-caution(type="button" ng-click="deleteSelected()") Delete
            span.text-link--neutral-emphasis-mid(type="button") Don't Delete
          span.text-link--neutral-emphasis-mid.archive(type="button" ng-click="archiveSelected()"   ng-show="showArchive()"  ) Archive
          span.text-link--neutral-emphasis-mid.unarchive(type="button" ng-click="unarchiveSelected()" ng-show="showUnarchive()") Unarchive
          span.text-link--neutral-emphasis-mid.unpublish(type="button" ng-click="unpublishSelected()" ng-show="showUnpublish()") Unpublish
          span.text-link--constructive.publish(  type="submit" ng-click="publishSelected()"   ng-show="showPublish()"  ) {{publishButtonName()}}

      .table__body.endless-container(cf-endless-container at-bottom="searchController.loadMore()" num-elements="searchController.paginator.getPage()")
        table
          tbody
            tr(ng-repeat="asset in assets track by asset.getId()"
                ng-init="file=spaceContext.localizedField(asset, 'data.fields.file')"
                ui-sref="spaces.detail.assets.detail({ assetId: asset.getId() })"
                ng-class="{'x--highlight': isSelected(asset)}")
              td.x--checkbox-cell(ng-click="selection.toggle(asset);$event.stopPropagation()")
                input(type="checkbox" cf-selection="asset" tabindex="-1")
              td.x--small-cell(ng-class="{'no-padding': (!!file)}")
                cf-thumbnail(file="file" size="30" ng-if="file")
              td.x--large-cell {{ spaceContext.assetTitle(asset) }}
              td.x--medium-cell
                span(ng-bind-html="getAssetDimensions(asset)")
              td
                span {{file|fileType}}
                span.extension {{file|fileExtension}}
              td
                date(ng-if="asset.getUpdatedAt()" datetime="{{asset.getUpdatedAt()}}" cf-relative-datetime)
              td
                span(cf-user link="asset.getUpdatedBy()" as="updater")
                  | {{updater | userNameDisplay:user}}
              td.entity-status.x--small-cell(ng-class="entityStatus.getClassname(asset)")
                | {{entityStatus.getLabel(asset)}}
        .loading(ng-hide="searchController.paginator.isAtLast()")

    +no-search-results("!assets.length || isEmpty", "context.view.searchTerm")

.workbench-main.x--content(ng-show="showNoAssetsAdvice()")
  include ./no_assets_advice
