include ../advice.mixin.jade
include ../pluralize_entity.mixin.jade
include ../../shared/table_pattern.mixin.jade

header.workbench-header
  cf-breadcrumbs
  .workbench-header__left
    cf-icon.workbench-header__icon(name="page-media", scale="0.75")
    h1.workbench-header__title
      | Media
      cf-knowledge-base.workbench-header__kb-link(target="asset")

  .workbench-header__search
    cf-component-bridge(style="flex: 1; z-index: 1" component="search")
    a.text-link(
      style="margin-left: 15px"
      ng-click="savedViewsSidebar.api.saveCurrentView()"
    ) Save as view

  .workbench-header__actions(
    ng-show="!showNoAssetsAdvice() && !shouldHide('createAsset')")
    button.btn-action(
      cf-context-menu-trigger
      ng-disabled="shouldDisable('createAsset')"
      cf-when-disabled="createAsset"
      data-test-id="add-asset-menu-trigger")
      cf-icon.btn-dropdown-icon(name="dd-arrow-down")
      | Add asset
    .context-menu(
      role="menu" cf-context-menu
      aria-label="Add Assets" data-test-id="add-asset-menu")
      ul.context-menu__items
        li(role="menuitem" ng-click="newAsset()")
          | Single asset
        li(role="menuitem" ng-click="createMultipleAssets()" ng-show="canUploadMultipleAssets()")
          | Multiple assets

.workbench-main(ng-hide="showNoAssetsAdvice()")
  .workbench-main__left-sidebar(style="max-height: 100vh; overflow-y: hidden")
    cf-component-store-bridge(component="savedViewsSidebar")

  .workbench-main__right-content
    .search-results__count(ng-show="paginator.getTotal() > 0")
      +pluralize-entity("asset", "paginator.getTotal()", "found")

    react-component(
      ng-if="!isLegacyOrganization && isInsideMasterEnv && paginator.getTotal() > 0"
      name="components/shared/RecordsResourceUsage"
      props="usageProps"
      watch-depth="reference"
    )

    .table(ng-show="assets.length && !isEmpty")
      .table__head
        table
          thead
            tr
              th(aria-label="cell-preview").th__checkbox-cell.x--image-cell
                div
                  label(ng-click="$event.stopPropagation()")
                    input(type="checkbox" cf-selection="assets" ng-click="selection.toggleList(assets, $event)" ng-show="assets.length > 0" tabindex="-1")
                  div
                    | Preview
              th(aria-label="cell-name").x--large-cell Name
              th(aria-label="cell-dimensions").x--medium-cell Dimensions
              th(aria-label="cell-type") Type
              th(aria-label="cell-updated") Updated
              th(aria-label="cell-author").x--small-cell By
              th(aria-label="cell-status").x--small-cell Status

      .table__bulk-actions(ng-hide="selection.isEmpty()")
        .workbench-actions(ng-controller="AssetListActionsController")
          .workbench-actions__label
            +pluralize-entity("asset", "selection.size()", "selected: ")

          span(ng-show="!showArchive() && !showUnarchive() && !showDelete() && !showPublish() && !showUnpublish()")
            | No actions possible
          span.text-link--neutral-emphasis-mid(type="button"
            ng-click="archiveSelected()"
            ng-show="showArchive()"
            aria-label="archive")
            | Archive
          span.text-link--neutral-emphasis-mid(type="button"
            ng-click="unarchiveSelected()"
            ng-show="showUnarchive()"
            aria-label="unarchive")
            | Unarchive
          span.text-link--destructive(
            type="button"
            ng-show="showDelete()"
            cf-context-menu-trigger
            data-test-id="delete-asset"
            aria-label="delete")
            | Delete
          .delete-confirm(cf-context-menu="bottom")
            p You are about to delete #[+pluralize-entity("asset", "selection.size()")]
            button.btn-caution(type="button" ng-click="deleteSelected()") Delete
            button.btn-secondary-action(type="button") Don't Delete
          span.text-link--constructive(type="submit"
            ng-click="publishSelected()"
            ng-show="showPublish()"
            aria-label="publish")
            | {{publishButtonName()}}
          span.text-link--neutral-emphasis-mid(type="button"
            ng-click="unpublishSelected()"
            ng-show="showUnpublish()"
            aria-label="unpublish")
            | Unpublish

      .table__body
        table
          tbody
            tr(ng-repeat="asset in assets track by asset.getId()"
                ng-init="file=getAssetFile(asset);linkToAsset='^.detail({ assetId: asset.getId() })'"
                ui-sref="{{linkToAsset}}"
                ng-class="{'x--highlight': selection.isSelected(asset)}")
              td.td__checkbox-cell.x--image-cell(style="cursor: pointer" aria-label="cell-preview")
                div
                  label(ng-click="$event.stopPropagation()")
                    input(type="checkbox" cf-selection="asset" tabindex="-1" ng-click="selection.toggle(asset, $event)")
                  a(ui-sref="{{linkToAsset}}" ng-click="$event.stopPropagation();")
                    cf-thumbnail(file="file" size="30" ng-if="file")
              +td.x--large-cell(aria-label="cell-name"
                ui-sref="{{linkToAsset}}")
                | {{ spaceContext.assetTitle(asset) || '&nbsp;' }}
              +td.x--medium-cell(aria-label="cell-dimensions"
                ui-sref="{{linkToAsset}}")
                span(ng-bind-html="getAssetDimensions(asset)")
              +td(aria-label="cell-type"
                ui-sref="{{linkToAsset}}")
                span {{file|fileType}}
                span.extension {{file|fileExtension}}
              +td(aria-label="cell-updated"
                ui-sref="{{linkToAsset}}")
                date(ng-if="asset.getUpdatedAt()" datetime="{{asset.getUpdatedAt()}}" cf-relative-datetime)
              +td.x--small-cell(aria-label="cell-author"
                ui-sref="{{linkToAsset}}")
                span(cf-user link="asset.getUpdatedBy()" as="updater")
                  | {{updater | userNameDisplay:user}}
              +td.entity-status.x--small-cell(
                aria-label="cell-status"
                ui-sref="{{linkToAsset}}")
                span(ng-class="entityStatus.getClassname(asset)")
                  | {{entityStatus.getLabel(asset) || '&nbsp;'}}

    cf-search-results-paginator(paginator="paginator" pages="7")

    +no-search-results("hasNoSearchResults()")

.workbench-main.x--content(ng-show="showNoAssetsAdvice()")
  include ./no_assets_advice
