.tab-header
  .tab-header__title
    .page-icon-media
    h1
      | Media Library
      a(cf-knowledge-base-icon
        analytics-event="assets"
        href="https://contentful.zendesk.com/hc/en-us/articles/200513308-What-is-an-Asset-")


  .tab-header__search.search-area(ng-show="!showNoAssetsAdvice()")
    .l-search-w-autocomplete(
      cf-tokenized-search="context.view.searchTerm"
      search-content-type="assetContentType"
      placeholder="Search for Assets")

    .search-results-position(cf-search-results-position paginator="searchController.paginator" ng-hide="!searchController.paginator.numEntries")

  .tab-header__actions(ng-show="!showNoAssetsAdvice()")
    div(ng-if="showCreateAssetButton()")
      button.cfnext-btn-action(
        cf-context-menu-trigger
        ng-disabled="permissionController.get('createAsset', 'shouldDisable')"
        cf-when-disabled="permissionController.entityActions.createAsset"
        data-test-id="add-asset-menu-trigger")
        cf-icon.btn-icon.inverted(name="plus")
        cf-icon.btn-dropdown-icon(name="dd-arrow-down")
        | Add New Asset
      .context-menu(
        role="menu" cf-context-menu
        aria-label="Add Assets" data-test-id="add-asset-menu")
        cf-icon.context-menu__arrow(name="arrow-up")
        ul.context-menu__items
          li(role="menuitem" ng-click="entityCreationController.newAsset()")
            | Single Asset
          li(role="menuitem" ng-click="createMultipleAssets()")
            | Multiple Assets

.tab-main(ng-show="!showNoAssetsAdvice()")
  .left-nav
    div.menu-with-buttons(cf-view-menu="uiConfig.assetListViews" ng-show="uiConfig")

  .with-left-nav
    table.result-list.main-results.main-header
      thead
        tr
          th.cell-select
            input(type="checkbox" cf-selection ng-show="assets.length > 0" tabindex="-1")
          th.cell-preview Preview
          th.cell-name Name
          th.cell-dimensions Dimensions
          th.cell-type Type
          th.cell-updated Updated
          th.cell-author By
          th.cell-status Status

    .main-results-wrapper.endless-container(cf-endless-container at-bottom="searchController.loadMore()" num-elements="searchController.paginator.page")
      table.result-list.main-results
        tbody
          tr(ng-repeat="asset in visibleAssets = (assets | filter:visibleInCurrentList) track by asset.getId()"
              ng-init="entityNavState='spaces.detail.assets.detail({ assetId: asset.getId() })'; file=spaceContext.localizedField(asset, 'data.fields.file')"
              ui-sref="{{entityNavState}}")
            td.cell-select(ng-click="selection.toggle(asset);$event.stopPropagation()")
              input(type="checkbox" cf-selection="asset" tabindex="-1")
            td.cell-preview(ng-class="{'no-padding': (!!file)}")
              .cf-thumbnail(cf-thumbnail file="file" size="30" ng-if="file")
            td.cell-name
              a.entity-list-link(ui-sref="{{entityNavState}}") {{spaceContext.assetTitle(asset)}}
            td.cell-dimensions
              span(ng-bind-html="getAssetDimensions(asset)")
            td.cell-type
              a.entity-list-link(ui-sref="{{entityNavState}}")
                span {{file|fileType}}
                span.extension {{file|fileExtension}}
            td.cell-updated
              a.entity-list-link(ui-sref="{{entityNavState}}")
                date(ng-if="asset.getUpdatedAt()" datetime="{{asset.getUpdatedAt()}}" cf-relative-datetime)
            td.cell-author
              a.entity-list-link(cf-user link="asset.getUpdatedBy()" as="updater" ui-sref="{{entityNavState}}")
                | {{updater | userNameDisplay:user}}
            td.cell-status(ng-class="entityStatusController.getClassname(asset)")
              a.draft-wrapper.entity-list-link(ui-sref="{{entityNavState}}")
                .status-label {{entityStatusController.getLabel(asset)}}
                .status-bar
      .loading(ng-hide="searchController.paginator.atLast()")

    .advice(ng-show="visibleAssets | isEmpty")
      .advice__frame
        i.fa.fa-search.fa-flip-horizontal.advice__giant-icon
        header.advice__title There are no matches to your search

.advice(ng-show="showNoAssetsAdvice()")
  .advice__frame
    i.fa.fa-paperclip.advice__giant-icon
    header.advice__title You have no Assets yet.
    p.advice__description Assets are external documents that you can link to your Entries. They can be any file you wish, form sounds to images or videos to text documents.
    .dropdown-btn
      button.advice__action(
        cf-context-menu-trigger
        ng-hide="permissionController.get('createAsset', 'shouldHide')"
        ng-disabled="permissionController.get('createAsset', 'shouldDisable')"
        cf-when-disabled="permissionController.entityActions.createAsset"
        data-test-id="create-asset-menu-trigger")
        | Create an Asset
      .context-menu(
        role="menu" cf-context-menu
        aria-label="Create Asset" data-test-id="create-asset-menu")
        cf-icon.context-menu__arrow(name="arrow-up")
        ul.context-menu__items
          li(role="menuitem" ng-click="entityCreationController.newAsset()")
            | Single Asset
          li(role="menuitem" ng-click="createMultipleAssets()")
            | Multiple Assets
    a.knowledge-base-link(target="_blank" href="https://contentful.zendesk.com/hc/en-us/articles/200513308-What-is-an-Asset-")
      | Visit the Knowledge Base Pages
      i.fa.fa-question-circle


.tab-actions
  .label {{selection.size()}} Assets selected
  .button-set(ng-controller="AssetListActionsController" ng-hide="selection.isEmpty()")
    button.cfnext-btn-secondary-action.delete(type="button"
      ng-show="showDelete()"
      cf-context-menu-trigger
      data-test-id="delete-asset")
      | Delete
    .delete-confirm(cf-context-menu="top")
      cf-icon.context-menu__arrow.x--bottom(name="arrow-up")
      p You are about to delete {{selection.size()}} Assets
      button.cfnext-btn-caution(type="button" ng-click="deleteSelected()") Delete
      button.cfnext-btn-secondary-action(type="button") Don't Delete
    button.cfnext-btn-secondary-action.archive(type="button" ng-click="archiveSelected()"   ng-show="showArchive()"  ) Archive
    button.cfnext-btn-secondary-action.unarchive(type="button" ng-click="unarchiveSelected()" ng-show="showUnarchive()") Unarchive
    button.cfnext-btn-secondary-action.unpublish(type="button" ng-click="unpublishSelected()" ng-show="showUnpublish()") Unpublish
    button.cfnext-btn-primary-action.publish(  type="submit" ng-click="publishSelected()"   ng-show="showPublish()"  ) {{publishButtonName()}}
