.empty-state
  cf-icon(name="empty-media" class="empty-state__icon")
  .empty-state__title
    | OK, it’s time to add media!
  .empty-state__description
    | Your media consists of assets, external files, that can be anything, from images or videos to documents. Get started by uploading your first asset.
  .empty-state__action
    button.btn-action--large(
      cf-context-menu-trigger
      ng-hide="shouldHide('createAsset')"
      ng-disabled="shouldDisable('createAsset')"
      cf-when-disabled="createAsset"
      data-test-id="create-asset-menu-trigger")
      cf-icon.btn-dropdown-icon(name="dd-arrow-down")
      | Add asset(s)
    .context-menu(
      role="menu" cf-context-menu
      aria-label="Create Asset" data-test-id="create-asset-menu")
      ul.context-menu__items
        li(role="menuitem" ng-click="newAsset()")
          | Single asset
        li(role="menuitem" ng-click="createMultipleAssets()" ng-show="canUploadMultipleAssets()")
          | Multiple assets

  .empty-state__note-box(ng-if="hasArchivedAssets")
    | You can look up old assets in the
    | <a ng-click="loadView({searchTerm: 'status:archived'})">archive</a>.
