input.form-control.date(type="text" ng-model="localDate" ng-disabled="isDisabled(field, locale)")
i.fa.fa-calendar
span(ng-show="hasTime")
  input.form-control.time(type="text" ng-model="localTime" ng-disabled="isDisabled(field, locale)" placeholder="eg. {{maxTime}}")
  i.fa.fa-clock-o
  select.cfnext-select-box.ampm(
    ng-show="widget.widgetParams.ampm == '12'"
    ng-model="ampm" ng-disabled="isDisabled(field, locale)")
    option(value="am") AM
    option(value="pm") PM

  select.cfnext-select-box.zone(
    ng-hide="!localTime || !hasTimezone"
    ng-model="tzOffset"
    ng-options="offset as ('UTC'+offset) for offset in timezones"
    tooltip="Timezone"
    ng-disabled="isDisabled(field, locale)")
    option(value="") (None)

i.fa.fa-exclamation-triangle.is-date-invalid(ng-show="dateInvalid" tooltip="You must provide a valid date" tooltip-placement="right")
i.fa.fa-exclamation-triangle.is-time-invalid(ng-show="timeInvalid" tooltip="Time must be of format {{maxTime}}.999" tooltip-placement="right")
