.create-new-space-dialog.modal-dialog(
      ng-class="{'ps-03-2017-example-space-impact': createSpace.exampleSpaceTest.isActive}")
  .modal-dialog__header.create-new-space-dialog__header
    button.create-new-space-dialog__close.modal-dialog__close(
      ng-if="createSpace.viewState === 'createSpaceForm'"
      ng-click="dialog.cancel()")
  form(
    ng-show="createSpace.viewState === 'createSpaceForm'"
    ng-submit="createSpace.requestSpaceCreation()"
    name="newSpaceForm")
    .create-new-space-dialog__content.modal-dialog__content
      //- when cleaning up test ps-03-2017-example-space-impact
      //- remove the condition from this div
      div(ng-if="!createSpace.exampleSpaceTest.isActive")
        h2.create-new-space-dialog__heading
          | Create a new space
        p.create-new-space-dialog__subheading
          | A space is a place where you keep all the content related to a single project.

      //- Begin A/B experiment code - ps-03-2017-example-space-impact
      div(ng-if="createSpace.exampleSpaceTest.isActive")
        h2.create-new-space-dialog__heading
          | Hey {{createSpace.exampleSpaceTest.firstName}}! We're well on our way to your first API call.
        p.create-new-space-dialog__subheading
          | Now we’ll create a basic demo project with some content on top of it so that
          | you don’t have to spend time on that part right now and can go straight to making an API call.
      .create-new-space__form(ng-if="createSpace.exampleSpaceTest.isActive")
        .create-new-space__fieldset
          .cfnext-form__field(ng-hide="createSpace.writableOrganizations.length === 1")
            label
              strong Organization
            select.cfnext-select-box(
              data-test-id="select-organization"
              ng-model="createSpace.newSpace.organization"
              ng-options="opt as opt.name for opt in createSpace.writableOrganizations"
              ng-disabled="createSpace.createSpaceInProgress"
              aria-invalid="{{!!createSpace.newSpace.errors.fields.organization}}")
            p.cfnext-form__field-error(
              ng-if="createSpace.newSpace.errors.fields.organization")
              | {{createSpace.newSpace.errors.fields.organization}}
          .cfnext-form__field
            label(for="newspace-name")
              strong Name your project
            input.cfnext-form__input(
              id="newspace-name"
              placeholder="\"Hello World\" would work nicely"
              ng-model="createSpace.newSpace.data.name"
              ng-required="required"
              cf-focus-on-render
              type="text"
              ng-disabled="createSpace.createSpaceInProgress"
              aria-invalid="{{!!createSpace.newSpace.errors.fields.name}}")
            p.cfnext-form__field-error(
              ng-if="createSpace.newSpace.errors.fields.name")
              | {{createSpace.newSpace.errors.fields.name}}

        .cfnext-form__field(ng-show="createSpace.newSpace.errors.form")
          .cfnext-form__field-error
            | {{createSpace.newSpace.errors.form}}

      .modal-dialog__slice.create-new-space__templates.open(ng-if="createSpace.exampleSpaceTest.isActive")
        .create-new-space__templates__inner
          p(style="cursor: default")
            strong Choose an example
          div
            .create-new-space__templates__nav
              a.create-new-space__templates__navitem(
                ng-repeat="template in createSpace.templates"
                ng-click="createSpace.selectTemplate(template)"
                ng-class="{selected: createSpace.newSpace.selectedTemplate === template}")
                cf-icon.create-new-space__templates__navitem__icon(
                  name="{{template.svgName}}")
                | {{template.name}}
            .create-new-space__templates__description(
              ng-show="template === createSpace.newSpace.selectedTemplate"
              ng-repeat="template in createSpace.templates")
              img.create-new-space__templates__image(
                ng-src="{{template.image.fields.file.url}}")
              .create-new-space__templates__text
                div(ng-bind-html="template.descriptionV2")
      //- End A/B experiment code - ps-03-2017-example-space-impact

      .create-new-space__form(ng-if="!createSpace.exampleSpaceTest.isActive")
        .create-new-space__fieldset
          .cfnext-form__field(ng-hide="createSpace.writableOrganizations.length === 1")
            label
              strong Organization
            select.cfnext-select-box(
              data-test-id="select-organization"
              ng-model="createSpace.newSpace.organization"
              ng-options="opt as opt.name for opt in createSpace.writableOrganizations"
              ng-disabled="createSpace.createSpaceInProgress"
              aria-invalid="{{!!createSpace.newSpace.errors.fields.organization}}")
            p.cfnext-form__field-error(
              ng-if="createSpace.newSpace.errors.fields.organization")
              | {{createSpace.newSpace.errors.fields.organization}}
          .cfnext-form__field
            label(for="newspace-name")
              strong Space name
            input.cfnext-form__input(
              id="newspace-name"
              ng-model="createSpace.newSpace.data.name"
              ng-required="required"
              cf-focus-on-render
              type="text"
              ng-disabled="createSpace.createSpaceInProgress"
              aria-invalid="{{!!createSpace.newSpace.errors.fields.name}}")
            p.cfnext-form__field-error(
              ng-if="createSpace.newSpace.errors.fields.name")
              | {{createSpace.newSpace.errors.fields.name}}
          .cfnext-form__field
            label
              strong Language
            select.cfnext-select-box(
              data-test-id="select-locale"
              ng-model="createSpace.newSpace.data.defaultLocale"
              ng-options="opt.code as opt.displayName for opt in createSpace.localesList"
              ng-disabled="createSpace.createSpaceInProgress"
              aria-invalid="{{!!createSpace.newSpace.errors.fields.default_locale}}")
            p.cfnext-form__field-error(
              ng-if="createSpace.newSpace.errors.fields.default_locale")
              | {{createSpace.newSpace.errors.fields.default_locale}}

        .cfnext-form__field(ng-show="createSpace.newSpace.errors.form")
          .cfnext-form__field-error
            | {{createSpace.newSpace.errors.form}}
        .cfnext-form__field.create-new-space__form__radios
          .cfnext-form-option.create-new-space__form__option
            input(
              type="radio"
              id="newspace-template-none"
              name="useTemplate"
              ng-value="false"
              ng-model="createSpace.newSpace.useTemplate"
              ng-disabled="createSpace.createSpaceInProgress")
            label(for="newspace-template-none")
              strong Create an empty space.
              span.create-new-space__form__label-description
                |  I'll fill it with my own content.
          .cfnext-form-option.create-new-space__form__option(
            ng-show="createSpace.templates")
            input(
              type="radio"
              id="newspace-template-usetemplate"
              name="useTemplate"
              ng-value="true"
              ng-model="createSpace.newSpace.useTemplate"
              ng-disabled="createSpace.createSpaceInProgress")
            label(for="newspace-template-usetemplate")
              strong Create an example space.
              span.create-new-space__form__label-description
                |  I'd like to see how things work first.
      .modal-dialog__slice.create-new-space__templates(
        ng-if="!createSpace.exampleSpaceTest.isActive"
        ng-class="{'open': createSpace.newSpace.useTemplate && createSpace.templates.length}")
        cf-icon(name="arrow-up")
        .create-new-space__templates__inner
          div
            .create-new-space__templates__nav
              a.create-new-space__templates__navitem(
                ng-repeat="template in createSpace.templates"
                ng-click="createSpace.selectTemplate(template)"
                ng-class="{selected: createSpace.newSpace.selectedTemplate === template}")
                cf-icon.create-new-space__templates__navitem__icon(
                  name="{{template.svgName}}")
                | {{template.name}}
            .create-new-space__templates__description(
              ng-show="template === createSpace.newSpace.selectedTemplate"
              ng-repeat="template in createSpace.templates")
              img.create-new-space__templates__image(
                ng-src="{{template.image.fields.file.url}}")
              .create-new-space__templates__text
                div(ng-bind-html="template.descriptionV2")

    //- Begin A/B experiment code - ps-03-2017-example-space-impact
    .modal-dialog__controls.create-new-space-dialog__controls--centered(ng-if="createSpace.exampleSpaceTest.isActive")
      button.btn-action(
        ng-class="{'is-loading': createSpace.createSpaceInProgress}"
        ng-disabled="createSpace.createSpaceInProgress"
        data-test-id="create-space")
        | Create sample content
    //- End A/B experiment code - ps-03-2017-example-space-impact

    .modal-dialog__controls.create-new-space-dialog__controls--right(ng-if="!createSpace.exampleSpaceTest.isActive")
      button.btn-action(
        ng-class="{'is-loading': createSpace.createSpaceInProgress}"
        ng-disabled="createSpace.createSpaceInProgress"
        data-test-id="create-space")
        | Create space

  //- Space creation in progress
  div(ng-show="createSpace.viewState === 'creatingTemplate'")
    .modal-dialog__content
      .create-new-space__templates__status
        .spinner(ng-show="createSpace.createTemplateInProgress")
        cf-icon(
          name="checkmark"
          scale="2"
          ng-show="!createSpace.createTemplateInProgress")
      h2.create-new-space-dialog__heading
        | Hang on, we're preparing your space
      p.create-new-space-dialog__subheading
        | In the meantime, let us quickly explain the kind of things you’ll find in your space
      .create-new-space__templates__entities
        .create-new-space__templates__entity
          cf-icon(name="page-ct")
          .create-new-space__templates__entity__description
            h3 Content model
            p The content model is comprised of content types, they work like a stencil which defines the structure of entries. We’re creating a few different content types for you to see how it works.
        .create-new-space__templates__entity
          cf-icon(name="page-entries")
          .create-new-space__templates__entity__description
            h3 Content
            p Your content is made up of entries. The space will include a couple of entries based on the content types mentioned above.
        .create-new-space__templates__entity
          cf-icon(name="page-media")
          .create-new-space__templates__entity__description
            h3 Media
            p Your media consists of assets, which are external files, from images or videos to documents. Your entries will have a few assets to complement them.

        .create-new-space__templates__entity
          cf-icon(name="page-api")
          .create-new-space__templates__entity__description
            h3 API keys
            p An API key is the token that you’ll use to retrieve your content. We created a few API keys so that you can get started fetching your content right away.

    .modal-dialog__controls.create-new-space-dialog__controls--centered
      button.btn-action(
        data-test-id="get-started"
        ng-disabled="createSpace.createTemplateInProgress"
        ng-click="dialog.confirm()")
        | Get started
