include ./../onboarding_dialog/onboarding_nav.mixin.jade

//- Create space form
form(
  ng-show="createSpace.viewState === 'createSpaceForm'"
  ng-submit="createSpace.requestSpaceCreation()"
  name="newSpaceForm")
  .create-new-space-dialog__content.modal-dialog__content
    div(ng-show="createSpace.isOnboarding")
      +onboarding-dialog-nav(step="2")
      h2.create-new-space-dialog__heading(ng-show="createSpace.isOnboarding")
        | Let's create your first space now
    div(ng-show="!createSpace.isOnboarding")
      h2.create-new-space-dialog__heading
        | Create a new space
    p.create-new-space-dialog__subheading
      | A space is a place where you keep all the content related to a single project.
    .create-new-space__form
      .cfnext-form__fieldset.cfnext-form__fieldset__flex
        .cfnext-form__field
          label(for="newspace-name")
            strong Name
          input.cfnext-form__input(
            id="newspace-name"
            ng-model="createSpace.newSpace.data.name"
            ng-required="required"
            cf-focus-on-render
            type="text"
            ng-disabled="createSpace.createSpaceInProgress")
          div
            | {{createSpace.newSpace.errors.fields.name}}
        .cfnext-form__field
          label
            strong Language
          select.cfnext-select-box(
            data-test-id="select-locale"
            ng-model="createSpace.newSpace.data.defaultLocale"
            ng-options="opt.code as opt.displayName for opt in createSpace.localesList"
            ng-disabled="createSpace.createSpaceInProgress")
          div
            | {{createSpace.newSpace.errors.fields.default_locale}}
        .cfnext-form__field(ng-hide="createSpace.writableOrganizations.length === 1")
          label
            strong Organization
          select.cfnext-select-box(
            data-test-id="select-organization"
            ng-model="createSpace.newSpace.organization"
            ng-options="opt as opt.name for opt in createSpace.writableOrganizations"
            ng-disabled="createSpace.createSpaceInProgress")
          div
            | {{createSpace.newSpace.errors.fields.organization}}
      .cfnext-form__fieldset(ng-show="createSpace.newSpace.errors.form")
        .cfnext-form__field
          .cfnext-form__field-error
          | {{createSpace.newSpace.errors.form}}
      .cfnext-form__fieldset
        .cfnext-form__field
          .cfnext-form-option.create-new-space__form__option
            input(
              type="radio"
              id="newspace-template-none"
              name="useTemplate"
              ng-value="false"
              ng-model="createSpace.newSpace.useTemplate"
              ng-disabled="createSpace.createSpaceInProgress")
            label(for="newspace-template-none")
              strong Create an empty space.
              |  I'll fill it with my own content.
          .cfnext-form-option.create-new-space__form__option(
            ng-show="createSpace.templates")
            input(
              type="radio"
              id="newspace-template-usetemplate"
              name="useTemplate"
              ng-value="true"
              ng-model="createSpace.newSpace.useTemplate"
              ng-disabled="createSpace.createSpaceInProgress")
            label(for="newspace-template-usetemplate")
              strong Create an example space.
              |  I'd like to see how things work first.
    .modal-dialog__slice.create-new-space__templates(
      ng-class="{'open': createSpace.newSpace.useTemplate && createSpace.templates.length}")
      cf-icon(name="arrow-up")
      .create-new-space__templates__inner
        div
          .create-new-space__templates__nav
            a.create-new-space__templates__navitem(
              ng-repeat="template in createSpace.templates"
              ng-click="createSpace.selectTemplate(template)"
              ng-class="{selected: createSpace.newSpace.selectedTemplate === template}")
              cf-icon.create-new-space__templates__navitem__icon(
                name="{{template.svgName}}")
              | {{template.name}}
          .create-new-space__templates__description(
            ng-show="template === createSpace.newSpace.selectedTemplate"
            ng-repeat="template in createSpace.templates")
            img.create-new-space__templates__image(
              ng-src="{{template.image.fields.file.url}}")
            .create-new-space__templates__text
              div(ng-bind-html="template.descriptionV2")

  .modal-dialog__controls.create-new-space-dialog__controls--right
    button.cfnext-btn-action(
      ng-class="{'is-loading': createSpace.createSpaceInProgress}"
      ng-disabled="createSpace.createSpaceInProgress || !createSpace.newSpace.data.name.length"
      data-test-id="create-space")
      | Create Space

//- Space creation in progress
div(ng-show="createSpace.viewState === 'creatingTemplate'")
  .modal-dialog__content
    .create-new-space__templates__status
      .spinner(ng-show="createSpace.createTemplateInProgress")
      cf-icon(
        name="checkmark"
        scale="2"
        ng-show="!createSpace.createTemplateInProgress")
    h2.create-new-space-dialog__heading
      | Hang on, we're preparing your space
    p.create-new-space-dialog__subheading
      | In the meantime, let us quickly explain the kind of things you’ll find in your space
    .create-new-space__templates__entities
      .create-new-space__templates__entity
        cf-icon(name="page-ct")
        .create-new-space__templates__entity__description
          h3 Content Types
          p A content type works like a stencil which defines the structure of entries.
            span(ng-if="createSpace.newSpace.useTemplate")
              | &#32;We’re creating a few different content types for you to see how it works.
      .create-new-space__templates__entity
        cf-icon(name="page-entries")
        .create-new-space__templates__entity__description
          h3 Entries
          p Entries are your actual pieces of content.
            span(ng-if="createSpace.newSpace.useTemplate")
              | &#32;The space will include a couple of entries based on the content types mentioned above.
      .create-new-space__templates__entity
        cf-icon(name="page-media")
        .create-new-space__templates__entity__description
          h3 Assets
          p Assets are external documents, from sounds to images or videos to text.
            span(ng-if="createSpace.newSpace.useTemplate")
              | &#32;Your entries will have a few assets to complement them.

      .create-new-space__templates__entity
        cf-icon(name="page-api")
        .create-new-space__templates__entity__description
          h3 API Keys
          p An API key is the token that you’ll use to retrieve your content.
            span(ng-if="createSpace.newSpace.useTemplate")
              | &#32;We created a few API keys so that you can get started fetching your content right away.

  .modal-dialog__controls.create-new-space-dialog__controls--centered
    button.cfnext-btn-action(
      data-test-id="get-started"
      ng-disabled="createSpace.createTemplateInProgress"
      ng-click="createSpace.finishedSpaceCreation()")
      | Get started

