include ./validation_settings_mixins

<react-component name="@contentful/forma-36-react-components/CheckboxField" props="buildValidationCheckboxProps(validation)" />
.validation-controls(
  ng-switch="validation.type" ng-if="validation.enabled && (validation.type !== 'unique')"
  ng-form="validationForm"
  cf-validate="validation" cf-validate-form cf-validate-on="commit"
)

  div(ng-switch-when="size")
    +view-select

    span(ng-switch="validation.currentView")
      span(ng-switch-when="min")
        input.cfnext-form__input(
          type="number" placeholder="Min" aria-label="Minimum size"
          ng-model="validation.settings.min")
      span(ng-switch-when="max")
        input.cfnext-form__input(
           type="number" placeholder="Max" aria-label="Maximum size"
           ng-model="validation.settings.max")
      span(ng-switch-when="min-max")
        input.cfnext-form__input(
          type="number" placeholder="Min" aria-label="Minimum size"
          ng-model="validation.settings.min")
        span.validation-controls__input-separator and
        input.cfnext-form__input(
          type="number" placeholder="Max" aria-label="Maximum size"
          ng-model="validation.settings.max")
    +validation-errors
    +error-message-input


  div(ng-switch-when="range")
    +view-select

    span(ng-switch="validation.currentView")
      span(ng-switch-when="min")
        input.form-control(
          type="number" placeholder="Min" aria-label="Minimum value"
          ng-model="validation.settings.min")
      span(ng-switch-when="max")
        input.form-control(
          type="number" placeholder="Max" aria-label="Maximum value"
          ng-model="validation.settings.max")
      span(ng-switch-when="min-max")
        input.form-control(
          type="number" placeholder="Min" aria-label="Minimum value"
          ng-model="validation.settings.min")
        span.validation-controls__input-separator and
        input.form-control(type="number" placeholder="Max" aria-label="Maximum value"
                           ng-model="validation.settings.max")
    +validation-errors
    +error-message-input


  div(ng-switch-when="dateRange")
    cf-validation-date-select(aria-label="Later than" data="validation.settings.min")

    cf-validation-date-select(aria-label="Earlier than" data="validation.settings.max")

    +validation-errors
    +error-message-input

  div(ng-switch-when="regexp")
    +view-select(ng-change="validator.runLater()")

    input.form-control.validation-controls__re-pattern(
      type="text" placeholder="foo|bar[baz]" aria-label="Regular Expression pattern"
      ng-model="validation.settings.pattern" ng-change="setMatchingView()"
      cf-null-empty-input
    )

    label
      span.validation-controls__re-flags-label Flags
      input.form-control.validation-controls__re-flags(
        type="text" aria-label="Regular Expression flags"
        ng-model="validation.settings.flags" ng-change="setMatchingView()")

    +validation-errors
    +error-message-input


  cf-validation-values(ng-switch-when="in")

  div(ng-switch-when="linkContentType")
    ul.validation-controls__option-list(
      aria-label="Available Content Types"
      ng-controller="ValidationLinkTypeController"
      ng-class="{'long-list': contentTypes.length > 10}"
    )
      li(ng-repeat="ct in contentTypes")
        label
          input(type="checkbox" ng-model="ct.selected" ng-change="update()")
          | {{ct.name}}

    +validation-errors
    +error-message-input

  div(ng-switch-when="linkMimetypeGroup")
    ul.validation-controls__option-list(
        aria-label="Available Asset Types"
        ng-controller="ValidationAssetTypesController as assetTypes")
      li(ng-repeat="at in assetTypes.types")
        label
          input(type="checkbox" ng-model="at.selected" ng-change="assetTypes.update()")
          | {{at.label}}

    +validation-errors
    +error-message-input


  div(ng-switch-when="assetFileSize")
    +view-select

    span(ng-switch="validation.currentView")

      span(ng-switch-when="min")
        span(ng-controller="DataSizeScaleController as scale"
             data-model="validation.settings.min")
          input.form-control(type="number" placeholder="Min"
                             aria-label="Minimum size" ng-model="value")
          span.validation-controls__unit-select
            +select(aria-label="Select size unit"
                    ng-model="unitFactor"
                    ng-options="u.factor as u.label for u in scale.units")

      span(ng-switch-when="max")
        span(ng-controller="DataSizeScaleController as scale"
             data-model="validation.settings.max")
          input.form-control(type="number" placeholder="Max" aria-label="Maximum size"
                             ng-model="value")
          span.validation-controls__unit-select
            +select(aria-label="Select size unit"
                    ng-model="unitFactor"
                    ng-options="u.factor as u.label for u in scale.units")

      span(ng-switch-when="min-max")
        span(ng-controller="DataSizeScaleController as scale"
             data-model="validation.settings.min")
          input.form-control(type="number" placeholder="Min" aria-label="Minimum size"
                             ng-model="value")
          span.validation-controls__unit-select
            +select(aria-label="Select size unit"
                    ng-model="unitFactor"
                    ng-options="u.factor as u.label for u in scale.units")

        span.validation-controls__input-separator and

        span(ng-controller="DataSizeScaleController as scale"
             data-model="validation.settings.max")
          input.form-control(type="number" placeholder="Max" aria-label="Maximum size"
                             ng-model="value")
          span.validation-controls__unit-select
            +select(aria-label="Select size unit"
                    ng-model="unitFactor"
                    ng-options="u.factor as u.label for u in scale.units")

    +validation-errors
    +error-message-input


  div(ng-switch-when="assetImageDimensions")
    div.validation-controls__setting(ng-repeat="(dimension, label) in {width: 'Width', height: 'Height'}")
      div(ng-controller="ImageDimensionsValidationController as dimensions")
        label.validation-controls__setting-toggle
          input(aria-label="Enable image {{dimension}} validation" type="checkbox"
                ng-model="enabled" ng-change="dimensions.update()" cf-no-form)
          | {{label}}

        .validation-controls__view-select(ng-disabled="!enabled")
          +select(aria-label="Select image {{dimension}} condition"
                  ng-model="condition" ng-disabled="!enabled")
            option(value="min") At least
            option(value="max") At most
            option(value="min-max") Between
            option(value="exact") Exactly

        span(ng-switch="condition")
          span(ng-switch-when="min")
            span.form-control.form-control--with-unit
              input(type="number" aria-label="Minimum image {{dimension}}"
                    ng-model="bounds.min" ng-disabled="!enabled" ng-change="dimensions.update()")
              span.form-control__unit px
          span(ng-switch-when="max")
            span.form-control.form-control--with-unit
              input(type="number" aria-label="Maximum image {{dimension}}"
                    ng-model="bounds.max" ng-disabled="!enabled" ng-change="dimensions.update()")
              span.form-control__unit px
          span(ng-switch-when="min-max")
            span.form-control.form-control--with-unit
              input(type="number" aria-label="Minimum image {{dimension}}"
                    ng-model="bounds.min" ng-disabled="!enabled" ng-change="dimensions.update()")
              span.form-control__unit px
            span.validation-controls__input-separator and
            span.form-control.form-control--with-unit
              input(type="number" aria-label="Maximum image {{dimension}}"
                    ng-model="bounds.max" ng-disabled="!enabled" ng-change="dimensions.update()")
              span.form-control__unit px
          span(ng-switch-when="exact")
            span.form-control.form-control--with-unit
              input(type="number" aria-label="Exact image {{dimension}}"
                    ng-model="bounds.exact" ng-disabled="!enabled" ng-change="dimensions.update()")
              span.form-control__unit px

    +validation-errors
    +error-message-input
