include ./validation_settings_mixins

.validation-value-list__hint(ng-if="showPredefinedValueWidgetHint")
  span(ng-if="field.type === 'Array'")
    | Predefined values work best with the checkbox editor.<br>
  span(ng-if="field.type !== 'Array'")
    | Predefined values work best with dropdown list or radio button list.<br>
  | To select either, go to the “Appearance” tab.&#x20;
  | Learn more about&#x20;
  cf-knowledge-base(target="predefined_value" text="predefined values" inline-text="true")


input.cfnext-form__input--full-size(
  name="addPredefinedValue"
  type="text"
  ng-model="inputValue" ng-trim="false"
  ng-keypress="addItem($event)")
div.cfnext-form__hint
  | Hit enter to add a value

cf-error-list.form-inline-error(cf-error-messages="errorMessages")
+validation-errors

ul.validation-values__pills.pill-list(
  cf-ui-sortable
  ng-model="items")
  li.pill-item.x--draggable(
    ng-repeat="item in items track by $index")
    cf-icon.pill-item__drag-handle(data-drag-handle name="drag-handle-2" height="17")
    button.pill-item__remove(
      aria-label="remove"
      type="button"
      ng-hide="isDisabled"
      ng-disabled="isDisabled"
      ng-click="removeItem($index)")
      cf-icon(name="close" scale="0.6")
    | {{ item }}

+error-message-input
