div(
  ng-form="fieldSettingsForm"
  cf-validate="field"
  ng-controller="FieldDialogSettingsController")

  div.cfnext-form__field
    label Name
    input.cfnext-form__input(name="name" ng-model="field.name" type="text" required size="40")
    span.cfnext-form__field-suffix-error(cf-field-error-for="name")

  div.cfnext-form__field(ng-controller="ApiNameController as apiNameController")
    label Field ID
    div.form-control--with-icon
      input.cfnext-form__input(
        name="apiName" type="text" size="40"
        ng-model="field.apiName"
        cf-validate-model required
        ng-disabled="!apiNameController.isEditable()")
      button.form-control__icon-suffix.fa.fa-lock(
        ng-if="!apiNameController.isEditable()"
        ng-click="apiNameController.unlockEditing()")
    span.cfnext-form__field-suffix-error(cf-field-error-for="apiName")

  fieldset.cfnext-form__fieldset
    legend Field Options

    div.cfnext-form-option(ng-show="field.canBeTitle")
      input(id="field-dialog--is-title" ng-model="field.isTitle" type="checkbox")
      div.cfnext-form-option__desc
        label(for="field-dialog--is-title")
          | This field represents the Entry title
        p(ng-if="currentTitleField")
          | Currently “{{currentTitleField}}” is set as the title field

    div.cfnext-form-option
      input(id="field-dialog--localized" ng-model="field.localized" type="checkbox")
      div.cfnext-form-option__desc
        label(for="field-dialog--localized")
          | Enable localization of this field
        p
          | All the content can be translated to
          | {{locales | joinAndTruncate:2:'languages' }}.
