.modal-background
  .modal-dialog.field-dialog(
    ng-form="fieldForm"
    cf-ui-tab
    ng-controller="FieldDialogController as fieldController")
    header.modal-dialog__header.field-dialog__header
      cf-icon(name="{{iconId}}")
      h1
        span.field-dialog__field-name
          | {{decoratedField.displayName}}
        span.field-dialog__field-type
          | {{fieldTypeLabel}}

      ul.field-dialog__tab-list(role="tablist")
        li(ui-tab="settings"
           ng-attr-aria-invalid="{{tab.invalid}}")
          | Settings
          i.fa.fa-exclamation-circle.field-dialog__tab-invalid
        li(ui-tab="validations"
           ng-attr-aria-invalid="{{tab.invalid}}")
          | Validations
          i.fa.fa-exclamation-circle.field-dialog__tab-invalid
        li(ui-tab="appearance"
           ng-attr-aria-invalid="{{tab.invalid}}")
          | Appearance
          i.fa.fa-exclamation-circle.field-dialog__tab-invalid

    div.modal-dialog__content.field-dialog__content

      div(ui-tabpanel="settings")
        include ./field_dialog_settings.jade

      div(ui-tabpanel="validations"
        ng-form="fieldValidationsForm"
        ng-controller="FieldDialogValidationsController")

        h3(ng-if="nodeValidationsEnabled" style="margin: 0 0 18px")
          | General validations

        ul.validation-settings.validation-settings__rich-text(role="listbox")
          li(aria-label="This field is required"
             role="option"
             data-validation-type="required")
            <react-component name="@contentful/forma-36-react-components/CheckboxField" props="buildRequiredCheckboxProps()" />

          li(ng-repeat="validation in validations"
             aria-label="{{validation.name}}"
             role="option"
             data-validation-type="{{validation.type}}{{field.type === 'Array' && !validation.onItems ?  '.listElement' : ''}}")
            cf-validation-setting.u-bce

        div(ng-if="nodeValidationsEnabled" ng-repeat="nodeValidation in nodeValidations")
          h3(ng-if="nodeValidationsEnabled" style="margin: 0 0 18px")
            | {{nodeValidation.description}}
          ul.validation-settings.validation-settings__rich-text(role="listbox")
            li(ng-repeat="validation in nodeValidation.validations"
               aria-label="{{validation.name}}"
               role="option"
               data-validation-type="{{validation.type}}{{field.type === 'Array' && !validation.onItems ?  '.listElement' : ''}}")
              cf-validation-setting.u-bce

      div(ui-tabpanel="appearance")
        include ./field_dialog_appearance.jade

    .modal-dialog__controls
      button.btn-primary-action(
        type="button" ng-click="dialog.save()"
        ng-disabled="!fieldForm.$valid")
        | Save
      button.btn-secondary-action(
        type="button" ng-click="dialog.cancel()")
        | Cancel
