.modal-background(no-background-close)
  .modal-dialog.field-dialog(
    ng-form="fieldForm"
    cf-ui-tab
    ng-controller="FieldDialogController as fieldController")
    header.field-dialog__header
      h1
        span.field-dialog__field-name
          | {{decoratedField.displayName}}
        span.field-dialog__field-type
          | {{decoratedField.type}}

      .field-dialog__header-controls
        button.btn.btn--secondary(ng-click="dialog.cancel()") Cancel
        button.btn.btn--primary(ng-click="dialog.save()"
                                ng-disabled="!fieldForm.$valid") Save

    ul.field-dialog__tab-list(role="tablist")
      li(role="tab" data-tab="settings"
         ng-attr-aria-invalid="{{tab.invalid}}")
        | Field settings
        i.fa.fa-exclamation-circle.field-dialog__tab-invalid
      li(role="tab" data-tab="validations"
         ng-attr-aria-invalid="{{tab.invalid}}")
        | Validation rules
        i.fa.fa-exclamation-circle.field-dialog__tab-invalid
      li(role="tab" data-tab="appearance"
         ng-if="widget"
         ng-attr-aria-invalid="{{tab.invalid}}")
        | Field appearance
        i.fa.fa-exclamation-circle.field-dialog__tab-invalid

    div.field-dialog__tab-content

      div(
        role="tabpanel" data-tab="settings"
        ng-form="fieldSettingsForm"
        cf-validate="field"
        ng-controller="FieldDialogSettingsController")

        div.cfnext-form__field
          label Name
          input.cfnext-form__input(name="name" ng-model="field.name" type="text" required size="40")
          span.cfnext-form__field-suffix-error(cf-field-error-for="name")

        div.cfnext-form__field(ng-controller="ApiNameController as apiNameController")
          label Field ID
          div.form-control--with-icon
            input.cfnext-form__input(
              name="apiName" type="text" size="40"
              ng-model="field.apiName"
              cf-validate-model required
              ng-disabled="!apiNameController.isEditable()")
            button.form-control__icon-suffix.fa.fa-lock(
              ng-if="!apiNameController.isEditable()"
              ng-click="apiNameController.unlockEditing()")
          span.cfnext-form__field-suffix-error(cf-field-error-for="apiName")


        fieldset.cfnext-form__fieldset
          legend Field Options

          div.cfnext-form-option(ng-show="field.canBeTitle")
            input(id="field-dialog--is-title" ng-model="field.isTitle" type="checkbox")
            div.cfnext-form-option__desc
              label(for="field-dialog--is-title")
                | This field represents the Entry title
              p(ng-if="currentTitleField")
                | Currently “{{currentTitleField}}” is set as the title field

          div.cfnext-form-option
            input(id="field-dialog--localized" ng-model="field.localized" type="checkbox")
            div.cfnext-form-option__desc
              label(for="field-dialog--localized")
                | Enable localization of this field
              p
                | All the content can be translated to
                | {{locales | joinAndTruncate:2:'languages' }}.


      div(role="tabpanel" data-tab="validations"
        ng-form="fieldValidationsForm"
        ng-controller="FieldDialogValidationsController")
        ul.validation-settings
          li(aria-label="This field is required")
            h2.validation-settings__header
              label.validation-settings__toggle
                span.validation-settings__toggle-input-wrapper
                  input(type="checkbox" ng-model="decoratedField.required")
                span This field is required

          li(ng-repeat="validation in validations"
             aria-label="{{validation.name}}")
            cf-validation-setting.u-bce


      div(
        role="tabpanel" data-tab="appearance"
        ng-if="widget" ng-form="widgetForm" cf-validate-form
        ng-controller="FieldDialogAppearanceController" cf-validate="widget")

        .cfnext-form__field
          label Widget Type
          div
            select.cfnext-select-box(ng-model="widget.widgetId"
                   ng-options="w.id as w.name for w in availableWidgets")
            i.fa.fa-caret-down.cfnext-select-box-icon

        .cfnext-form__field(ng-repeat="option in widgetOptions")
          label {{option.name}}
          div(ng-switch="option.type")
            input.cfnext-form__input--full-size(ng-switch-when="Text"
                   type="text" name="{{option.param}}"
                   placeholder="{{option.description}}"
                   ng-model="widget.widgetParams[option.param]"
                   cf-validate-model="widgetParams.{{option.param}}")
            input.cfnext-form__input(ng-switch-when="Number"
                   type="text"
                   placeholder="{{option.description}}"
                   ng-model="widget.widgetParams[option.param]"
                   cf-validate-model="widgetParams.{{option.param}}")
            input.cfnext-form__input(ng-switch-when="Boolean"
                   type="checkbox"
                   ng-model="widget.widgetParams[option.param]")
            div(ng-switch-when="Predefined")
              select.cfnext-select-box(ng-if="option.values | isArray"
                     ng-options="value for value in option.values"
                     ng-model="widget.widgetParams[option.param]")
              select.cfnext-select-box(ng-if="!(option.values | isArray)"
                     ng-options="desc as value for (desc, value) in option.values"
                     ng-model="widget.widgetParams[option.param]")
              i.fa.fa-caret-down.cfnext-select-box-icon
          ul.cfnext-form__field-errors(cf-field-errors-for="{{option.param}}")
