.modal-background(no-background-close)
  .modal-dialog.field-dialog(
    ng-form="fieldForm"
    cf-ui-tab
    ng-controller="FieldDialogController as fieldController")
    header.field-dialog__header
      h1
        span.field-dialog__field-name
          | {{decoratedField.displayName}}
        span.field-dialog__field-type
          | {{decoratedField.type}}

      .field-dialog__header-controls
        button.btn.btn--secondary(ng-click="dialog.cancel()") Cancel
        button.btn.btn--primary(ng-click="dialog.save()"
                                ng-disabled="!fieldForm.$valid") Save

    ul.field-dialog__tab-list(role="tablist")
      li(role="tab" data-tab="settings"
         ng-attr-aria-invalid="{{tab.invalid}}")
        | Field settings
        i.fa.fa-exclamation-circle.field-dialog__tab-invalid
      li(role="tab" data-tab="validations"
         ng-attr-aria-invalid="{{tab.invalid}}")
        | Validation rules
        i.fa.fa-exclamation-circle.field-dialog__tab-invalid
      li(role="tab" data-tab="appearance"
         ng-attr-aria-invalid="{{tab.invalid}}"
         ng-if="widget")
        | Field appearance
        i.fa.fa-exclamation-circle.field-dialog__tab-invalid

    div.field-dialog__tab-content

      div(role="tabpanel" data-tab="settings")
        include ./field_dialog_settings.jade

      div(role="tabpanel" data-tab="validations"
        ng-form="fieldValidationsForm"
        ng-controller="FieldDialogValidationsController")
        ul.validation-settings
          li(aria-label="This field is required")
            h2.validation-settings__header
              label.validation-settings__toggle
                span.validation-settings__toggle-input-wrapper
                  input(type="checkbox" ng-model="decoratedField.required")
                span This field is required

          li(ng-repeat="validation in validations"
             aria-label="{{validation.name}}")
            cf-validation-setting.u-bce


      div(role="tabpanel" data-tab="appearance" ng-if="widget")
        include ./field_dialog_appearance.jade
