div(
  ng-form="widgetForm"
  ng-controller="FieldDialogAppearanceController")
  .cfnext-form__field(ng-if="availableWidgets.length > 1")
    label
      | Choose how this field should be displayed
    ul.field-dialog__widget-list
      li.field-dialog__widget-item(
          ng-repeat="w in availableWidgets track by w.id"
          ng-class="{'is-selected': selectedWidgetIndex === $index}"
          data-current-widget-index="{{$index}}"
          ng-click="selectWidget($index)")
        cf-icon.field-dialog__widget-icon(ng-if="w.icon" name="{{w.icon}}-widget")
        p {{w.name}}
        p.field-dialog__widget-default(ng-if="w.id === defaultWidgetId") (default)
        cf-icon(name="checkmark")

  div.modal-dialog__slice(ng-class="{'field-dialog__widget-options': availableWidgets.length > 1}")
    cf-icon(name="arrow-up"
      ng-if="tab.active && availableWidgets.length > 1 && selectedWidgetIndex >= 0"
      cf-position-relative-to-widget-list
      position-relative-to=".field-dialog__widget-item[data-current-widget-index=\"{{selectedWidgetIndex}}\"]"
      reposition-when-scrolls=".field-dialog__widget-list")

    .div(ng-repeat="option in widgetOptions track by option.param")
      div(ng-switch="option.type")
        div.cfnext-form__field(ng-switch-when="Text")
          label {{option.name}}
          input.cfnext-form__input--full-size(
            type="text" name="{{option.param}}"
            placeholder="{{option.description}}"
            ng-model="widgetParams[option.param]")
        div.cfnext-form-option(ng-switch-when="Boolean")
          input(
            type="checkbox"
            name="{{option.param}}"
            id="{{option.param}}"
            ng-model="widgetParams[option.param]")
          .cfnext-form-option__desc
            label(for="{{option.param}}")
              | {{option.label}}
            p(ng-if="option.description") {{option.description}}
        div.cfnext-form__field(ng-switch-when="Predefined")
          label {{option.name}}
          select.cfnext-select-box(
            ng-if="option.values | isArray"
            name="{{option.param}}"
            ng-options="value for value in option.values"
            ng-model="widgetParams[option.param]")
          select.cfnext-select-box(
            ng-if="!(option.values | isArray)"
            name="{{option.param}}"
            ng-options="desc as value for (desc, value) in option.values"
            ng-model="widgetParams[option.param]")
      ul.cfnext-form__field-errors(cf-field-errors-for="{{option.param}}")
