table
  tr(ng-if="contentTypeName")
    th Content type
    td {{contentTypeName}}

  tr(ng-if="contentTypeDescription")
    th Description
    td {{contentTypeDescription}}
  tr
    th(ng-if="contentTypeId") Entry ID
    th(ng-if="!contentTypeId") ID
    td {{sys.id}}
  tr(ng-if="contentTypeId")
    th Content type ID
    td {{contentTypeId}}
  tr
    th Current version
    td {{sys.version}}

  tbody
    tr
      th Created
      td
        react-component(
          ng-if="sys.createdAt"
          name="components/shared/RelativeDateTime/index.es6" 
          props="{value: sys.createdAt}"
        )
    tr
      th Created by
      td
        span
          react-component(name="components/shared/UserNameFormatter/FetchAndFormatUserName.es6" props="{userId: sys.createdBy.sys.id}")

  tbody(ng-if="sys.updatedAt")
    tr
      th Updated
      td
        react-component(
          ng-if="sys.updatedAt"
          name="components/shared/RelativeDateTime/index.es6" 
          props="{value: sys.updatedAt}"
        )
    tr
      th Updated by
      td
        span
          react-component(name="components/shared/UserNameFormatter/FetchAndFormatUserName.es6" props="{userId: sys.updatedBy.sys.id}")

  tbody(ng-if="sys.archivedVersion")
    tr
      th Archived
      td
        react-component(
          ng-if="sys.archivedAt"
          name="components/shared/RelativeDateTime/index.es6" 
          props="{value: sys.archivedAt}"
        )
    tr
      th Archived by
      td {{sys.archivedBy.sys.id}}
    tr
      th Archived version
      td {{sys.archivedVersion}}

  tbody(ng-if="sys.publishedVersion")
    tr
      th Published
      td
        react-component(
          ng-if="sys.publishedAt"
          name="components/shared/RelativeDateTime/index.es6" 
          props="{value: sys.publishedAt}"
        )
    tr
      th Published by
      td
        span
          react-component(name="components/shared/UserNameFormatter/FetchAndFormatUserName.es6" props="{userId: sys.publishedBy.sys.id}")
    tr
      th Published version
      td {{sys.publishedVersion}}
