react-component(
  name="components/shared/DocumentTitle.es6"
  props="{title: [title, 'Content']}"
)
.entry-editor
  .workbench
    header.workbench-header
      react-component(name="app/entity_editor/Components/BackNav")
      cf-icon.workbench-header__icon(name="page-content", scale="0.75")
      h1.workbench-header__title
        | {{ title }}
        span.locale(ng-if="localeData.isSingleLocaleModeOn")
          | &nbsp;- {{localeData.focusedLocale.name}}
        react-component(
          name="components/shared/knowledge_base_icon/KnowledgeBase.es6"
          props="{target: 'entry', className: 'workbench-header__kb-link'}"
        )

      .workbench-header__actions
        button.btn-secondary-action(
          cf-context-menu-trigger
          data-test-id="entity-actions-menu-trigger")
          cf-icon.btn-dropdown-icon(name="dd-arrow-down")
          | Actions
        .context-menu(
          cf-context-menu
          data-test-id="entity-actions-menu")
          div(role="menuitem" ui-command="actions.add")
            | Create new <em>{{ command.name() | truncate:14 }}</em>
          div(role="menuitem" ui-command="actions.duplicate")
            | Duplicate
          div(role="menuitem"
            data-test-id="trigger-delete-modal"
            ui-command="state.delete")
            | Delete
          hr
          div(role="menuitem" ui-command="actions.toggleDisabledFields")
            | {{command.label()}}
        react-component(
          name="app/entity_editor/EntityAuxToggle.es6"
          props="sidebarToggleProps.auxToggle"
        )
        react-component(
          ng-if="shouldDisplayCommentsToggle"
          name="app/entity_editor/EntityCommentsToggle.es6"
          props="sidebarToggleProps.commentsToggle"
        )

    .workbench-main
      .workbench-main__content.sticky-parent
        react-component(name="app/entity_editor/StatusNotification.es6" props="statusNotificationProps")
        react-component(
          ng-if="editorData.editorExtension"
          name="app/entry_editor/CustomEditorExtensionRenderer.es6"
          props="customExtensionProps"
        )
        .entity-editor-form.cf-workbench-content.cf-workbench-content-type__text(ng-if="!editorData.editorExtension")
          cf-error-list.form-box-error(cf-error-path="['fields']")
          cf-entity-field(ng-repeat="widget in widgets track by widget.fieldId")
          react-component(
            name="components/tabs/NoLocalizedFieldsAdvice/index.es6"
            ng-if="shouldDisplayNoLocalizedFieldsAdvice"
            props="noLocalizedFieldsAdviceProps")

      .workbench-main__sidebar
        react-component(name="app/EntrySidebar/EntrySidebar.es6" props="entrySidebarProps")
