include ../entity_editor/entity_editor.mixins.jade

header.workbench-header
  cf-breadcrumbs
  cf-icon.workbench-header__icon(name="page-entries")
  h1.workbench-header__title
    | {{ title }}
    cf-knowledge-base.workbench-header__kb-link(target="entry")

  .workbench-header__actions
    +editor-actions-dropdown
      div(role="menuitem" ui-command="actions.add")
        | Create new <em>{{ command.name() | truncate:14 }}</em>
      div(role="menuitem" ui-command="actions.duplicate")
        | Duplicate
      div(role="menuitem"
        ui-command-state="state.delete"
        cf-context-menu-trigger)
        | Delete
      +entity-delete-confirm-menu
      hr
      div(role="menuitem" ui-command="actions.toggleDisabledFields")
        | {{command.label()}}

    +editor-info-toggle


.workbench-main
  .workbench-main__content
    +editor-notification

    .entity-editor-form(ng-if="snapshot")
      h1
        | Snapshot {{ snapshot.sys.id }}&#32;
        a(href="" ng-click="setSnapshot()") Close
        |  |&#32;
        a(href="" ng-click="restore()") Restore

      div.entity-editor__field-group(
        ng-repeat="widget in widgets"
        ng-controller="EntityFieldController as fieldController")
        div.entity-editor__field-locale(
          ng-repeat="locale in locales track by locale.internal_code"
          ng-controller="FieldLocaleController as fieldLocale")

          div.entity-editor__field-heading
            label(data-test-id="field-locale-label")
              | {{ field.name }}
              span(ng-if="locales.length > 1")
                | &#32;&ndash; {{locale.name}}

          div(style="display: flex; ")
            div.entity-editor__control-group(style="flex-grow: 1")
              cf-widget-renderer.entity-editor__control(cf-widget-api)
            div.entity-editor__control-group(ng-init="compare = true" style="flex-grow: 1")
              cf-widget-renderer.entity-editor__control(cf-widget-api)

          a(href="" ng-click="restoreAtPath(field, locale)") Restore at path

    form.entity-editor-form(name="entryForm" ng-if="!snapshot && snapshot !== null")
      cf-error-list.form-box-error(cf-error-path="['fields']")
      cf-entity-field(ng-repeat="widget in widgets")

  .workbench-main__entity-sidebar
    +entity-sidebar(revert=true)
