.file-info
  img(aviary-editor-preview)

  .file-preview(ng-show="file|isFileReady")
    .loading(ng-show="loadingEditor")
    cf-thumbnail.vcenter(file="file" height="250" ng-if="file && !loadingEditor")

  .file-progress.progress.center(
    data-test-id="image-loading"
    ng-show="imageIsLoading"
    role="progressbar"
    aria-live="polite"
    aria-busy="{{imageIsLoading}}")
    p Loading…
    .cf-progress-bar.gold(cf-progress-bar percentage=100)

  .file-progress.progress.center(ng-show="file|isFileProcessing")
    p Processing…
    .cf-progress-bar.green(cf-progress-bar percentage=100)

  .file-metadata(cf-file-display-metadata ng-show="showMeta")

  .no-file.center.vcenter(ng-show="!file && fieldLocale.access.denied")
    | You don't have a permission to edit this field.

  cf-file-display-buttons

  .file-selector(ng-show="!file && fieldLocale.access.editable")
    .__filestack-drop-pane-mount
    .file-selector-btn-wrapper
      button.btn-secondary-action(type="button" ng-click="selectFile()") Or open file selector
