.file-info
  img(aviary-editor-preview)

  .file-preview(ng-show="file|isFileReady")
    .loading(ng-show="loadingEditor")
    cf-thumbnail.vcenter(file="file" height="250" ng-if="file && !loadingEditor")

  .file-progress.progress.center(
    data-test-id="image-loading"
    ng-show="imageIsLoading"
    role="progressbar"
    aria-live="polite"
    aria-busy="{{imageIsLoading}}")
    p Loading…
    .cf-progress-bar.gold(cf-progress-bar percentage=100)

  .file-progress.progress.center(ng-show="file|isFileProcessing")
    p Processing…
    .cf-progress-bar.green(cf-progress-bar percentage=100)

  .file-metadata(cf-file-display-metadata ng-show="showMeta")

  .title-overlay(ng-hide="file || enableUpload")
    | {{title}}
  .no-file.center.vcenter(ng-hide="file || enableUpload")
    | Asset has no file
  .no-file.center.vcenter(ng-show="!file && fieldLocale.access.denied")
    | You don't have a permission to edit this field.

  cf-file-display-buttons

  .cf-file-drop(cf-file-drop ng-show="fieldLocale.access.editable && !file && enableUpload")
    button.btn-secondary-action.upload-button(type="button" ng-click="uploadFile()") Or open file picker
