.file-buttons
  a.btn-secondary-action(type="button"
    aria-label="Download file" tooltip="Download file"
    href="{{file.url|assetUrl}}" target="_blank" rel="noopener noreferrer"
    ng-show="file|isFileReady")
    i.fa.fa-download
  button.btn-secondary-action(type="button"
    aria-label="Show file information" tooltip="Show file information"
    ng-click="showMeta = !showMeta"
    ng-show="file")
    i.fa.fa-info-circle
  button.btn-secondary-action(type="button"
    aria-label="Edit file" tooltip="Edit image"
    ng-click="editWithFilestack()"
    ng-show="canEditFile()")
    i.fa.fa-crop
  button.btn-secondary-action(type="button"
    aria-label="Edit file" tooltip="Open Adobe Creative Editor (deprecated)"
    ng-click="editWithAviary()"
    ng-show="canEditFile()")
    i.fa.fa-paint-brush
  button.btn-secondary-action(type="button"
    aria-label="Delete file" tooltip="Delete file"
    ng-click="deleteFile()"
    ng-show="canDeleteFile()")
    i.fa.fa-trash
