div.datetime-field-editor
  div.entry-editor__input-group
    input(
      type="text" size="30"
      name="datetime.date"
      aria-label="Date"
      spellcheck="false" autocomplete="off"
      ng-model="data.date"
      ng-model-options="{updateOn: 'change'}"
      ng-disabled="isDisabled")
    cf-icon(name="calendar" ng-click="focusDateInput()" style="cursor: pointer")

  input(type="text" ng-show="false" data-datepicker-slot)

  input.entry-editor__input(
    ng-show="usesTime"
    type="text"
    size="5" maxlength="5"
    name="datetime.time"
    aria-label="Time"
    inputmethod="verbatim"
    autocomplete="off"
    ng-model="data.time"
    ui-key-input-reject="0-9:"
    ng-disabled="isDisabled"
    ng-model-options="{updateOn: 'change'}"
    placeholder="{{ uses12hClock ? '12:00' : '00:00' }}")

  select.entry-editor__select-control(
    ng-if="uses12hClock && usesTime"
    name="datetime.ampm"
    ng-model="data.ampm"
    ng-disabled="isDisabled")
    option(value="AM") AM
    option(value="PM") PM

  select.entry-editor__select-control(
    ng-if="usesTimezone"
    name="datetime.timezone"
    ng-model="data.utcOffset"
    ng-options="offset as ('UTC'+offset) for offset in zoneOffsets"
    ng-disabled="isDisabled")

ul.cfnext-form__field-errors
  li(
    ng-repeat="error in errors"
    role="status" data-status-code="{{error.code}}")
    | {{ error.message }}
