.home(cf-ui-sticky-container)
  .home__header
    section.home-section
      h2.home-section__heading {{home.greeting}}
      p(ng-if="home.user.signInCount === 1")
        | Looks like you're new here. Learn more about Contentful from the resources below.
      p(ng-if="home.user.signInCount > 1")
        | What will you build today?
      cf-icon.home__welcome-image(name="home-welcome")
  .home__content
    section.home-section(ng-if="home.canCreateSpace() && !home.spaces.length")
      h3.home-section__heading Create a new space
      p.home-section__description
        | A space is where you keep all the content related to one project.
      button.btn-action(ng-click="home.showCreateSpaceDialog()") Create new space
    section.home-section.x--spaces(ng-if="home.spaces.length")
      h3.home-section__heading Spaces
      .home-spaces
        div(ng-repeat="(orgId, orgSpaces) in home.spacesByOrganization track by orgId")
          .home-spaces__org-name {{home.getOrganizationName(orgId)}}
            span.home-spaces__org-desc organization
          .home-spaces__space(ng-repeat="space in orgSpaces track by space.data.sys.id")
            a(
              data-test-id="homepage-space-link"
              ui-sref="spaces.detail({spaceId: space.getId()})"
              ng-click="home.analytics.spaceNavigation(space)")
              | {{space.data.name}}
            a(
              ng-if="space.data.spaceMembership.admin"
              ui-sref="spaces.detail.learn({spaceId: space.getId()})"
              ng-click="home.analytics.spaceLearnNavigation(space)")
              | Set up the basics
    cf-language-resources
