include ./cf_home_mixins

.home(cf-ui-sticky-container)
  .home__header
    section.home-section
      h2.home-section__heading {{home.getGreeting(user)}}
      p(ng-if="user.signInCount === 1")
        | Looks like you're new here. Learn more about Contentful from the resources below.
      p(ng-if="user.signInCount > 1")
        | What will you build today?
      cf-icon.home__welcome-image(name="home-welcome")
  .home__content
    section.home-section(ng-if="canCreateSpace() && !spaces.length")
      h3.home-section__heading Create a new space
      p.home-section__description
        | A space is where you keep all the content related to one project.
      button.btn-action(ng-click="showCreateSpaceDialog()") Create new space
    section.home-section.x--spaces(ng-if="spaces.length")
      h3.home-section__heading Spaces
      .home-spaces
        div(ng-repeat="(orgId, orgSpaces) in spacesByOrganization track by orgId")
          .home-spaces__org-name {{getOrganizationName(orgId)}}
            span.home-spaces__org-desc organization
          .home-spaces__space(ng-repeat="space in orgSpaces track by space.data.sys.id")
            a(
              data-test-id="homepage-space-link"
              ui-sref="spaces.detail({spaceId: space.getId()})"
              ng-click="home.analytics.spaceNavigation(space)")
              | {{space.data.name}}
            a(
              ui-sref="spaces.detail.learn({spaceId: space.getId()})"
              ng-click="home.analytics.spaceLearnNavigation(space)")
              | Set up the basics
    section
      ul.tab-list.x--home(cf-ui-sticky)
        li(
          role="tab"
          aria-selected="{{home.selectedLanguage === name}}"
          ng-click="home.selectLanguage(name)"
          ng-repeat="(name, language) in home.resources track by name")
          | {{name}}

      section.home-section(ng-switch="home.selectedLanguage" cf-track-copy-event)
        h3.home-section__heading Get the SDK
        div(ng-switch-when="PHP")
          +sdk-section-php
        div(ng-switch-when=".NET")
          +sdk-section-dotnet
        div(ng-switch-when="Ruby")
          +sdk-section-ruby
        div(ng-switch-when="iOS")
          +sdk-section-ios
        div(ng-switch-when="Android")
          +sdk-section-android
        div(ng-switch-when="Java")
          +sdk-section-java
        div(ng-switch-when="Python")
          +sdk-section-python
        div(ng-switch-default)
          +sdk-section-javascript

      section.home-section(ng-if="home.resources[home.selectedLanguage].examples.length")
        h3.home-section__heading Build with Contentful
        p.home-section__description
          | Here are examples of what you can build with Contentful.
        .home__examples
          .home-example(
            ng-repeat="example in home.resources[home.selectedLanguage].examples track by example.name")
            div
              .home-example__dot
              h4.home-example__header {{example.name}}
              p.home-example__description {{example.description}}
            a.home-example__link(
              ng-href="{{example.url}}"
              target="_blank"
              ng-click="home.analytics.linkOpened(home.selectedLanguage, example.url)")
              | View

      section.home-section
        h3.home-section__heading Learning &amp; documentation
        p.home-section__description
          | What you need to help you get started.
        .home-links
          .home-links__col(ng-if="home.resources[home.selectedLanguage].links.length")
            a(
              ng-repeat="link in home.resources[home.selectedLanguage].links track by link.name"
              ng-href="{{link.url}}"
              target="_blank"
              ng-click="home.analytics.linkOpened(home.selectedLanguage, link.url)")
              | {{link.name}}
          .home-links__col
            a(ng-repeat="link in home.docsUrls track by link.name"
              ng-href="{{link.url}}"
              target="_blank"
              ng-click="home.analytics.linkOpened(home.selectedLanguage, link.url)")
              | {{link.name}}
