.add-btn.dropdown-btn(cf-dropdown)
  a.add.button.dropdown-toggle(cf-dropdown-toggle tabindex="0")
    i.fa.fa-plus
  .dropdown-menu.fixed-position.left-aligned(cf-dropdown-menu)
    ul.dropdown-menu-list.main-types
      li.dropdown-menu-item.add-content-type.bottom-separator(
          dropdown-close
          ng-click="createContentType('addDropdown')"
          ng-hide="permissionController.createContentType.shouldHide")
        i.fa.fa-database
        | Content Type
      li.dropdown-menu-item.add-asset(
          dropdown-close
          ng-click="createAsset('addDropdown')"
          ng-hide="permissionController.createAsset.shouldHide")
        i.fa.fa-paperclip
        | Asset
      li.dropdown-menu-item.add-api-key(
          ng-click="createApiKey('addDropdown')"
          dropdown-close
          ng-hide="permissionController.createApiKey.shouldHide")
        i.fa.fa-random
        | API Key
    ul.dropdown-menu-list.separator.no-highlight(ng-hide="permissionController.createEntry.shouldHide")
      li.dropdown-menu-item
        i.fa.fa-file
        | Entries
    ul.dropdown-menu-list.content-types(ng-hide="spaceContext.publishedContentTypes.length === 0 || permissionController.createEntry.shouldHide")
      li.dropdown-menu-item(ng-repeat="(index, contentType) in spaceContext.publishedContentTypes track by contentType.getId()"
        ng-click="createEntry(contentType, 'addDropdown')"
        data-content-type-id="{{contentType.getId()}}"
        dropdown-close)
        | {{contentType.getName()}}
    ul.dropdown-menu-list.highlight.no-content-types(ng-hide="spaceContext.publishedContentTypes.length > 0 || permissionController.createEntry.shouldHide")
      li.dropdown-menu-item.hint(ng-click="createContentType('addDropdown')" dropdown-close ng-hide="permissionController.createContentType.shouldHide")
        | (Create and activate a Content Type before creating Entries)
      li.dropdown-menu-item.hint(dropdown-close ng-hide="!permissionController.createContentType.shouldHide")
        | (No Content Types available. An admin needs to create a Content Type before you can add Entries)
