ul.plain-list
  li.plain-list--item.tab(ng-repeat="tabItem in spaceContext.tabList.items"
      ng-class="{active: tabItem.active(), dirty: tabItem.dirty}"
      ng-click="goToTab(tabItem)"
      ng-hide="tabItem.hidden"
      data-view-type="{{tabItem.viewType}}"
      tabindex="0")
    span.tab__title {{tabItem.title}}
    em.fade-text
    .close(cf-click-local="tabItem.close()"
        ng-show="tabItem.canClose()"
        ng-class="{'hide-tooltip': tabItem.closingMessageDisplayType == 'dialog'}")
      i.close-icon(ng-hide="tabItem.dirty && !tabItem.hovered"
          ng-mouseleave="tabItem.setHovering(false)"
          tooltip="{{tabItem.closingMessage}}"
          tooltip-placement="bottom")
        | &times;
      i.fa.fa-circle.close-icon(
          ng-show="tabItem.dirty && !tabItem.hovered"
          ng-class="{draft: tabItem.dirty == 'draft'}"
          ng-mouseover="tabItem.setHovering(true)")
