.webhook-segmentation__option
  label
    input(type="radio" ng-model="selection['*.*']" ng-value="true")
    |  All events
.webhook-segmentation__option
  label
    input(type="radio" ng-model="selection['*.*']" ng-value="undefined")
    |  Only selected events

table.webhook-segmentation__matrix(ng-if="!selection['*.*']")
  thead
    tr
      th
      th.x--highlighted-cell(ng-repeat="action in actions track by action")
        | {{ labels[action] }}
  tbody
    tr(ng-repeat="entity in entityTypes track by entity")
      td.x--clickable-cell(ng-click="toggle($event, entity, '*')")
        input(ng-model="selection[entity + '.*']" type="checkbox")
        |  {{ labels[entity] }}
      td.x--centered-cell(
        ng-repeat="action in actions track by action"
        ng-click="toggle($event, entity, action)"
        ng-class="{'x--clickable-cell': canToggle(entity, action)}")
        input(
          ng-if="availability[entity][action] && isWildcarded(entity, action)"
          type="checkbox" disabled checked)
        input(
          ng-if="availability[entity][action] && !isWildcarded(entity, action)"
          ng-model="selection[entity + '.' + action]" type="checkbox")
        span(ng-if="!availability[entity][action]") &times;
    tr
      td
      td.x--highlighted-cell.x--centered-cell.x--clickable-cell(
        ng-repeat="action in actions track by action"
        ng-click="toggle($event, '*', action)")
        input(ng-model="selection['*.' + action]" type="checkbox")
