.webhook-headers
  .webhook-header(ng-repeat="header in headers track by header.key")
    .webhook-header__item
      span.x--jsonlike {{ header.key }}:&nbsp;
      span.x--jsonlike(ng-hide="isEditing(header)") {{ header.value }}
      input.cfnext-form__input(
        ng-show="isEditing(header)"
        ng-model="model.existing.value"
        ng-keydown="updateWithEnter($event)")
    .webhook-header__actions
      button.btn-link(
        ng-click="update()"
        ng-show="isEditing(header)"
        ng-disabled="!canUpdate()")
        i.fa.fa-check
        |  Update
      button.btn-link(
        ng-click="edit(null)"
        ng-show="isEditing(header)")
        i.fa.fa-times
        |  Cancel
      button.btn-link(
        ng-click="edit(header)"
        ng-hide="isEditing(header)")
        i.fa.fa-pencil
        |  Edit
      button.btn-link(
        ng-click="remove(header)"
        ng-hide="isEditing(header)")
        i.fa.fa-trash
        |  Delete
  .webhook-new-header
    .webhook-new-header__inputs
      input.cfnext-form__input(
        id="webhook-new-header-key"
        placeholder="Key"
        ng-model="model.fresh.key"
        ng-keydown="addWithEnter($event)")
      span.x--jsonlike :&nbsp;
      input.cfnext-form__input(
        placeholder="Value"
        ng-model="model.fresh.value"
        ng-keydown="addWithEnter($event)")
    .webhook-new-header__actions
      button.btn-link(ui-command="add")
        i.fa.fa-plus-square
        |  Add
