include ../../components/shared/table_pattern.mixin.jade

header.workbench-header
  cf-breadcrumbs
  cf-icon.workbench-header__icon(name="page-settings", scale="0.75")
  h1.workbench-header__title Webhook: {{ context.title }}

  .workbench-header__actions(ui-tabpanel="settings")
    button.btn-secondary-action(ui-command="openRemovalDialog")
      | Remove
    button.btn-primary-action(ui-command="save")
      | Save

  .workbench-header__actions(ui-tabpanel="activity")
    button.btn-secondary-action(ui-command="refreshLogs")
      | Refresh logs

cf-loader(watch-state-change="true")

.workbench-nav(ng-hide="context.isNew")
  ul.workbench-nav__tabs
    li(ui-tab="settings") Webhook settings
    li(ui-tab="activity") Activity log

.workbench-main(ui-tabpanel="settings")
  .workbench-main__content
    .webhook-editor__settings
      .cfnext-form__field
        label(for="webhook-name") Name (required):
        input.cfnext-form__input--full-size(id="webhook-name" ng-model="webhook.name")
      .cfnext-form__field
        label(for="webhook-url") URL (required):
        input.cfnext-form__input--full-size(id="webhook-url" ng-model="webhook.url")
      .cfnext-form__field
        label(for="webhook-http-basic-user") HTTP basic auth username:
        input.cfnext-form__input--full-size(id="webhook-http-basic-user" ng-model="webhook.httpBasicUsername")
      .cfnext-form__field
        label(for="webhook-http-basic-password") HTTP basic auth password:
        input.cfnext-form__input--full-size(
          id="webhook-http-basic-password" type="password"
          placeholder="{{ (webhook.httpBasicUsername && apiHasAuthCredentials && 'use previously provided password') || '' }}"
          ng-model="webhook.httpBasicPassword")
      .cfnext-form__field
        label Custom headers:
        cf-webhook-headers(headers="webhook.headers" is-dirty="context.headersDirty")
      .cfnext-form__field
        label Trigger this webhook for:
        cf-webhook-segmentation
      .cfnext-form__field
        cf-webhook-filters

  .workbench-main__sidebar
    .entity-sidebar
      h2.entity-sidebar__heading
        | Webhook URL requirements
      .entity-sidebar__text-profile
        p
          | When creating a new webhook keep in mind that the URL field will reject:
        ul
          li Private IPs (10.x, 192.x, etc.)
          li Localhost
          li Hostnames without a top-level domain
          li URLs that resolve to localhost or redirects
        p
          | For further information please visit&#32;
          a(
            href="https://www.contentful.com/developers/docs/references/content-management-api/#/reference/webhooks"
            target="_blank"
            rel="noopener noreferrer"
            ) our content management API reference
          | .

      h2.entity-sidebar__heading
        | Webhook IP sources
      .entity-sidebar__text-profile
        p
          | If in order to configure webhooks in your network you need more information about their IP range visit&#32;
          a(href="http://docs.aws.amazon.com/general/latest/gr/aws-ip-ranges.html" target="_blank" rel="noopener noreferrer") this page
          | .

.workbench-main(ui-tabpanel="activity")
  .workbench-main__content
    .table
      .table__head
        table
          thead
            tr
              th(aria-label="cell-time") Webhook called at
              th(aria-label="cell-result").x--large-cell Call result
              th(aria-label="cell-actions") Actions
      .table__body
        table
          tbody
            tr(
              ng-show="activity.visible && !activity.loading"
              ng-repeat="log in activity.visible track by log.sys.id"
              ng-init="entityNavState = '^.detail.call({ callId: log.sys.id })'"
              ui-sref="{{entityNavState}}")
              +td(aria-label="cell-time"
                ui-sref="{{entityNavState}}")
                | {{ log.requestAt }}
              +td.x--large-cell(aria-label="cell-result"
                ui-sref="{{entityNavState}}")
                cf-webhook-call-status(call="log")
              +td(aria-label="cell-actions"
                ui-sref="{{entityNavState}}")
                span.text-link--standard View details
            tr(ng-show="activity.visible.length < 1")
              td(colspan="3")
                | No webhook calls yet!
            tr(ng-show="activity.loading")
              td(colspan="3")
                | Loading logs…

    .webhook-calls__paginator(ng-show="!activity.loading && activity.pages.length > 1")
      a.webhook-calls__paginator-item(
        ng-show="activity.page > 0"
        href="" ng-click="activity.page = activity.page-1")
        | &laquo;
      a.webhook-calls__paginator-item(
        ng-class="{'x--active': activity.page === page}"
        ng-repeat="page in activity.pages track by page"
        href="" ng-click="activity.page = page")
        | {{ page+1 }}
      a.webhook-calls__paginator-item(
        ng-show="activity.page < activity.pages.length-1"
        href="" ng-click="activity.page = activity.page+1")
        | &raquo;
