.file-info
  .file-preview(ng-show="file && !!file.url")
    cf-thumbnail(file="file" height="250")

  .file-progress.loading-box--stretched(ng-show="imageIsLoading")
    .loading-box__spinner
    | Loading…

  .file-progress.loading-box--stretched(ng-show="isUnprocessedFile(file)")
    .loading-box__spinner
    | Processing…

  .file-metadata(ng-show="showMeta")
    table
      tr
        th Filename
        td {{file.fileName}}
      tr
        th Type
        td(title="{{file.contentType}}") {{file | mimeGroup}}
      tr(ng-show="file.details.size")
        th Size
        td(title="{{file.details.size}} Bytes") {{file.details.size | fileSize}}
      tr(ng-show="file.details.image")
        th Width<br>Height
        td {{file.details.image.width}}&thinsp;px<br>{{file.details.image.height}}&thinsp;px

  .no-file(ng-show="!file && fieldLocale.access.denied")
    | You don't have a permission to edit this field.

  .file-buttons
    react-component(
      ng-if="file && !!file.url"
      component="components.downloadButton"
    )

    react-component(
      ng-if="file"
      component="components.fileInformation"
    )

    react-component(
      cf-context-menu-trigger
      component="components.rotateImage"
      ng-if="canEditFile()"
    )

    .context-menu(cf-context-menu)
      div(role="menuitem" ng-click="rotateOrMirror('90cw')") Rotate 90° clockwise
      div(role="menuitem" ng-click="rotateOrMirror('90ccw')") Rotate 90° counterclockwise
      div(role="menuitem" ng-click="rotateOrMirror('flip')") Mirror vertically
      div(role="menuitem" ng-click="rotateOrMirror('flop')") Mirror horizontally

    react-component(
      cf-context-menu-trigger
      component="components.resizeImage"
      ng-if="canEditFile()"
    )

    .context-menu(cf-context-menu)
      div(role="menuitem" ng-click="resize('width')") Select width
      div(role="menuitem" ng-click="resize('height')") Select height
      div(role="menuitem" ng-click="resize('scale')") Scale

    react-component(
      cf-context-menu-trigger
      component="components.cropImage"
      ng-if="canEditFile()"
    )

    .context-menu(cf-context-menu)
      div(role="menuitem" ng-click="crop(null)") No aspect ratio
      div(role="menuitem" ng-click="crop('original')") Original aspect ratio
      div(role="menuitem" ng-click="crop(1)") Square
      div(role="menuitem" ng-click="crop('circle')") Circle (converts to PNG)
      div(role="menuitem" ng-click="crop(4/3)") 4:3
      div(role="menuitem" ng-click="crop(3/2)") 3:2
      div(role="menuitem" ng-click="crop(16/9)") 16:9
      div(role="menuitem" ng-click="crop('custom')") Custom aspect ratio

    react-component(
      ng-if="fieldLocale.access.editable && file && (file.url || isUnprocessedFile(file))"
      component="components.deleteImage"
    )

  .file-selector(ng-show="!file && fieldLocale.access.editable")
    .__filestack-drop-pane-mount
    .file-selector-btn-wrapper
      button.btn-secondary-action(type="button" ng-click="selectFile()") Or open file selector
