.rating-editor
  .rating-editor__star(
    ng-repeat="star in stars track by star.index"
    role="button"
    aria-disabled="{{isDisabled}}"
    aria-label="{{star.index}}"
    title="{{star.index}}"
    data-active="{{isActive(star)}}"
    ng-mouseenter="setHovered(star.index)"
    ng-mouseleave="unsetHovered()"
    ng-click="setRating(star.index)")
    cf-icon(name="star" scale="1.3")
  button.cfnext-btn-link.rating-editor__clear(
    ng-if="!isDisabled && hasRating"
    ng-click="clearRating()")
    | Clear
