input.tag-editor__input.entry-editor__input.x--directed(
  ng-if="!isDisabled"
  type="text"
  placeholder="Type the value and hit enter"
  ng-keypress="addItem($event)")

ul.tag-editor__pills.pill-list.x--directed(
  ng-class="{'x--disabled': isDisabled, 'x--empty': isEmpty}")
  li.pill-item(
    ng-repeat="item in items track by $index")
    button.pill-item__remove(
      aria-label="remove"
      type="button"
      ng-hide="isDisabled"
      ng-disabled="isDisabled"
      ng-click="removeItem($index)")
      cf-icon(name="close")
    | {{ item }}

.tag-editor__constraints(ng-switch="constraintsType")
  span(ng-switch-when="min")
    |  Requires at least {{ constraints.min }} tags
  span(ng-switch-when="max")
    |  Requires no more than {{ constraints.max }} tags
  span(ng-switch-when="min-max")
    |  Requires between {{ constraints.min }} and {{ constraints.max }} tags
