.l-link-editor-search(cf-link-editor-search
  cf-autocomplete-results="entities"
  add-entity="addLink(entity)"
  entity-type="Asset"
  entity-content-types="linkContentTypes"
  entity-mime-type-group="linkMimetypeGroup"
  ng-show="otEditable && (linkedEntities.length == 0 || field.type == 'Array')")

ul.linked-entities.asset-link(ui-sortable="linkSortOptions" ng-model="linkedEntities" ng-hide="linkedEntities.length == 0")
  li.linked-entities__item(ng-repeat="(index, entity) in linkedEntities track by index")
    .linked-entities__handle(cf-drag-handle ng-disabled="!otEditable" ng-hide="linkedEntities.length==1")
      i.fa.fa-ellipsis-v
      i.fa.fa-ellipsis-v
    .linked-entities__info(cf-file-display cf-file-metadata entity-title="spaceContext.localizedField(entity, 'data.fields.title', locale.code)"
                  file="spaceContext.localizedField(entity, 'data.fields.file', locale.code)")


