.l-link-editor-search(cf-link-editor-search
  cf-autocomplete-results="entities"
  add-entity="addLink(entity)"
  entity-type="Entry"
  entity-content-types="linkContentTypes"
  entity-mime-type-group="linkMimetypeGroup"
  ng-show="otEditable && (linkedEntities.length == 0 || field.type == 'Array')")

ul.entry-cards(ui-sortable="linkSortOptions" ng-model="linkedEntities" ng-hide="linkedEntities.length == 0")
  li.entry-cards__item(
      ng-repeat="(index, entity) in linkedEntities track by index"
      ng-controller="EntryCardItemController"
      ng-dblclick="entity && !entity.isMissing && navigator.entityEditor(entity).goTo()"
      ng-mouseover="hoveringItem=true"
      ng-mouseleave="hoveringItem=false"
      ng-class="{'entry-cards__item--narrow': linkMultiple, 'entry-cards__item--wide': !linkMultiple}")
    .entry-cards__handle.dragging-handle(cf-drag-handle ng-disabled="!otEditable" ng-hide="linkedEntities.length==1")
      i.fa.fa-ellipsis-v
      i.fa.fa-ellipsis-v
    .entry-cards__status(
        ng-if="entity && !entity.isMissing"
        ng-class="entityStatusController.getClassname(entity)"
        tooltip-placement="right"
        tooltip="This entry hasn't been published")
      i.fa.fa-circle
    .entry-cards__file.gallery-file(cf-thumbnail file="cardImage" size="120" fit="thumb" ng-if="cardImage")
    .entry-cards__title(title="{{title}}" ng-if="title=entryLinkController.linkTitle(entity)") {{title | truncate:30}}
    .entry-cards__description(title="{{description}}" ng-if="description=entryLinkController.linkDescription(entity)") {{description | truncate:descriptionLength}}
    .gallery-buttons(ng-show="hoveringItem")
      button.btn(type="button"
          ng-click="entity && !entity.isMissing && navigator.entityEditor(entity).goTo()"
          ng-show="!!(!enableUpload && entity && !entity.isMissing)"
          tooltip="Open Entry"
          tooltip-container=".entry-editor")
        i.fa.fa-edit
      button.btn(type="button"
          ng-show="!otDisabled && removeLink"
          ng-click="removeLink(index, entity)"
          tooltip="Remove Entry"
          tooltip-container=".entry-editor")
        i.fa.fa-times-circle

