.markdown-toolbar(ng-class="{'preview-mode': inPreviewMode()}")
  button.toolbar-button.toolbar-button--flex.md-bold-icon(
    ng-click="toggleBold()"
    tabindex="-1"
    tooltip="Bold (on selection)"
    ng-disabled="inPreviewMode()")
  button.toolbar-button.toolbar-button--flex.md-italic-icon(
    ng-click="toggleItalic()"
    tabindex="-1"
    tooltip="Italic (on selection)"
    ng-disabled="inPreviewMode()")
  button.toolbar-button.toolbar-button--flex.md-h1-icon(
    ng-click="toggleHeadline(1)"
    tabindex="-1"
    tooltip="Heading 1"
    ng-disabled="inPreviewMode()")
  button.toolbar-button.toolbar-button--flex.md-h2-icon(
    ng-click="toggleHeadline(2)"
    tabindex="-1"
    tooltip="Heading 2"
    ng-disabled="inPreviewMode()")
  button.toolbar-button.toolbar-button--flex.md-h3-icon(
    ng-click="toggleHeadline(3)"
    tabindex="-1"
    tooltip="Heading 3"
    ng-disabled="inPreviewMode()")
  button.toolbar-button.toolbar-button--flex.md-hr-icon(
    ng-click="insertRule()"
    tabindex="-1"
    tooltip="Horizontal rule"
    ng-disabled="inPreviewMode()")
  button.toolbar-button.toolbar-button--flex.md-quote-icon(
    ng-click="toggleBlockQuote()"
    tabindex="-1"
    tooltip="Blockquote"
    ng-disabled="inPreviewMode()")
  button.toolbar-button.toolbar-button--flex.md-ul-icon(
    ng-click="toggleUnorderedList()"
    tabindex="-1"
    tooltip="Unordered List"
    ng-disabled="inPreviewMode()")
  button.toolbar-button.toolbar-button--flex.md-ol-icon(
    ng-click="toggleOrderedList()"
    tabindex="-1"
    tooltip="Ordered List"
    ng-disabled="inPreviewMode()")
  button.toolbar-button.toolbar-button--flex.md-code-icon(
    ng-click="addCodeblock()"
    tabindex="-1"
    tooltip="Code"
    ng-disabled="inPreviewMode()")
  button.toolbar-button.toolbar-button--flex.md-indent-icon(
    ng-click="indent()"
    tabindex="-1"
    tooltip="Indent (Shift+Alt+Tab)"
    ng-disabled="inPreviewMode()")
  button.toolbar-button.toolbar-button--flex.md-asset-icon(
    ng-click="insertAsset()"
    tabindex="-1"
    tooltip="Insert link to an asset"
    ng-disabled="inPreviewMode()")
  .markdown-modeswitch
    button.toolbar-button.md-right-button.md-preview-icon(
      ng-click="toggleDisplayMode()"
      tabindex="-1"
      tooltip="Preview (Shift+{{metaKey}}+P)"
      ng-class="{'md-preview-icon': inEditMode(), 'md-edit-icon': inPreviewMode()}")

textarea.form-control.markdown-textarea(cf-input-autogrow
  ng-model="fieldData.value"
  ot-subdoc
  ot-bind-text
  ng-disabled="!otEditable"
  ng-hide="inPreviewMode()")

.cf-markdown-guide(ng-if="inEditMode()")

.markdown-preview(
  tabindex="0"
  ng-bind-html="markdownPreview"
  ng-hide="inEditMode()"
  ng-click="enterEditor($event)")
