.video-widget-loading(ng-if="!multiVideoEditorController.isVideoWidgetReady()")
  p Initializing video widget
    i.fa.fa-spinner.fa-spin

div(ng-if="multiVideoEditorController.isVideoWidgetReady()")
  cf-video-input(
    asset-lookup="multiVideoEditorController.lookupAsset(assetId)"
    search-config="multiVideoEditor.searchConfig"
    on-change="multiVideoEditorController.resetErrors()"
    on-reset="multiVideoEditorController.resetErrors()"
    on-valid-asset-id="multiVideoEditorController.storeAsset(asset)"
    on-invalid-asset-id="multiVideoEditorController.showErrors(error)")

  .video-widget-editor__warning(ng-show="multiVideoEditor.error")
    i.fa.fa-exclamation-triangle
    .video-widget-warning__message
      p {{multiVideoEditor.error}}

  .video-widget-editor__content-wrapper(
    ng-class="{'video-widget-content-wrapper--not-empty': 'multiVideoEditor.assets.length > 0'}")
    ul.multi-video-widget__items(ui-sortable="linkSortOptions" ng-model="multiVideoEditor.assets")
      li.multi-video-widget__item(
        ng-repeat="asset in multiVideoEditor.assets track by asset._trackId")

        cf-multi-video-item(
          cf-drag-handle
          is-sorting-enabled="multiVideoEditor.isSortingEnabled"
          asset="asset"
          widget-player-directive="multiVideoEditor.widgetPlayerDirective"
          widget-player-custom-attrs="multiVideoEditorController.customAttrsForPlayer(asset)"
          remove-asset="multiVideoEditorController.removeAsset($index, asset)"
          lookup-asset="multiVideoEditorController.lookupAsset(asset.assetId)")
