.tab-header.editor-configuration
  .tab-header__title
    h1(title="{{headline()}}")
      | {{headline()}}
      a.cf-knowledge-base-icon(
        tooltip="Learn more about Assets in the Knowledge Base Pages"
        analytics-event="assets"
        href="https://contentful.zendesk.com/hc/en-us/articles/200513308-What-is-an-Asset-")

  .tab-header__actions
    button.btn.btn--tertiary(type="button"
            ng-click="preferences.toggleAuxPanel()"
            ng-class="{active: preferences.showAuxPanel}"
            tooltip="Toggle additional details"
            tooltip-placement="bottom")
      | Info
    .dropdown-btn(cf-dropdown ng-show="showLangSwitcher")
      button.btn.btn--tertiary(cf-dropdown-toggle)
        i.fa.fa-caret-down.button-icon-right
        span View
      .dropdown-menu(cf-dropdown-menu position="bottomcenter")
        ul.dropdown-menu-list
          li.dropdown-menu-item(ng-repeat="locale in spaceContext.privateLocales track by locale.code")
            label
              input.form-control(type="checkbox" ng-model="spaceContext.localeStates[locale.code]")
              | {{locale.name}}
              span(ng-show="locale == spaceContext.space.getDefaultLocale()") (default)

.aux-panel(ng-show="preferences.showAuxPanel")
  header
    h1 Asset Information
  .entity-info-panel

.tab-main.tab-workbench
  form.l-form(name="assetForm")
    .l-form-row--no-label(ng-show="hasErrorOnFields")
      .l-form-controls
        .cf-form-box-error(cf-error-path="['fields']" ng-show="errorMessages.length > 0")
    .l-form-row(ng-repeat="widget in widgets track by widget.id"
        data-field-id="{{widget.field.id}}"
        ng-class="{'data-field-array': (widget.field|isFieldLink), 'data-field-boolean': (widget.field|isFieldBoolean), 'data-field-string-list': (widget.field|isFieldStringList)}")
      label {{widget.field.name}}
        sup(ng-show="widget.field.required") (required)
      .l-form-controls
        .l-form-locale(ng-repeat="locale in widget.locales track by locale.code" ot-field-presence="['fields', widget.field.id, locale.code]" data-locale="{{locale.code}}")
          .cf-field-editor.l-field-editor(ot-path="['fields', widget.field.id, locale.code]" cf-editor-entity="asset")
          .locale-label(ng-show="widget.locales.length > 1") {{locale.name}}
          .field-collaborators
            ul.plain-list
              li.plain-list--item.avatar.cf-user(ng-repeat="link in fieldPresence.users track by link.sys.id"
                                 link="link" as="presenceUser"
                                 tooltip="{{presenceUser | userNameDisplay:user}}")
                img(ng-src="{{user.data.avatarUrl}}")
          .cf-form-box-error(cf-error-path="['fields', widget.field.id, locale.code,'*']")
        .cf-form-box-error(cf-error-path="['fields', widget.field.id]")

.tab-actions(ng-controller="AssetActionsController")
  .button-set(cf-dropdown)
    button.btn.btn--secondary.delete(   type="button" ng-show="canDelete()" cf-dropdown-toggle) Delete
    .delete-confirm(cf-dropdown-menu position="topcenter")
      p You are about to delete {{headline()}}
      button.btn.btn--danger(type="button" ng-click="delete()" dropdown-close) Delete 
      button.btn.btn--secondary(type="button" dropdown-close) Don't Delete 
    button.btn.btn--secondary.archive(  type="button" ng-show="canArchive()"   ng-click="archive()"   tooltip="Archive this Asset"                 ) Archive
    button.btn.btn--secondary.archive(  type="button" ng-show="canUnarchive()" ng-click="unarchive()" tooltip="Unarchive this Asset"               ) Unarchive
    button.btn.btn--secondary.unpublish(type="button" ng-show="canUnpublish()" ng-click="unpublish()" tooltip="Unpublish this Asset"               ) Unpublish
    button.btn.btn--primary.publish(  type="submit" ng-show="canPublish()"   ng-click="publish()"   tooltip="{{publishButtonLabel()}} this Asset") {{publishButtonLabel()}}
  .save-status(tooltip="Every change you make is automatically saved as a draft. Hit {{publishButtonLabel()}} to distribute your changes."
               tooltip-placement="top")
  .other-users
    span(ng-show="presence.users.length == 0"
          tooltip="Edit collaboratively by inviting more users into your space. Go to Settings → Users → Invite New User to invite people.")
      | No other users online
    ul.plain-list(ng-show="presence.users.length > 0")
      li.plain-list--item.avatar.cf-user(ng-repeat="link in presence.users track by link.sys.id"
                         link="link" as="presenceUser"
                         tooltip="{{presenceUser | userNameDisplay:user}}")
        img(ng-src="{{user.data.avatarUrl}}")
    a.btn.btn--secondary.invite-users(href="" ng-click="navigator.spaceSettings('/users/new').goTo()")
      i.fa.fa-user
      i.fa.fa-plus
