include ./content_preview.mixins.jade

header.workbench-header
  cf-breadcrumbs
  cf-icon.workbench-header__icon(name="page-settings")
  h1.workbench-header__title
    | {{ context.title | truncate:50 }}
  .workbench-header__actions
    button.btn-secondary-action(ui-command="remove") Delete
    button.btn-primary-action(ui-command="save") Save
.workbench-main
  form.workbench-main__content.content-preview-editor(name="contentPreviewForm")
    h3.section-title
      | General information
    .cfnext-form__field
      label Name
      input.cfnext-form__input.content-preview-editor__input(
        ng-model="previewEnvironment.name"
        type="text")
      .cfnext-form__hint
        | Specifies how this content preview should be referred to in the entry editor.
      .cfnext-form__field-error
        | {{invalidFields.errors.name}}
    .cfnext-form__field
      label Description
      textarea.cfnext-form__input.content-preview-editor__input(ng-model="previewEnvironment.description")
    h3.section-title
      | Content preview URLs
    .cfnext-form__field
      | Activate the content preview and specify a custom URL for every content type that should display it.
      | Use the tokens documented on the right to include specific field values of your entries.
    .content-preview-editor__content-type(
      ng-show="previewEnvironment.configs.length"
      ng-repeat="config in previewEnvironment.configs track by config.contentType")
      .cfnext-form-option
        input.content-preview-editor__checkbox(
          id="{{config.contentType}}"
          ng-model="config.enabled"
          type="checkbox")
        label(for="{{config.contentType}}") {{config.name}}
      .cfnext-form__field(ng-show="config.enabled")
        input.cfnext-form__input--full-size(
          type="text"
          ng-model="config.url"
          placeholder="Preview URL for content type '{{config.name}}'. E.g. http://www.yourwebsite.com/{{slugify(config.name)}}/{entry_field.slug}/")
        .cfnext-form__field-error
          | {{invalidFields.errors.configs[config.contentType]}}
        .cfnext-form__field-warning(
          ng-repeat="warning in invalidFields.warnings.configs[config.contentType]")
          | {{warning}}
    .note-box.note-box--info(ng-if="!previewEnvironment.configs.length")
      p You haven't set up any content types yet. Head to <a ui-sref="spaces.detail.content_types.list">content model</a> to add content types.
  +content-preview-sidebar(isEditor=true)
