include ./content_preview.mixins.jade

header.workbench-header
  cf-breadcrumbs
  cf-icon.workbench-header__icon(name="page-settings", scale="0.75")
  h1.workbench-header__title
    | Content preview

.workbench-main
  .workbench-main__content(ng-if="previewEnvironments.length")
    .content-preview-list.entity-list
      a.entity-list__item.x--with-icon(
        ui-sref="^.detail({ contentPreviewId: env.id })"
        ng-repeat="env in previewEnvironments track by env.id")
        +content-preview-item

  //- Empty state
  .workbench-main__content(ng-if="!previewEnvironments.length")
    .content-preview-list.entity-list
      a.entity-list__item.x--with-icon.content-preview-list__placeholder(
        ng-repeat="env in placeholderContentPreviewEnvironments track by $index")
        +content-preview-item
    .cfnext-advice-box.content-preview-list__advice
      .cfnext-advice-box__frame
        h1.cfnext-advice-box__title Whoops, looks like you haven't set up a content preview
        .cfnext-advice-box__sub-title
        button.btn-action(
          ui-sref="^.new"
          data-test-id="add-content-preview-button"
        )
          div
            cf-icon(name="plus").btn-icon.inverted
            | Add content preview

  +content-preview-sidebar
