- const style = {};
- style.wrapper = 'position: fixed; width: 400px; border: 2px solid #000; right: 20px; bottom: 20px; background: #fff';
- style.content = 'height: 450px; overflow-y: scroll; padding: 15px';
- style.json = 'font-size: 0.9em; white-space: pre-wrap; word-wrap: break-word';
- style.box = 'border-bottom: 1px dotted gray; padding: 10px 5px;';

.analytics-console(style=style.wrapper ng-show="isVisible")
  button(ng-click="isVisible = false" title="Close console")
    | 🗙
  button(ng-click="isCollapsed = !isCollapsed" title="{{ isCollapsed ? 'Maximize' : 'Minimize' }}")
    | {{ isCollapsed ? '🗖' : '🗕' }}
  button(ng-click="toggleSessionData()" ng-if="!isCollapsed")
    | {{ showSessionData ? 'Mode: Session data' : 'Mode: Events' }}
  button(ng-click="toggleSnowplowDebugInfo()" ng-if="!isCollapsed && !showSessionData")
    | {{ showingSnowplowDebugInfo ? '☒ snowplow only' : '☐ snowplow only'}}
  button(ng-click="showData = !showData" ng-show="!isCollapsed && !showSessionData" )
    | {{ showData ? '☒ show data' : '☐ show data' }}

  .analytics-console__content(style=style.content ng-show="!isCollapsed")
    .analytics-console__events(ng-show="!showSessionData && !showingSnowplowDebugInfo")
      .analytics-console__event(
        style=style.box
        ng-repeat="event in events track by $index")
        p
          | \#{{ $index }} - {{ event.time }} <strong>{{ event.name }}</strong>
          span(ng-show="!event.isValid" style="color: red")
            |  invalid name
        pre(
          ng-if="showData"
          style=style.json)
          | {{ (event.data || 'no data') | json }}

    .analytics-console__events(ng-show="showingSnowplowDebugInfo && !showSessionData")
      .analytics-console__event(
        style=style.box
        ng-repeat="event in events track by $index"
        ng-if="event.snowplow")
        p
          | \#{{ $index }} - {{ event.time }} <strong>{{ event.snowplow.name }}, v{{ event.snowplow.version }}</strong>
        pre(
          ng-if="showData"
          style=style.json)
          | {{ (event.snowplow.data || 'no data') | json }}
        pre(style=style.json
          ng-if="showData && event.snowplow.context")
          | context: {{ event.snowplow.context | json }}

    .analytics-console__session-data(ng-show="showSessionData")
      pre(style=style.json) {{ (sessionData || 'no data') | json }}
