- const style = {};
- style.wrapper = 'position: fixed; width: 400px; border: 2px solid #000; right: 20px; bottom: 20px; background: #fff';
- style.content = 'height: 450px; overflow-y: scroll; padding: 15px';
- style.json = 'font-size: 0.9em; white-space: pre-wrap; word-wrap: break-word';
- style.box = 'border-bottom: 1px dotted gray; padding: 10px 5px;';
- style.infoBox = style.box + "; font-style: italic; text-align: center;";

.analytics-console(style=style.wrapper ng-show="isVisible")
  button(ng-click="isVisible = false" title="Close console")
    | ðŸ—™
  button(ng-click="isCollapsed = !isCollapsed" title="{{ isCollapsed ? 'Maximize' : 'Minimize' }}")
    | {{ isCollapsed ? 'ðŸ—–' : 'ðŸ—•' }}
  button(ng-click="toggleSessionData()" ng-if="!isCollapsed")
    | {{ showSessionData ? 'Mode: Session data' : 'Mode: Events' }}
  button.icon(ng-click="clearEvents()" title="Clear listed events so far" ng-show="!isCollapsed && !showSessionData")
    | ðŸ—‘
  button(ng-click="toggleSnowplowDebugInfo()" ng-if="!isCollapsed && !showSessionData")
    | {{ showingSnowplowDebugInfo ? 'â˜’ snowplow only' : 'â˜ snowplow only'}}
  button(ng-click="showData = !showData" ng-show="!isCollapsed && !showSessionData" )
    | {{ showData ? 'â˜’ show data' : 'â˜ show data' }}

  .analytics-console__content(style=style.content ng-show="!isCollapsed")
    .analytics-console__info(
      style=style.infoBox
      ng-if="!showSessionData && clearedEventsIndex > -1")
        | {{ clearedEventsIndex+1 }} previous events&#32;
        a(ng-click="unclearEvents()" href="" style="font-style: normal")
          | [restore]

    .analytics-console__events(ng-show="!showSessionData && !showingSnowplowDebugInfo")
      .analytics-console__event(
        style=style.box
        ng-repeat="event in events track by $index"
        ng-if="$index > clearedEventsIndex")
        p
          | \#{{ $index+1 }} - {{ event.time }} <strong>{{ event.name }}</strong>
          span(ng-show="!event.isValid" style="color: red")
            |  invalid name
        pre(
          ng-if="showData"
          style=style.json)
          | {{ (event.data || 'no data') | json }}

    .analytics-console__events(ng-show="showingSnowplowDebugInfo && !showSessionData")
      .analytics-console__event(
        style=style.box
        ng-repeat="event in events track by $index"
        ng-if="event.snowplow && $index > clearedEventsIndex")
        p
          | \#{{ $index+1 }} - {{ event.time }} <strong>{{ event.snowplow.name }}, v{{ event.snowplow.version }}</strong>
        pre(
          ng-if="showData"
          style=style.json)
          | {{ (event.snowplow.data || 'no data') | json }}
        pre(style=style.json
          ng-if="showData && event.snowplow.context")
          | context: {{ event.snowplow.context | json }}

    .analytics-console__session-data(ng-show="showSessionData")
      pre(style=style.json) {{ (sessionData || 'no data') | json }}
