- var style = {};
- style.wrapper = 'position: fixed; width: 350px; border: 2px solid #000; right: 20px; bottom: 20px; background: #fff';
- style.content = 'height: 350px; overflow-y: scroll; padding: 15px';
- style.json = 'font-size: 0.9em; white-space: pre-wrap; word-wrap: break-word';
- style.box = 'border: 1px dashed gray; padding: 5px; margin-bottom: 2px';

.analytics-console(style=style.wrapper ng-show="isVisible")
  button(ng-click="isVisible = false")
    | close
  button(ng-click="isCollapsed = !isCollapsed")
    | {{ isCollapsed ? 'expand' : 'collapse' }}
  button(ng-click="toggle()")
    | {{ showSessionData ? 'show events' : 'show session data' }}
  .analytics-console__content(style=style.content ng-show="!isCollapsed")
    .analytics-console__events(ng-show="!showSessionData")
      .analytics-console__event(
        style=style.box
        ng-repeat="event in events track by $index")
        p
          | {{ event.time }} <strong>{{ event.name }}</strong>
        pre(style=style.json)
          | {{ (event.data || 'no data') | json }}
    .analytics-console__session-data(ng-show="showSessionData")
      pre(style=style.json) {{ (sessionData || 'no data') | json }}
