include ../../shared/table_pattern.mixin.jade

header.workbench-header
  cf-breadcrumbs
  cf-icon.workbench-header__icon(name="page-settings", scale="0.75")
  h1.workbench-header__title
    | Locales
    cf-knowledge-base.workbench-header__kb-link(target="locale")

  //- These are shown in the sidebar, if you can see it. See below
  .workbench-header__actions(ng-if="!showSidebar")
    button.btn-action.add-entity(
      ng-click="newLocale()"
      ng-show="localesUsageState === ONE_LOCALE_USED || localesUsageState === MORE_THAN_ONE_LOCALE_USED")
      cf-icon.btn-icon.inverted(name="plus")
      | Add Locale
    p.add-entity__advice(ng-show="localesUsageState === LOCALES_LIMIT_REACHED")
      | Your plan supports up to {{ limit }} locales.&#32;
      a(ng-if="accountUpgradeState" cf-sref="{{accountUpgradeState}}")
        | Upgrade for more
      span(ng-if="!accountUpgradeState")
        | Ask your organization owner to upgrade your plan.
    p.add-entity__advice(ng-show="localesUsageState === NO_MULTIPLE_LOCALES")
      | Your plan does not include multiple locales.&#32;
      a(ng-if="accountUpgradeState" cf-sref="{{accountUpgradeState}}")
        | Upgrade for more
      span(ng-if="!accountUpgradeState")
        | Ask your organization owner to upgrade your plan.

.workbench-main
  .workbench-main__content
    .table.locale-list__table
      .table__head
        table
          thead
            tr
              th(aria-label="cell-name").x--large-cell Locale
              th.x--small-cell Fallback
              th.x--small-cell Incl. in response
              th.x--small-cell Editing
              th.x--small-cell Required fields

      .table__body
        table
          tbody
            tr(ng-repeat="locale in locales track by locale.sys.id"
               ng-init="linkToLocale='^.detail({ localeId: locale.sys.id })'"
               ui-sref="{{linkToLocale}}")
              +td.x--large-cell(aria-label="cell-name"
                ui-sref="{{linkToLocale}}")
                | {{ locale.name }} ({{ locale.code }})
                span.entity-list-badge(ng-if="locale.default") Default
              +td.x--small-cell(data-test-id="locale-list-fallback-column"
                ui-sref="{{linkToLocale}}")
                | {{ locale.fallbackCode ? localeNamesByCode[locale.fallbackCode] : 'None' }}
              +td.x--small-cell(data-test-id="locale-list-cda-column"
                ui-sref="{{linkToLocale}}")
                | {{ locale.contentDeliveryApi ? 'Enabled' : 'Disabled' }}
              +td.x--small-cell(data-test-id="locale-list-cma-column"
                ui-sref="{{linkToLocale}}")
                | {{ locale.contentManagementApi ? 'Enabled' : 'Disabled' }}
              +td.x--small-cell(data-test-id="locale-list-optional-column"
                ui-sref="{{linkToLocale}}")
                | {{ locale.optional ? 'Can be published empty' : 'Content is required' }}

    .advice.locale-list__advice(ng-if="!showSidebar")
      .advice__frame.locale-list__advice-frame
        div(ng-if="localesUsageState === ONE_LOCALE_USED")
          h1.advice__title Contentful enables publishing content in multiple languages
          p.advice__description To begin translating your content, add a second locale – for example, <strong>French (<code>fr-FR</code>)</strong>
          p.advice__description Note that locale settings apply space-wide: the locales that you create will affect only the current space

        div(ng-if="localesUsageState === MORE_THAN_ONE_LOCALE_USED || !insideMasterEnv")
          h1.advice__title Contentful enables publishing content in multiple languages
          p.advice__description To enable localization, go to the relevant content type, open field settings, and enable translation for each necessary field
          p.advice__description After that the content editor will display multiple input fields for each locale

        div(ng-if="localesUsageState === LOCALES_LIMIT_REACHED")
          h1.advice__title You have reached the organization locales limit
          p.advice__description Your current subscription plan <strong>({{ subscriptionPlanName }})</strong> enables a maximum of {{ limit }} locales per organization
          p.advice__description(ng-if="accountUpgradeState")
            | Please <a ui-sref="{{ accountUpgradeState }}">upgrade</a> if you need more locales or delete some of the existing ones
          p.advice__description(ng-if="!accountUpgradeState")
            | Please ask your organization owner to upgrade if you need more locales or delete some of the existing ones

        div(ng-if="localesUsageState === NO_MULTIPLE_LOCALES")
          h1.advice__title Your plan does not include multiple locales
          p.advice__description Your current subscription plan <strong>({{ subscriptionPlanName }})</strong> does not support localizing content
          p.advice__description(ng-if="accountUpgradeState")
            | Please <a cf-sref="{{ accountUpgradeState }}">upgrade</a>&#32;
            | to a plan that includes locales to benefit from this feature
          p.advice__description(ng-if="!accountUpgradeState")
            | Please ask your organization owner to upgrade to a plan&#32;
            | that includes locales to benefit from this feature

  .workbench-main__sidebar(ng-if="showSidebar")
    .entity-sidebar
      p(ng-if="localesUsageState !== LOCALES_LIMIT_REACHED")
        button.btn-action.add-entity.x--block(ng-click="newLocale()")
          cf-icon.btn-icon.inverted(name="plus")
          | Add Locale

      div(ng-if="insideMasterEnv")
        p.entity-sidebar__text-profile
          | You are using {{usage}} out of {{limit}}&#32;
          ng-pluralize(count="limit" when="{'1': 'locale', 'other': 'locales'}")
          | &#32;available in {{spaceType ? 'the ' + spaceType : 'your'}} space.

        div(ng-if="localesUsageState === LOCALES_LIMIT_REACHED")
          p.entity-sidebar__text-profile(ng-if="limit > 1")
            | Delete existing locales or
            span(ng-if="!canUpgrade")
              | &#32;ask the administrator of your organization to
            | &#32;upgrade the space to add more.
          p.entity-sidebar__text-profile(ng-if="limit <= 1")
            span(ng-if="!canUpgrade")
              | Ask the administrator of your organization to&#32;
            | {{canUpgrade ? 'Upgrade' : 'upgrade'}} the space to add more.
          p(ng-if="canUpgrade")
            button.btn-primary-action.upgrade-space.x--block(ng-click="upgradeSpacePlan()")
              | Upgrade space

      h2.entity-sidebar__heading
        | Documentation
      p.entity-sidebar__text-profile
        | Contentful enables publishing content in multiple language. To translate your content, add a locale, and enable translation for each necessary field in your content.
