.account-dropdown.app-top-bar__child.app-top-bar--left-separator
  a.app-top-bar__menu-trigger(
    role="button"
    cf-context-menu-trigger
    ng-click="clickedProfileButton()"
    tabindex="0" data-test-id="account-menu-trigger")
    img.account-dropdown__avatar(ng-src="{{user.avatarUrl}}")
    span.account-dropdown__name.u-truncate {{user.firstName}}
    cf-icon.icon-dd-arrow-down.pull-right(name="dd-arrow-down")
  .context-menu.x--top-bar.x--arrow-right(
    role="menu" cf-context-menu="bottom-right"
    aria-label="Account Menu" data-test-id="account-menu")
    ul.context-menu__items
      li(role="menuitem" ng-click="goToUserProfile()")
        | User profile
      li(role="menuitem" ng-click="goToSubscription()" ng-show="canGoToSubscription")
        | Organizations & billing
      li(role="menuitem" ng-click="openIntercom()" ng-if="isIntercomLoaded()")
        | Talk to us
      li(role="menuitem" ng-click="openSupport()")
        | Get support
      li(role="menuitem" ng-click="logout()")
        | Log out
