.account-dropdown.app-top-bar__child.app-top-bar--left-separator
  a.app-top-bar__menu-trigger(
    role="button"
    cf-context-menu-trigger
    tabindex="0" data-test-id="account-menu-trigger")
    img.account-dropdown__avatar(ng-src="{{user.avatarUrl}}")
    span.account-dropdown__name.u-truncate {{user.firstName}}
    cf-icon.icon-dd-arrow-down.pull-right(name="dd-arrow-down")
  .context-menu.x--top-bar.x--arrow-right(
    role="menu" cf-context-menu="bottom-right"
    aria-label="Account Menu" data-test-id="account-menu"
    style="min-width: 200px;")
    a.context-menu__item(
      role="menuitem"
      data-test-id="nav.account.userProfile"
      ui-sref="account.profile.user")
      | User profile
    a.context-menu__item(
      role="menuitem"
      data-test-id="nav.account.organization"
      ng-if="!useNewNavigation && organizationsRef"
      cf-sref="organizationsRef")
      | Organizations &amp; billing
    .context-menu__item(
      role="menuitem"
      ng-click="openIntercom()"
      data-test-id="nav.account.intercom"
      ng-if="canShowIntercomLink && isIntercomLoaded()")
      | Talk to us
    a.context-menu__item(
      role="menuitem"
      href="{{supportUrl}}"
      data-test-id="nav.account.support"
      target="_blank"
      rel="noopener noreferrer")
      | Get support
    .context-menu__item(
      role="menuitem"
      data-test-id="nav.account.logout"
      ng-click="logout()")
      | Log out
