header.workbench-header.x--with-nav
  cf-breadcrumbs
  .page-header
    h1.workbench-header__title
      | User Profile

  nav.workbench-nav__tabs
    a(
      role="tab"
      data-test-id="{{tab.id}}"
      ui-sref="{{tab.state}}"
      ng-repeat="tab in nav.tabs track by $index"
      aria-selected='{{tab.selected}}')
      | {{tab.name}}
