.link-editor__controls
  .link-editor__search-input.l-search-w-autocomplete(cf-tokenized-search="searchTerm"
    tooltip-placement="top"
    tooltip="Search for existing {{entityName}}"
    search-content-type="getSearchContentType()"
    placeholder="Search for {{entityName}}"
    cf-on-blur-component="leftSearch($event)"
    cf-on-blur-component-when="showAutocompletions")

  //- link to entry or entries
  button.cfnext-btn-secondary-action.link-editor__add-button(type="button"
    ng-if="entityType=='Entry' && addableContentTypes.length > 1"
    ng-hide="permissionController.get('createEntry', 'shouldHide')"
    ng-disabled="permissionController.get('createEntry', 'shouldDisable')"
    cf-when-disabled="permissionController.entityActions.createEntry"
    tooltip="Add new {{entityType}}"
    tooltip-placement="left"
    cf-dropdown-toggle="linkEditor.addNew")
    cf-icon.btn-icon(name="plus")
    | Add New
  //- TODO the ng-if condition for the dropdown has to be synced
  //- manually with the confidtion above
  a.dropdown-menu(
    ng-if="entityType=='Entry' && addableContentTypes.length > 1"
    cf-dropdown-menu="linkEditor.addNew")
    ul
      li.dropdown-menu-item(ng-repeat="contentType in addableContentTypes track by contentType.getId()"
          ng-click="addNewEntry(contentType)"
          cf-dropdown-close)
        | {{contentType.getName()}}

  //- link to entry or entries with restriction on the type
  button.cfnext-btn-secondary-action.link-editor__add-button(type="button"
      ng-if="entityType=='Entry' && addableContentTypes.length === 1"
      ng-hide="permissionController.get('createEntry', 'shouldHide')"
      ng-disabled="permissionController.get('createEntry', 'shouldDisable')"
      cf-when-disabled="permissionController.entityActions.createEntry"
      ng-click="addNewEntry(addableContentTypes[0])")
    cf-icon.btn-icon(name="plus")
    | Add New

  //- link to asset (with or without restriction)
  button.cfnext-btn-secondary-action.link-editor__add-button(type="button"
      ng-if="entityType=='Asset'"
      ng-hide="permissionController.get('createAsset', 'shouldHide')"
      ng-disabled="permissionController.get('createAsset', 'shouldDisable')"
      cf-when-disabled="permissionController.entityActions.createAsset"
      ng-click="addNewAsset()")
    cf-icon.btn-icon(name="plus")
    | Add New


.search-results.search-options-on.result-list-empty(
     ng-show="searchController.isEmptyState()"
     ng-switch="entityType"
     cf-click-outside-ignore=".search-button, .fa-search, .search-field input"
     cf-click-outside-when="searchController.areResultsVisible()"
     cf-click-outside="clickOutsideHandler()")
  div(ng-switch-when="Entry")
    p No Entries created yet.
  div(ng-switch-when="Asset")
    p No Assets created yet.


.search-results.search-options-on(ng-show="searchController.isResultsState()"
                           ng-switch="entityType"
                           cf-click-outside-ignore=".search-button, .fa-search, .search-field input"
                           cf-click-outside-when="searchController.areResultsVisible()"
                           cf-click-outside="clickOutsideHandler()")

  div(ng-switch-when="Entry")
    .endless-container(cf-endless-container at-bottom="searchController.loadMore()" num-elements="paginator.page")
      table.search-results__list
        tbody
          tr(ng-repeat="entity in entities track by entity.getId()"
              cf-click-local="pick(entity)"
              ng-class="{selected: entity==selectedEntity}")
            td.cell-name
              span(title="{{spaceContext.entryTitle(entity)}}") {{spaceContext.entryTitle(entity)}}
            td.cell-content-type
              span {{spaceContext.publishedTypeForEntry(entity).getName()}}
            td.cell-updated
              date(ng-if="entity.getUpdatedAt()" datetime="{{entity.getUpdatedAt()}}" cf-relative-datetime)
      .loading(ng-hide="paginator.atLast()")
    p.search-results__length Showing {{entities.length}} of {{paginator.numEntries}} entries

  div(ng-switch-when="Asset")
    .endless-container(cf-endless-container at-bottom="searchController.loadMore()" num-elements="paginator.page")
      table.search-results__list
        tbody
          tr(ng-repeat="entity in entities track by entity.getId()"
              cf-click-local="pick(entity)"
              ng-class="{selected: entity==selectedEntity}")
            td.cell-preview
              p.file-preview(cf-file-preview file="spaceContext.localizedField(entity, 'data.fields.file', locale.code)")
                span.cf-thumbnail(cf-thumbnail file="file" size="70" ng-if="file")
            td.cell-name(ng-init="assetCellName=spaceContext.localizedField(entity, 'data.fields.title', locale.code) || 'Untitled'")
              p(title="{{assetCellName}}") {{assetCellName}}
              p.lighter {{spaceContext.localizedField(entity, 'data.fields.description', locale.code)}}
            td.cell-type(ng-init="file=spaceContext.localizedField(entity, 'data.fields.file', locale.code)")
              p(ng-show="file && file.url") {{file|fileType}}
                span.lighter {{file|fileExtension}}
              p.cell--lighter
                date(ng-if="entity.getUpdatedAt()" datetime="{{entity.getUpdatedAt()}}" cf-relative-datetime)
      .loading(ng-hide="paginator.atLast()")
    p.search-results__length Showing {{entities.length}} of {{paginator.numEntries}} assets
