.tab-header
  .tab-header__title
    cf-icon(name="page-ct")
    h1
      | Content Types
      a(cf-knowledge-base-icon
        analytics-event="content_types"
        href="https://contentful.zendesk.com/hc/en-us/articles/200513228-What-is-a-Content-Type-")

  .tab-header__search.search-area
    .search-field(cf-search="searchTerm" placeholder="Search for Content Types")

  .tab-header__actions.add-entity(ng-hide="empty")
    button.cfnext-btn-action(
        ng-click="entityCreationController.newContentType()"
        ng-hide="permissionController.get('createContentType', 'shouldHide')"
        ng-disabled="permissionController.get('createContentType', 'shouldDisable')"
        cf-when-disabled="permissionController.entityActions.createContentType")
      cf-icon.btn-icon.inverted(name="plus")
      | New Content Type

.tab-main
  .left-nav(ng-hide="empty")
    header.filter-list-header Filter By Status
    ul.status-filters
      li.filter-list-item(ng-class="{active: context.list == 'all'}" ng-click="switchList('all')")
        span.filter-list-title All
      li.filter-list-item(ng-class="{active: context.list == 'changed'}" ng-click="switchList('changed')")
        span.filter-list-title Changed
      li.filter-list-item(ng-class="{active: context.list == 'draft'}" ng-click="switchList('draft')")
        span.filter-list-title Draft
      li.filter-list-item(ng-class="{active: context.list == 'active'}" ng-click="switchList('active')")
        span.filter-list-title Active

  .with-left-nav(ng-hide="empty")
    table.result-list.main-results.main-header
      thead
        tr
          th.cell-display-name Name
          th.cell-description Description
          th.cell-integer Fields
          th.cell-date Updated
          th.cell-symbol By
          th.cell-status Status

    .main-results-wrapper
      table.result-list.main-results.animated
        tbody
          tr(ng-repeat="contentType in visibleContentTypes = (contentTypes | filter:visibleInCurrentList) track by contentType.getId()"
              ng-init="entityNavState='spaces.detail.content_types.detail({ contentTypeId: contentType.getId() })'"
              ui-sref="{{entityNavState}}")
            td.cell-display-name
              a.entity-list-link(ui-sref="{{entityNavState}}") {{contentType.getName()}}
            td.cell-description
              a.entity-list-link(ui-sref="{{entityNavState}}") {{contentType.data.description}}
            td.cell-integer
              a.entity-list-link(ui-sref="{{entityNavState}}") {{numFields(contentType)}}
            td.cell-date
              a.entity-list-link(ng-if="contentType.getUpdatedAt()" ui-sref="{{entityNavState}}")
                date(datetime="{{contentType.getUpdatedAt()}}" cf-relative-datetime)
            td.cell-symbol
              a.entity-list-link(cf-user link="contentType.getUpdatedBy()" as="updater" ui-sref="{{entityNavState}}")
                | {{updater | userNameDisplay:user}}
            td.cell-status(ng-class="statusClass(contentType)")
              a.entity-list-link(ui-sref="{{entityNavState}}")
                .status-label {{statusLabel(contentType)}}
                .status-bar

    .advice(ng-show="visibleContentTypes | isEmpty")
      .advice__frame(ng-show="hasQuery()")
        i.fa.fa-search.fa-flip-horizontal.advice__giant-icon
        header.advice__title There are no matches to your search

.advice(ng-show="contentTypes.length === 0 && !hasQuery()")
  include ../../shared/create_content_type_advice
