header.workbench-header
  .workbench-header__left
    cf-icon.workbench-header__icon(name="page-ct")
    h1.workbench-header__title
      | Content Types
      cf-knowledge-base.workbench-header__kb-link(target="content_type")

  .workbench-header__search.search-area
    .search-field(
      cf-search="searchTerm"
      placeholder="Search for Content Types")

  .workbench-header__actions
    button.cfnext-btn-action(
      ng-click="entityCreationController.newContentType()"
      ng-hide="permissionController.shouldHide('createContentType')"
      ng-disabled="permissionController.shouldDisable('createContentType')"
      cf-when-disabled="createContentType")
      cf-icon.btn-icon.inverted(name="plus")
      | New Content Type

.workbench-main.x--content(ng-show="!hasContentTypes()")
  .cfnext-advice
    include ../../shared/create_content_type_advice

.workbench-main(ng-show="hasContentTypes()")
  .workbench-main__left-sidebar
    header.filter-list-header Filter By Status
    ul.status-filters
      li.filter-list-item(ng-class="{active: context.list == 'all'}" ng-click="context.list = 'all'")
        span.filter-list-title All
      li.filter-list-item(ng-class="{active: context.list == 'changed'}" ng-click="context.list = 'changed'")
        span.filter-list-title Changed
      li.filter-list-item(ng-class="{active: context.list == 'draft'}" ng-click="context.list = 'draft'")
        span.filter-list-title Draft
      li.filter-list-item(ng-class="{active: context.list == 'active'}" ng-click="context.list = 'active'")
        span.filter-list-title Active

  .workbench-main__right-content(ng-show="!hasQueryResults()")
    .cfnext-advice
      i.fa.fa-search.fa-flip-horizontal.advice__giant-icon
      .advice__title There are no matches to your search

  .workbench-main__right-content(ng-show="hasQueryResults()")
    table.result-list.main-results.main-header
      thead
        tr
          th.cell-display-name Name
          th.cell-description Description
          th.cell-integer Fields
          th.cell-date Updated
          th.cell-symbol By
          th.cell-status Status

    .main-results-wrapper
      table.result-list.main-results.animated.entity-table
        tbody
          tr.entity-list__item(
            ng-repeat="contentType in visibleContentTypes track by contentType.getId()"
            ng-init="entityNavState='spaces.detail.content_types.detail({ contentTypeId: contentType.getId() })'"
            ui-sref="{{entityNavState}}")
            td.cell-display-name
              a.entity-list-link(ui-sref="{{entityNavState}}") {{contentType.getName()}}
            td.cell-description
              a.entity-list-link(ui-sref="{{entityNavState}}") {{contentType.data.description}}
            td.cell-integer
              a.entity-list-link(ui-sref="{{entityNavState}}") {{numFields(contentType)}}
            td.cell-date
              a.entity-list-link(ng-if="contentType.getUpdatedAt()" ui-sref="{{entityNavState}}")
                date(datetime="{{contentType.getUpdatedAt()}}" cf-relative-datetime)
            td.cell-symbol
              a.entity-list-link(cf-user link="contentType.getUpdatedBy()" as="updater" ui-sref="{{entityNavState}}")
                | {{updater | userNameDisplay:user}}
            td.cell-status(ng-class="statusClass(contentType)")
              a.entity-list-link(ui-sref="{{entityNavState}}")
                .status-label {{statusLabel(contentType)}}
                .status-bar
