include ../advice.mixin.jade
include ../../shared/table_pattern.mixin.jade

header.workbench-header
  cf-breadcrumbs
  .workbench-header__left
    cf-icon.workbench-header__icon(name="page-ct", scale="0.75")
    h1.workbench-header__title
      | Content model
      cf-knowledge-base.workbench-header__kb-link(target="content_model")

  .workbench-header__search(
    ng-if="context.ready && hasContentTypes()")
    div(
      cf-search="context.searchTerm"
      is-searching="context.isSearching"
      placeholder="Search for a content type")

  .workbench-header__actions(ng-hide="!hasContentTypes()")
    button.btn-action(
      ng-click="entityCreationController.newContentType()"
      ng-hide="shouldHide('createContentType')"
      ng-disabled="shouldDisable('createContentType')"
      cf-when-disabled="createContentType")
      cf-icon.btn-icon.inverted(name="plus")
      | Add content type

.workbench-main.x--content(ng-show="!hasContentTypes()")
  .empty-state
    cf-icon(name="empty-content-model" class="empty-state__icon")
    .empty-state__title
      | Alright, let’s create your content model!
    .empty-state__description
      | The content model is comprised of content types. They work like a stencil which defines the structure of your content. Get started by creating your first content type.
    .empty-state__action
      button.btn-action--large(
        type="button"
        ng-click="entityCreationController.newContentType()"
        ng-hide="shouldHide('createContentType')"
        ng-disabled="shouldDisable('createContentType')"
        cf-when-disabled="createContentType")
        cf-icon.btn-icon.inverted(name="plus")
        | Add content type
    .empty-state__additional
      | No clue what purpose the content model serves? Read our documentation on <cf-knowledge-base target="content_model" text="content modeling" inline-text="true" class="text-link--standard"></cf-knowledge-base>.

.workbench-main(ng-show="hasContentTypes()")
  .workbench-main__left-sidebar
    .view-folder
      header.view-folder__header
        .view-folder__title Filter by status
      ul.view-folder__list
        li.view-folder__item(
          ng-class="{'-active': context.list == 'all'}"
          ng-click="context.list = 'all'")
          .view-folder__item-title All
        li.view-folder__item(
          ng-class="{'-active': context.list == 'changed'}"
          ng-click="context.list = 'changed'")
          .view-folder__item-title Changed
        li.view-folder__item(
          ng-class="{'-active': context.list == 'draft'}"
          ng-click="context.list = 'draft'")
          .view-folder__item-title Draft
        li.view-folder__item(
          ng-class="{'-active': context.list == 'active'}"
          ng-click="context.list = 'active'")
          .view-folder__item-title Active

  .workbench-main__right-content
    +no-search-results("!hasQueryResults()")
    .table(ng-show="hasQueryResults()")
      .table__head
        table
          thead
            tr
              th(aria-label="cell-display-name").x--medium-cell Name
              th(aria-label="cell-description").x--large-cell Description
              th(aria-label="cell-integer").x--small-cell Fields
              th(aria-label="cell-date").x--small-cell Updated
              th(aria-label="cell-symbol").x--small-cell By
              th(aria-label="cell-status").x--small-cell Status
      .table__body
        table
          tbody
            tr.entity-list__item(
              ng-repeat="contentType in visibleContentTypes track by contentType.getId()"
              ng-init="linkToCt='spaces.detail.content_types.detail.fields({ contentTypeId: contentType.getId() })'"
              ui-sref="{{linkToCt}}")
              +td.x--medium-cell(aria-label="cell-display-name"
                ui-sref="{{linkToCt}}")
                | {{contentType.getName() || '&nbsp;'}}
              +td.x--large-cell(aria-label="cell-description"
                ui-sref="{{linkToCt}}")
                | {{contentType.data.description || '&nbsp;'}}
              +td.x--small-cell(aria-label="cell-integer"
                ui-sref="{{linkToCt}}")
                | {{numFields(contentType)}}
              +td.x--small-cell(aria-label="cell-date"
                ui-sref="{{linkToCt}}")
                date(ng-if="contentType.getUpdatedAt()" datetime="{{contentType.getUpdatedAt()}}" cf-relative-datetime)
              +td.x--small-cell(aria-label="cell-symbol"
                ui-sref="{{linkToCt}}")
                span(cf-user link="contentType.getUpdatedBy()" as="updater")
                  | {{updater | userNameDisplay:user}}
              +td.entity-status.x--small-cell(aria-label="cell-status"
                ui-sref="{{linkToCt}}")
                span(ng-class="statusClass(contentType)")
                  | {{statusLabel(contentType) || '&nbsp;'}}
