.tab-header
  .tab-header__title
    h1
      | Content Types
      a(cf-knowledge-base-icon
        tooltip="Learn more about Content Types in the Knowledge Base Pages"
        tooltip-container=".entity-list"
        analytics-event="content_types"
        href="https://contentful.zendesk.com/hc/en-us/articles/200513228-What-is-a-Content-Type-")

  .tab-header__search.search-area
    .search-field(cf-search="searchTerm" placeholder="Search for Content Types")

  .tab-header__actions.add-entity(ng-hide="empty")
    button.btn.btn--primary.u-truncate(
        ng-click="entityCreationController.newContentType('frameButton')"
        ng-hide="permissionController.get('createContentType', 'shouldHide')"
        ng-disabled="permissionController.get('createContentType', 'shouldDisable')"
        cf-when-disabled="permissionController.entityActions.createContentType")
      i.fa.fa-plus.button-icon
      | Add Content Type

.tab-main
  .left-nav
    header.filter-list-header Filter By Status
    ul.status-filters
      li.filter-list-item(ng-class="{active: tab.params.list == 'all'}" ng-click="switchList('all')")
        span.filter-list-title All
      li.filter-list-item(ng-class="{active: tab.params.list == 'changed'}" ng-click="switchList('changed')")
        span.filter-list-title Changed
      li.filter-list-item(ng-class="{active: tab.params.list == 'draft'}" ng-click="switchList('draft')")
        span.filter-list-title Draft
      li.filter-list-item(ng-class="{active: tab.params.list == 'active'}" ng-click="switchList('active')")
        span.filter-list-title Active

  .with-left-nav
    table.result-list.main-results.main-header(ng-hide="empty")
      thead
        tr
          th.cell-display-name Name
          th.cell-description Description
          th.cell-integer Fields
          th.cell-date Updated
          th.cell-symbol By
          th.cell-status Status

    .main-results-wrapper
      table.result-list.main-results.animated
        tbody
          tr(ng-repeat="contentType in visibleContentTypes = (contentTypes | filter:visibleInCurrentList) track by contentType.getId()"
              cf-click-local="navigator.contentTypeEditor(contentType).goTo()")
            td.cell-display-name
              span {{contentType.getName()}}
            td.cell-description
              span {{contentType.data.description}}
            td.cell-integer
              span {{numFields(contentType)}}
            td.cell-date
              date.relative(ng-if="contentType.getUpdatedAt()" datetime="{{contentType.getUpdatedAt()}}")
            td.cell-symbol
              span(cf-user link="contentType.getUpdatedBy()" as="updater")
                | {{updater | userNameDisplay:user}}
            td.cell-status(ng-class="statusClass(contentType)")
              .status-label {{statusLabel(contentType)}}
              .status-bar

    .advice(ng-show="visibleContentTypes | isEmpty")
      .advice__frame(ng-show="hasQuery()")
        i.fa.fa-search.fa-flip-horizontal.advice__giant-icon
        header.advice__title There are no matches to your search
      .advice__frame(ng-show="!hasQuery()")
        i.fa.fa-database.advice__giant-icon
        header.advice__title You have no Content Types yet.
        p.advice__description Content Types work like stencils that define which Entries you can create within a specific Space.
        button.btn.btn--primary(type="button"
            ng-click="entityCreationController.newContentType('frameButton')"
            ng-hide="permissionController.get('createContentType', 'shouldHide')"
            ng-disabled="permissionController.get('createContentType', 'shouldDisable')"
            cf-when-disabled="permissionController.entityActions.createContentType")
          | Create Content Type
        a.knowledge-base-link(target="_blank" href="https://contentful.zendesk.com/hc/en-us/articles/200513228-What-is-a-Content-Type-")
          | Visit the Knowledge Base Pages
          i.fa.fa-question-circle
