div.editor-control-warning(
  ng-if="misconfigured"
  role="alert")
  cf-icon(name="plug")
  p
    | The widget failed to initialize.
    | You can fix the problem by providing predefined values
    | under the validations tab in the field settings.

div.radio-editor__options(
  ng-if="!misconfigured"
  ng-class="{'x--horizontal': horizontalLayout, 'x--disabled': isDisabled}")
  label.radio-editor__option(
    ng-repeat="option in options")
    input.radio-editor__input(type="radio"
      name="{{radioGroupName}}"
      ng-model="data.selected"
      ng-value="option.value"
      ng-disabled="isDisabled")
    span.radio-editor__label
      | {{option.label}}
