include ../field_editor.mixins.jade

mixin clear-button
  button.cfnext-btn-link.radio-editor__clear(
    ng-click="clear($event)"
    ng-disabled="isDisabled")
    | Clear

+predefined-values-warning(ng-if="misconfigured")

div.radio-editor__options(
  ng-if="!misconfigured"
  ng-class="{ 'x--vertical': !horizontalLayout, 'x--disabled': isDisabled, 'x--directed': isDirected }")
  label.radio-editor__option(
    ng-repeat="option in options")
    input.radio-editor__input(type="radio"
      name="{{radioGroupName}}"
      ng-model="data.selected"
      ng-value="option.value"
      ng-disabled="isDisabled")
    span.radio-editor__label
      | {{option.label}}
      span(ng-if="!horizontalLayout && data.selected === option.value")
        +clear-button
  span(ng-if="horizontalLayout && data.selected !== undefined")
    +clear-button
