input.entry-editor__input(
  type="text"
  aria-invalid="{{hasErrors || urlStatus === 'broken' || urlStatus === 'invalid'}}"
  ng-disabled="isDisabled")
.cfnext-form__field-error(
  role="status"
  data-status-code="entry.url.invalid"
  ng-show="urlStatus === 'invalid'")
  | Invalid URL
.cfnext-form__field-error(
  role="status"
  data-status-code="entry.url.broken"
  ng-show="urlStatus === 'broken'")
  | Unable to access URL

div(ng-show="urlStatus === 'loading'")
  .loading-box(style="height: 470px")
    .loading-box__spinner
    .loading-box__message
      | Preview will be ready in a few moments
div(ng-hide="urlStatus === 'loading'")
  cf-embedly-preview(preview-url="previewUrl" url-status="urlStatus")
