.entity-sidebar__info-panel.entity-info-panel(
  ng-class="preferences.showAuxPanel && 'x--show'")
  cf-entity-info-panel(entity-sys-property="entitySys$" content-type="entityInfo.contentType" user="user")

.entity-sidebar
  h2.entity-sidebar__heading
    | Status

  .entity-sidebar__state(
    ng-switch="state.current")
    span.entity-sidebar__state-indicator(
      data-test-id="entity-state"
      data-state="{{state.current}}")
    strong
      | Status: &nbsp;
    span(ng-switch-when="archived")
      | Archived
    span(ng-switch-when="draft")
      | Draft
    span(ng-switch-when="published")
      | Published
    span(ng-switch-when="changes")
      | Published (pending changes)

  .entity-sidebar__state-select
    .btn-action-select(
      ng-class="state.hidePrimary && 'x--no-action'")

      button.btn-action-select__action(
        ui-command="state.primary"
        data-target-state="{{state.primary.targetStateId}}")
        | {{ command.label }}

      button.btn-action-select__selector(
        cf-context-menu-trigger
        ng-disabled="state.secondaryActionsDisabled"
        data-test-id="change-state-menu-trigger")
        span.btn-action-select__selector-label
          | Change status
        cf-icon.btn-action-select__icon(name="dd-arrow-down")
      .context-menu.x--arrow-right(
        data-test-id="change-state-menu"
        cf-context-menu="bottom-right")
        div.context-menu__header
          | Change status to
        div(ng-repeat="command in state.secondary")
          div(role="menuitem" ui-command="command" data-target-state="{{command.targetStateId}}")
            | {{ command.status }}

  .entity-sidebar__status-more
    .entity-sidebar__save-status
      i.entity-sidebar__saving-spinner(ng-class="data.documentIsSaving && 'x--active'")
      span.entity-sidebar__last-saved
        | Last saved&nbsp;
        time(datetime="{{data.documentUpdatedAt}}" cf-relative-datetime)
    button.entity-sidebar__revert.btn-link(
      ng-if="data.isEntry && state.current === 'changes'"
      data-test-id="discard-changed-button"
      ui-command="state.revertToPrevious")
      | Discard changes

  cf-sidebar-content-preview(ng-if="data.isEntry")

  cf-sidebar-incoming-links
  h2.entity-sidebar__heading
    | Translation

  .pill-list.entity-sidebar__translation-pills
    .entity-sidebar__translation-pill(
      ng-repeat="locale in locales.active track by locale.sys.id"
      ng-class="locale.default && 'x--default'")
        <react-component name="@contentful/ui-component-library/Pill" props="locales.buildPillProps(locale)"></react-component>
    <react-component name="@contentful/ui-component-library/TextLink" props="locales.buildChangeLocaleProps()">Change</react-component>


  div(ng-if="data.isEntry && data.isMasterEnvironment")
    h2.entity-sidebar__heading Versions
    cf-snapshot-sidebar-list

  h2.entity-sidebar__heading
    | Users
  .entity-sidebar__no-users(ng-if="!data.docCollaborators.length")
    | No other users online
  ul.entity-sidebar__users(ng-if="data.docCollaborators.length")
    li.avatar(ng-repeat="link in data.docCollaborators track by link.sys.id"
      cf-user link="link" as="presenceUser"
      tooltip-placement="bottom"
      tooltip="{{presenceUser | userNameDisplay:user}}")
      img(ng-src="{{presenceUser.avatarUrl}}")

  .entity-sidebar__widget(
    ng-repeat="widget in sidebarControls track by widget.field.id"
    ng-controller="SidebarWidgetRenderController")
    //- FIX(mudit): This shows the field name currently but should show widget name
    h2.entity-sidebar__heading
      | {{widget.field.name}}
    cf-widget-renderer
