mixin editor-field-collaborators
  ul.entity-editor__field-collaborators
    li(
      cf-user
      ng-repeat="link in fieldLocale.collaborators track by link.sys.id"
      link="link" as="presentUser"
      tooltip="{{presentUser| userNameDisplay:user}}")
      img(ng-src="{{presentUser.avatarUrl}}")

mixin field-permission-info
  div.entity-editor__no-permission-info(
    data-test-id="field-locale-permissions"
    ng-show="fieldLocale.access.denied"
    tooltip="You don't have a permission to edit this field. To change your permission setting contact your space administrator."
    tooltip-placement="left")
    cf-icon(name="lock")
    | This field is locked
  div.entity-editor__no-permission-info(
    data-test-id="field-locale-disabled"
    ng-show="fieldLocale.access.editing_disabled"
    tooltip="Editing of this field is disabled. To change your content model contact your space administrator."
    tooltip-placement="left")
      cf-icon(name="lock")
      | This field is disabled
  div.entity-editor__no-permission-info(
    data-test-id="field-locale-occupied"
    ng-show="fieldLocale.access.occupied")
      // We do not want a tooltip for this case for now.
      cf-icon(name="lock")
      | This field is being edited by another user

mixin field-locale-errors
  ul.cfnext-form__field-errors(ng-if="fieldLocale.errors")
    li(
      ng-repeat="error in fieldLocale.errors"
      role="status"
      aria-roledescription="field-locale-schema"
      data-error-code="entry.schema.{{error.name}}")
      | {{ error.message }}
      ul.cfnext-form__field-errors(
        ng-if="error.name === 'unique'"
        data-test-id="uniqueness-conflicts-list")
        li.entity-editor__control-error(ng-repeat="conflict in error.conflicting track by conflict.sys.id")
          div.cfnext-form__field-error(
            ng-if="!conflict.data.ref")
            | Loading title for conflicting entry…
          a.cfnext-form__field-error(
            ng-if="conflict.data.ref"
            target="_blank" rel="noopener noreferrer"
            cf-sref="conflict.data.ref")
            | {{ conflict.data.entryTitle }}
            i.fa.fa-external-link

div.entity-editor__field-group(
  ng-show="widget.isVisible"
  data-test-id="entity-field-controls"
  data-field-id="{{data.field.id}}"
  data-field-api-name="{{data.field.apiName}}"
  data-field-type="{{data.field.type}}"
  data-field-items-type="{{data.field.items.type}}"
  aria-current="{{data.fieldHasFocus}}"
  aria-invalid="{{data.fieldHasErrors}}")

  div.entity-editor__field-locale(
    ng-repeat="locale in locales track by locale.internal_code"
    ng-controller="FieldLocaleController as fieldLocale"
    data-locale="{{locale.code}}")

    div.entity-editor__field-heading
      label(data-test-id="field-locale-label")
        | {{ data.field.name }}
        span(ng-if="fieldLocale.isRequired") &#32;(required)
        span(ng-if="locales.length > 1")
          | &#32;&ndash; {{locale.name}}
        div.inline-toggle(
          ng-if="data.canRenderInline"
          ng-click="methods.toggleLocaleFieldExpansion(locale)")
          cf-icon(name="text-fields")
          span.text-link
            | {{ methods.isLocaleFieldExpanded(locale.code) ? 'Disable' : 'Enable' }} inline editing
          span.banner(
            tooltip-placement="{{ data.tooltipPlacement }}"
            tooltip="Inline editing is an experimental feature. Use it with caution.")
            | Beta
      +field-permission-info

    div.entity-editor__control-group
      cf-widget-renderer.entity-editor__control(
        ng-class="{ 'x--dir-rtl': methods.shouldDisplayRtl(locale.code) }"
        cf-focus-ot-input="data.hasInitialFocus"
        cf-widget-api)
      +editor-field-collaborators
    +field-locale-errors

  div.entity-editor__field-hint(
    ng-if="data.showHelpText"
    role="note"
    data-test-id="field-hint")
    | {{data.helpText}}
