.entity-sidebar

  div(
    ng-repeat="widgetName in widgets"
  )
    react-component(
      name="{{widgetName}}"
      props="{emitter: emitter}"
    )

  react-component(
    name="widgets/LegacySidebarExtensions.es6"
    props="legacyExtensionsProps"
  )
