div
  h2.entity-sidebar__heading
    | Preview
  .entity-sidebar__preview
    a.btn-secondary-action.x--block(
      aria-disabled="{{!isPreviewSetup || !selectedEnvironment.compiledUrl}}",
      ng-class="{disabled: !isPreviewSetup}"
      ng-click="trackClickedLink()"
      ng-href="{{selectedEnvironment.compiledUrl}}"
      target="_blank" rel="noopener noreferrer")
      i.fa.fa-external-link
      span Open preview
    .entity-sidebar__help-text(role="note" ng-if="!isPreviewSetup")
      div(ng-show="isAdmin")
        p
          | No preview is set up for the content type of this entry.
        a(ui-sref="^.^.settings.content_preview.list")
          | Click here to set up a custom content preview
        |.
      div(ng-show="!isAdmin")
        | No content preview is set up yet. To set up your preview, contact the administrator of this space.
    .entity-sidebar__preview__toggle(ng-if="isPreviewSetup && contentPreviewEnvironments.length > 1")
      .entity-sidebar__preview__platform
        | <strong>Platform:</strong> {{selectedEnvironment.name}}
      a.entity-sidebar__preview__change(cf-context-menu-trigger)
        | Change
      .context-menu.x--arrow-right(cf-context-menu="bottom-right")
        ul.context-menu__items
          li(
            role="menuitem"
            ng-click="selectEnvironment(env)"
            ng-repeat="env in contentPreviewEnvironments")
            | {{env.name}}
