div(ng-if="contentPreviewEnvironments && contentPreviewEnvironments.length")
  h2.entity-sidebar__heading
    | Preview
  .entity-sidebar__preview
    a.btn-secondary-action.x--block(
      ng-click="trackClickedLink()"
      ng-href="{{selectedEnvironment.compiledUrl}}"
      target="_blank" rel="noopener noreferrer")
      i.fa.fa-external-link
      span Open preview
    .entity-sidebar__help-text(role="note" ng-if="showDefaultMessage")
      | By default, the Discovery App is used to preview content.&#32;
      a(ui-sref="spaces.detail.settings.content_preview.list")
        | Set up a custom content preview.
    .entity-sidebar__preview__toggle(
      ng-if="!showDefaultMessage && contentPreviewEnvironments.length > 1")
      .entity-sidebar__preview__platform
        | <strong>Platform:</strong> {{selectedEnvironment.name}}
      a.entity-sidebar__preview__change(cf-context-menu-trigger)
        | Change
      .context-menu.x--arrow-right(cf-context-menu="bottom-right")
        ul.context-menu__items
          li(
            role="menuitem"
            ng-click="selectEnvironment(env)"
            ng-repeat="env in contentPreviewEnvironments")
            | {{env.name}}
