.editor-control-warning
  cf-icon(name="close" scale="2")
  div
    p(ng-if="'${{message}}' === 'incompatible'")
      | The “${{label}}” editor widget cannot be used with this field.
    p(ng-if="'${{message}}' === 'missing'")
      | The editor widget “${{label}}” does not exist.
    p(ng-if="${{canUpdateContentTypes}}")
      | Please select an appropriate widget in the
      | <a href="{{contentTypeHref}}">content type field settings</a>.
    p(ng-if="!${{canUpdateContentTypes}}")
      | Please contact your Contenful administrator to update the
      | content type settings.
