.workbench
  .workbench-layer.animate(
    ng-class="getLayerClasses($index)"
    ng-style="{ left: 170 / entities.length * $index + 'px' }"
    ng-repeat="entity in entities track by entity.id"
    data-test-id="slide-in-{{ $index === 0 ? 'base' : 'layer' }}"
  )
    .workbench-layer__editor-container(
      watchers-toggler="!isTopLayer($index) && loaded"
      ng-mouseenter="initPeeking($index)"
    )
      cf-entry-editor(
        ng-if="entity.type === 'Entry'"
        entry-id="entity.id"
        preferences="preferences")
      cf-asset-editor(
        ng-if="entity.type === 'Asset'"
        asset-id="entity.id"
        preferences="preferences")
    .workbench-layer__overlay(
      ng-style="{opacity: (-$index / entities.length) + 0.8}"
      ng-if="!isTopLayer($index)"
      ng-click="close(entity)"
      ng-mouseenter="peekIn($index)"
      ng-mouseleave="peekOut()"
    )
