mixin load-status(entityType, entityId)
  cf-loader(
    ng-if="!slideState.loadingError"
    is-shown="true"
    loader-msg="Loading #{entityType.toLowerCase()}…")
  .empty-state(ng-if="slideState.loadingError")
    .empty-state__title(
      ng-if="slideState.loadingError.statusCode === 404")
      | #{entityType} missing or inaccessible
    .empty-state__title(
      ng-if="slideState.loadingError.statusCode !== 404")
      | Error loading #{entityType.toLowerCase()} with id&#32;
      code #{entityId}
    .empty-state__description(
      ng-if="slideState.loadingError.statusCode !== 404")
      | {{ slideState.loadingError.body.message }}

.workbench
  .workbench-layer.animate(
    ng-class="getLayerClasses($index)"
    ng-style="{ left: 170 / slideStates.length * $index + 'px' }"
    ng-repeat="slideState in slideStates track by slideState.key"
    data-test-id="slide-in-{{ $index === 0 ? 'base' : 'layer' }}"
  )
    .workbench-layer__editor-container(
      watchers-toggler="!isTopLayer($index) && loaded"
      ng-mouseenter="initPeeking($index)"
    )
      div(ng-if="!slideState.viewProps && slideState.slide.type === 'BulkEditor'" style="height: 100%")
        +load-status("Entry", "{{slideState.slide.path[0]}}")
      div(ng-if="!slideState.viewProps && slideState.slide.type === 'Entry'" style="height: 100%")
        +load-status("Entry", "{{slideState.slide.id}}")
      div(ng-if="!slideState.viewProps && slideState.slide.type === 'Asset'" style="height: 100%")
        +load-status("Asset", "{{slideState.slide.id}}")

      div(ng-if="slideState.viewProps")
        cf-bulk-editor(
          ng-if="slideState.slide.type === 'BulkEditor'"
          data-test-id="bulk-editor-container"
          reference-context="slideState.viewProps.referenceContext")
        cf-entry-editor(
          ng-if="slideState.slide.type === 'Entry'"
          editor-data="slideState.viewProps.editorData"
          preferences="preferences")
        cf-asset-editor(
          ng-if="slideState.slide.type === 'Asset'"
          editor-data="slideState.viewProps.editorData"
          preferences="preferences")
      .workbench-layer__overlay(
        ng-style="{opacity: (-$index / slideStates.length) + 0.8}"
        ng-if="!isTopLayer($index)"
        ng-click="close(slideState.slide)"
        ng-mouseenter="peekIn($index)"
        ng-mouseleave="peekOut()"
      )
