mixin entity-sidebar
  .entity-sidebar__info-panel.entity-info-panel(
    ng-class="preferences.showAuxPanel && 'x--show'")
    cf-entity-info-panel(entity="entity" content-type="contentType" user="user")

  .entity-sidebar
    h2.entity-sidebar__heading
      | Status

    .entity-sidebar__state(
      ng-switch="state.current")
      span.entity-sidebar__state-indicator(
        data-test-id="entity-state"
        data-state="{{state.current}}")
      strong
        | Status: &nbsp;
      span(ng-switch-when="archived")
        | Archived
      span(ng-switch-when="draft")
        | Draft
      span(ng-switch-when="published")
        | Published
      span(ng-switch-when="changes")
        | Published (pending changes)

    .entity-sidebar__state-select
      .btn-action-select(
        ng-class="state.hidePrimary && 'x--no-action'")

        button.btn-action-select__action(
          ui-command="state.primary"
          data-target-state="{{state.primary.targetStateId}}")
          | {{ command.label }}

        button.btn-action-select__selector(
          cf-context-menu-trigger
          ng-disabled="state.secondaryActionsDisabled"
          data-test-id="change-state-menu-trigger")
          span.btn-action-select__selector-label
            | Change status
          cf-icon.btn-action-select__icon(name="dd-arrow-down")
        .context-menu.x--arrow-right(
          data-test-id="change-state-menu"
          cf-context-menu="bottom-right")
          div.context-menu__header
            | Change status to
          div(ng-repeat="command in state.secondary")
            div(role="menuitem" ui-command="command" data-target-state="{{command.targetStateId}}")
              | {{ command.status }}

    .entity-sidebar__status-more
      .entity-sidebar__save-status
        i.entity-sidebar__saving-spinner(ng-class="documentIsSaving && 'x--active'")
        span.entity-sidebar__last-saved(ng-hide="documentIsSaving")
          | Last saved&nbsp;
          time(datetime="{{entity.getUpdatedAt()}}" cf-relative-datetime)
        span.entity-sidebar__saving(ng-show="documentIsSaving")
          | Saving
      if attributes.revert
        button.entity-sidebar__revert.btn-link(
          data-test-id="discard-changed-button"
          ui-command="state.revertToPrevious")
          | Discard changes

    div(ng-controller="contentPreviewSidebarController" ng-if="entity.getType() === 'Entry'")
      div(ng-if="contentPreviewEnvironments && contentPreviewEnvironments.length")
        h2.entity-sidebar__heading
          | Preview
        .entity-sidebar__preview
          a.btn-secondary-action.x--block(
            ng-click="trackClickedLink()"
            ng-href="{{selectedEnvironment.compiledUrl}}"
            target="_blank")
            i.fa.fa-external-link
            span Open preview
          .entity-sidebar__help-text(role="note" ng-if="showDefaultMessage")
            | By default, the Discovery App is used to preview content.&#32;
            a(ui-sref="spaces.detail.settings.content_preview.list")
              | Set up a custom content preview.
          .entity-sidebar__preview__toggle(
            ng-if="!showDefaultMessage && contentPreviewEnvironments.length > 1")
            .entity-sidebar__preview__platform
              | <strong>Platform:</strong> {{selectedEnvironment.name}}
            a.entity-sidebar__preview__change(cf-context-menu-trigger)
              | Change
            .context-menu.x--arrow-right(cf-context-menu="bottom-right")
              ul.context-menu__items
                li(
                  role="menuitem"
                  ng-click="selectEnvironment(env)"
                  ng-repeat="env in contentPreviewEnvironments")
                  | {{env.name}}

    h2.entity-sidebar__heading
      | Translation

    .pill-list
      .entity-sidebar__translation-pill(
        ng-repeat="locale in locales.active track by locale.sys.id"
        ng-class="locale.default && 'x--default'")
        | {{locale.code}}
        button.entity-sidebar__translation-remove(
          ng-if="!locale.default"
          ng-click="locales.deactivate(locale)")
          cf-icon(name="close" scale="0.6")
      button.btn-link(
        ui-command="locales.changeActive")
        | Change

    div(ng-if="entity.getType() === 'Entry'")
      h2.entity-sidebar__heading Versions
      cf-snapshot-sidebar-list
      a.btn-secondary-action.x--block(
        role="button"
        ui-sref=".compare"
        ui-sref-opts="{location: false}")
        | Compare versions
      .entity-sidebar__help-text(role="note")
        | Versions are previous states of this entry. You will be able to review
        | and compare different versions, and restore some or all fields.

    h2.entity-sidebar__heading
      | Users
    .entity-sidebar__no-users(ng-if="!docCollaborators.length")
      | No other users online
    ul.entity-sidebar__users(ng-if="docCollaborators.length")
      li.avatar(ng-repeat="link in docCollaborators track by link.sys.id"
        cf-user link="link" as="presenceUser"
        tooltip-placement="bottom"
        tooltip="{{presenceUser | userNameDisplay:user}}")
        img(ng-src="{{presenceUser.data.avatarUrl}}")

    .entity-sidebar__widget(
      ng-repeat="widget in sidebarControls track by widget.field.id"
      ng-controller="SidebarWidgetRenderController")
      //- FIX(mudit): This shows the field name currently but should show widget name
      h2.entity-sidebar__heading
        | {{widget.field.name}}
      cf-widget-renderer
