mixin editor-info-toggle
  button.btn-secondary-action(type="button"
    ng-click="preferences.toggleAuxPanel()"
    ng-class="{active: preferences.showAuxPanel}")
    | Info

mixin entry-comments-toggle
  button.btn-secondary-action.btn--has-alpha-button-label(type="button"
    ng-if="shouldDisplayCommentsToggle"
    ng-click="preferences.toggleCommentsPanel()"
    ng-class="{active: preferences.showCommentsPanel}")
    | Comments
    .btn__alpha-button-label
      | Alpha
