.workbench
  div(
    class="workbench-layer workbench-layer--{{ $index }} animate"
    ng-style="($index + 1) === entities.length && {width: 'calc(100% - (170 / ' + entities.length + ') * ' + $index + 'px)'} || {transform: 'translate3d(' + 170 / entities.length * $index + 'px, 0, 0)'}"
    ng-repeat="entity in entities track by $index"
    ng-class="{'workbench-layer--is-current': ($index + 1) === entities.length}"
    ng-mouseover="peekIn($event, $index)"
    ng-mouseleave="peekOut($event, $index)"
    data-layer-calculation="{{170 / entities.length * $index}}"
  )
    cf-entry-editor(
      ng-if="entity.type === 'Entry'"
      entry-id="entity.id"
      preferences="preferences")
    cf-asset-editor(
      ng-if="entity.type === 'Asset'"
      asset-id="entity.id"
      preferences="preferences")
    .workbench-layer__overlay(
      ng-style="{opacity: (-$index / entities.length) + 0.8}"
      ng-if="($index + 1) !== entities.length"
      ng-click="close(entity)"
    )
