include ./onboarding_nav.mixin.jade

.onboarding-dialog__content.modal-dialog__content
  div(ng-show="personaController.showCreateSpace")
    +onboarding-dialog-nav(step="1")
  h2.onboarding-dialog__heading(
    ng-class="{'x--no-nav': !personaController.showCreateSpace}")
    | What do you do?
  p.onboarding-dialog__subheading
    | We'll remember your area of expertise to adjust the app according to your needs.
  .persona-selection__options
    .persona-selection-option(ng-repeat="(id, opt) in personaController.personaOptions")
      a.persona-selection-option__icon(
        role="button"
        ng-click="personaController.submitPersonaSelection(id)"
        ng-class="{selected: personaController.selectedPersona === id}")
        cf-icon(name="{{ opt.svg }}")
      .persona-selection-option__title
        | {{ opt.title }}
      .persona-selection-option__description
        | {{ opt.description }}

.modal-dialog__controls.onboarding-dialog__controls--right
  button.btn-plain.onboarding-dialog__skip(
    ng-click="personaController.skipSelection()")
    | Skip this step
