include ../field_editor.mixins.jade

+predefined-values-warning(ng-if="misconfigured")

select.cfnext-select-box(
  ng-if="!misconfigured"
  ng-disabled="isDisabled"
  ng-model="data.selected"
  ng-required="required"
  ng-class="{ 'x--directed': isDirected }"
  ng-options="o.value as o.value for o in options")
  option(value="") Choose a value
