h2.validation-settings__header
  label.validation-settings__toggle
    span.validation-settings__toggle-input-wrapper
      input(type="checkbox" aria-label="{{validation.enabled ? 'Disable' : 'Enable'}} validation"
            ng-model="validation.enabled")
    span
      | {{validation.name}}

.validation-controls(ng-switch="validation.type" ng-show="validation.enabled")

  div(ng-switch-when="size")
    .validation-controls__view-select.btn.btn--tertiary.select-box
      select(aria-label="Select condition"
             ng-model="validation.currentView"
             ng-options="v.name as v.label for v in validation.views")
      i.button-icon-right.fa.fa-caret-down

    span(ng-switch="validation.currentView")
      span(ng-switch-when="min")
        input.form-control(type="number" placeholder="Min" aria-label="Minimum size"
                           ng-model="validation.settings.min")
      span(ng-switch-when="max")
        input.form-control(type="number" placeholder="Max" aria-label="Maximum size"
                           ng-model="validation.settings.max")
      span(ng-switch-when="min-max")
        input.form-control(type="number" placeholder="Min" aria-label="Minimum size"
                           ng-model="validation.settings.min")
        span.validation-controls__input-separator and
        input.form-control(type="number" placeholder="Max" aria-label="Maximum size"
                           ng-model="validation.settings.max")
    cf-error-list.form-inline-error(
      cf-error-messages="validation.errors"
      aria-label="Errors"
    )

    div(cf-template="validation_error_message_input")


  div(ng-switch-when="range")
    .validation-controls__view-select.btn.btn--tertiary.select-box
      select(aria-label="Select condition"
             ng-model="validation.currentView"
             ng-options="v.name as v.label for v in validation.views")
      i.button-icon-right.fa.fa-caret-down

    span(ng-switch="validation.currentView")
      span(ng-switch-when="min")
        input.form-control(type="number" placeholder="Min" aria-label="Minimum value"
                           ng-model="validation.settings.min")
      span(ng-switch-when="max")
        input.form-control(type="number" placeholder="Max" aria-label="Maximum value"
                           ng-model="validation.settings.max")
      span(ng-switch-when="min-max")
        input.form-control(type="number" placeholder="Min" aria-label="Minimum value"
                           ng-model="validation.settings.min")
        span.validation-controls__input-separator and
        input.form-control(type="number" placeholder="Max" aria-label="Maximum value"
                           ng-model="validation.settings.max")
    cf-error-list.form-inline-error(
      cf-error-messages="validation.errors"
      aria-label="Errors"
    )

    div(cf-template="validation_error_message_input")


  div(ng-switch-when="dateRange")
    cf-validation-date-select(aria-label="Later than" data="validation.settings.min")

    cf-validation-date-select(aria-label="Earlier than" data="validation.settings.max")

    cf-error-list.form-inline-error(
      cf-error-messages="validation.errors"
      aria-label="Errors"
    )

    div(cf-template="validation_error_message_input")

  div(ng-switch-when="regexp")
    .validation-controls__view-select.btn.btn--tertiary.select-box
      select(aria-label="Select pattern"
             ng-model="validation.currentView"
             ng-options="v.name as v.label for v in validation.views")
      i.button-icon-right.fa.fa-caret-down

    input.form-control.validation-controls__re-pattern(
      type="text" placeholder="foo|bar[baz]" aria-label="Regular Expression pattern"
      ng-model="validation.settings.pattern" ng-change="setMatchingView()"
      ng-required="true")

    label
      span.validation-controls__re-flags-label Flags
      input.form-control.validation-controls__re-flags(
        type="text" aria-label="Regular Expression flags"
        pattern="[gim]*"
        ng-model="validation.settings.flags" ng-change="setMatchingView()"
       )

    cf-error-list.form-inline-error(
      cf-error-messages="validation.errors"
      aria-label="Errors"
    )

    div(cf-template="validation_error_message_input")


  cf-validation-values(ng-switch-when="in")

  cf-validation-link-type(ng-switch-when="linkContentType")

  div(ng-switch-when="linkMimetypeGroup")
    ul.validation-controls__option-list(
        aria-label="Available Asset Types"
        ng-controller="ValidationAssetTypesController as assetTypes")
      li(ng-repeat="at in assetTypes.types")
        label
          input(type="checkbox" ng-model="at.selected" ng-change="assetTypes.update()")
          span.u-truncate {{at.label}}

    cf-error-list.form-inline-error(
      cf-error-messages="validation.errors"
      aria-label="Errors"
    )

    div(cf-template="validation_error_message_input")

  div(ng-switch-when="assetFileSize" ng-controlle="assetFileSizeValidationController")
    .validation-controls__view-select.btn.btn--tertiary.select-box
      select(aria-label="Select condition"
             ng-model="validation.currentView"
             ng-options="v.name as v.label for v in validation.views")
      i.button-icon-right.fa.fa-caret-down

    span(ng-switch="validation.currentView")

      span(ng-switch-when="min")
        span(ng-controller="DataSizeScaleController as scale" data-model="validation.settings.min")
          input.form-control(type="number" placeholder="Min" aria-label="Minimum size"
                             ng-model="value")
          span.validation-controls__unit-select.btn.btn--tertiary.select-box
            select(aria-label="Select size unit"
                   ng-model="unitFactor"
                   ng-options="u.factor as u.label for u in scale.units")
            i.button-icon-right.fa.fa-caret-down

      span(ng-switch-when="max")
        span(ng-controller="DataSizeScaleController as scale" data-model="validation.settings.max")
          input.form-control(type="number" placeholder="Max" aria-label="Maximum size"
                             ng-model="value")
          span.validation-controls__unit-select.btn.btn--tertiary.select-box
            select(aria-label="Select size unit"
                   ng-model="unitFactor"
                   ng-options="u.factor as u.label for u in scale.units")
            i.button-icon-right.fa.fa-caret-down

      span(ng-switch-when="min-max")
        span(ng-controller="DataSizeScaleController as scale" data-model="validation.settings.min")
          input.form-control(type="number" placeholder="Min" aria-label="Minimum size"
                             ng-model="value")
          span.validation-controls__unit-select.btn.btn--tertiary.select-box
            select(aria-label="Select size unit"
                   ng-model="unitFactor"
                   ng-options="u.factor as u.label for u in scale.units")
            i.button-icon-right.fa.fa-caret-down

        span.validation-controls__input-separator and

        span(ng-controller="DataSizeScaleController as scale" data-model="validation.settings.max")
          input.form-control(type="number" placeholder="Max" aria-label="Maximum size"
                             ng-model="value")
          span.validation-controls__unit-select.btn.btn--tertiary.select-box
            select(aria-label="Select size unit"
                   ng-model="unitFactor"
                   ng-options="u.factor as u.label for u in scale.units")
            i.button-icon-right.fa.fa-caret-down

    cf-error-list.form-inline-error(
      cf-error-messages="validation.errors"
      aria-label="Errors"
    )

    div(cf-template="validation_error_message_input")
