mixin actions-dropdown
  .ct-field__actions-menu.context-menu(
    role="menu" cf-context-menu="bottom-4"
    aria-label="Field Actions" data-test-id="field-actions-menu")
    ul.context-menu__items
      li(role="menuitem" ng-click="fieldController.setAsTitle()" ng-if="fieldCanBeTitle")
        | Set field as Entry title
      li(role="menuitem" ng-click="fieldController.toggleDisable()")
        | {{ field.disabled ? 'Enable' : 'Disable' }}
      li(role="menuitem" ng-click="fieldController.deleteField()")
        | Delete


ul(cf-ui-sortable ng-model="contentType.data.fields")
  li.ct-field(
    ng-controller="ContentTypeFieldController as fieldController"
    ng-repeat="(index, field) in contentType.data.fields track by field.id"
    ng-class="{'is-disabled': field.disabled}"
    role="toolbar"
  )

    .ct-field__drag-handle(data-drag-handle)
    .ct-field__icon
      cf-icon(ng-if="iconId" name="{{iconId}}")
    .ct-field__name
      | {{field | displayedFieldName}}
    .ct-field__type(ng-if="!field.disabled")
      | {{fieldTypeLabel}}
    .ct-field__type(ng-if="field.disabled")
      | {{fieldTypeLabel}}, disabled
    .ct-field__is-title(ng-if="fieldIsTitle")
      | Entry title
    button.ct-field__settings.cfnext-btn-inline(
      aria-label="Settings"
      ng-click="fieldController.openSettingsDialog()")
      | Settings
      cf-ui-hint(ng-if="index===0" name="ct-field-settings")
        | Change field settings, add validations, default values or define the appearance of this field
    button.ct-field__actions.cfnext-btn-inline(type="button"
      aria-label="Actions" cf-context-menu-trigger)
      | &bullet;&bullet;&bullet;
    +actions-dropdown
