.section-header.editor-configuration
  .section-header__icon
    cf-icon(name="page-ct")
  h1.section-header__title {{contentType.getName()}}
  .section-header__description {{contentType.data.description}}
  button.cfnext-btn-plain(ng-click="showMetadataDialog()") Edit

.section-nav
  .section-nav__left-content
    button.cfnext-btn-action--with-icon(
      ng-disabled="cfCanDisabled"
      ng-click="showNewFieldDialog()")
      cf-icon.inverted(name="plus")
      | Add Field
  ul.section-nav__tabs
    li(role="tab" data-tab="fields")
      | Fields
      span(ng-show="contentType.data.fields.length") &nbsp;({{contentType.data.fields.length}})
    li(role="tab" data-tab="json") JSON Preview


.section-main.with-header-nav.with-tab-actions
  form.section-main__middle-content(name="contentTypeForm" submit="publish()")

    div(role="tabpanel" data-tab="json")
      cf-content-type-preview.u-bce

    div(role="tabpanel" data-tab="fields")
      .content-type-fields(ng-show="hasFields")
        include ./content_type_field_list
      .content-type-no-fields(ng-hide="hasFields")
        include ./content_type_field_list_empty

.tab-actions
  .button-set
    button.btn.btn--secondary.deactivate(
      ng-show="actions.canUnpublish()"
      ng-click="actions.unpublish()"
      tooltip="Deactivate this Content Type")
      | Deactivate
    button.btn.btn--secondary.cancel(
      ng-show="context.isNew"
      ng-click="actions.cancel()")
      | Cancel
    button.btn.btn--secondary.delete(
      ng-show="actions.canDelete()"
      cf-dropdown-toggle="contentType.delete")
      | Delete
    .delete-confirm(cf-dropdown-menu="contentType.delete" cf-dropdown-position="topcenter")
      p You are about to delete {{contentType.getName()}}
      button.btn.btn--danger(type="button" ng-click="actions.delete()" cf-dropdown-close) Delete
      button.btn.btn--secondary(type="button" cf-dropdown-close) Don't Delete
    button.btn.btn--primary.publish(
      ng-disabled="!actions.canSave()"
      ng-click="actions.save()"
      tooltip="Save changed and make this Content Type available to editors")
      | Save
