.tab-header.editor-configuration
  h1.tab-header__title {{contentType.getName()}}
  .tab-header__description {{contentType.data.description}}
  a.tab-header__metadata-action(ng-click="showMetadataDialog()" ng-href="#") Edit

  .tab-header__actions
    .dropdown-btn
      button.btn.btn--tertiary(cf-dropdown-toggle="contentTypeEditor.view")
        i.fa.fa-caret-down.button-icon-right
        span View
      .dropdown-menu(cf-dropdown-menu="contentTypeEditor.view" cf-dropdown-position="bottomcenter")
        ul
          li.dropdown-menu-item
            label 
              input(type="checkbox" ng-model="preferences.showDisabledFields")
              | Show disabled fields

.tab-main.tab-workbench
  .ng-form.l-form(name="contentTypeForm" submit="publish()")
    .l-form-row
      label(ng-show="hasFields") Fields
      .dropdown-btn
        button.btn.btn--primary(ng-disabled="cfCanDisabled" ng-click="showNewFieldDialog()") Add new Field
      .l-form-controls
        div.content-type__fields(ng-show="hasFields" cf-template="content_type_field_list")
        cf-error-list.form-box-error(cf-error-path="['fields']")
        .advice(ng-hide="hasFields")
          .advice__frame
            i.fa.fa-list-alt.advice__medium-icon
            header.advice__title You have no Fields yet
            p.advice__description
              | Add Fields to configure which form inputs are available for your editors to work with.

.tab-actions(ng-controller="ContentTypeActionsController")
  .button-set
    button.btn.btn--secondary.deactivate(type="button"
                  ng-show="entityActionsController.canUnpublish()"
                  ng-click="unpublish()"
                  tooltip="Deactivate this Content Type")
      | Deactivate
    button.btn.btn--secondary.cancel(type="button" ng-show="context.isNew" ng-click="cancel()") Cancel
    button.btn.btn--secondary.delete(type="button" ng-show="!context.isNew && entityActionsController.canDelete()" cf-dropdown-toggle="contentType.delete") Delete
    .delete-confirm(cf-dropdown-menu="contentType.delete" cf-dropdown-position="topcenter")
      p You are about to delete {{contentType.getName()}}
      button.btn.btn--danger(type="button" ng-click="delete()" cf-dropdown-close) Delete
      button.btn.btn--secondary(type="button" cf-dropdown-close) Don't Delete
    button.btn.btn--primary.publish(
                  ng-disabled="!canSave()"
                  ng-click="save()"
                  tooltip="Save changed and make this Content Type available to editors")
      | Save
