.section-header.editor-configuration
  .section-header__icon
    cf-icon(name="page-ct")
  h1.section-header__title {{contentType.getName()}}
  .section-header__description {{contentType.data.description}}
  a.section-header__metadata-action(ng-click="showMetadataDialog()" ng-href="#") Edit

  .section-header__actions
    .dropdown-btn
      button.btn.btn--tertiary(cf-dropdown-toggle="contentTypeEditor.view")
        i.fa.fa-caret-down.button-icon-right
        span View
      .dropdown-menu(cf-dropdown-menu="contentTypeEditor.view" cf-dropdown-position="bottomcenter")
        ul
          li.dropdown-menu-item
            label
              input(type="checkbox" ng-model="preferences.showDisabledFields")
              | Show disabled fields

.section-nav
  button.cfnext-btn-action(ng-disabled="cfCanDisabled" ng-click="showNewFieldDialog()")
    cf-icon.inverted(name="plus")
    | Add new Field

.section-main.with-header-nav.with-tab-actions
  .section-main__right-content
    form(name="contentTypeForm" submit="publish()")
      .content-type-fields(ng-show="hasFields")
        include ./content_type_field_list
      .content-type-no-fields(ng-hide="hasFields")
        include ./content_type_field_list_empty

.tab-actions(ng-controller="ContentTypeActionsController")
  .button-set
    button.btn.btn--secondary.deactivate(
      ng-show="entityActionsController.canUnpublish()"
      ng-click="unpublish()"
      tooltip="Deactivate this Content Type")
      | Deactivate
    button.btn.btn--secondary.cancel(
      ng-show="context.isNew"
      ng-click="cancel()")
      | Cancel
    button.btn.btn--secondary.delete(
      ng-show="!context.isNew && entityActionsController.canDelete()"
      cf-dropdown-toggle="contentType.delete")
      | Delete
    .delete-confirm(cf-dropdown-menu="contentType.delete" cf-dropdown-position="topcenter")
      p You are about to delete {{contentType.getName()}}
      button.btn.btn--danger(type="button" ng-click="delete()" cf-dropdown-close) Delete
      button.btn.btn--secondary(type="button" cf-dropdown-close) Don't Delete
    button.btn.btn--primary.publish(
      ng-disabled="!canSave()"
      ng-click="save()"
      tooltip="Save changed and make this Content Type available to editors")
      | Save
