.modal-background
  .modal-dialog.edit-content-type-metadata__dialog(cf-center-on=".modal-background")
    header.modal-dialog__header
      .modal-dialog__action-icon
        cf-icon(name="new-ct")
      h1 {{dialog.title}}
      .close-button(ng-click="dialog.cancel()")
    form.modal-dialog__content(name="newContentTypeForm")
      .cfnext-form__field
        label
          | Content Type Name
        input.cfnext-form__input--full-size(
          type="text"
          name="contentTypeName"
          placeholder="e.g. Product, Blog Post, Author"
          ng-model="contentTypeMetadata.name"
          required maxlength="50"
          cf-focus-on-render)
        .cfnext-form__field-error(cf-field-error-for="contentTypeName")
      .cfnext-form__field
        label Short Description
        textarea.cfnext-form__input--full-size(
          maxlength="500"
          name="contentTypeDescription"
          ng-model="contentTypeMetadata.description")
        .cfnext-form__field-error(cf-field-error-for="contentTypeDescription")

    .modal-dialog__controls
      button.cfnext-btn-primary-action.modal-dialog__controls-confirm(
        ng-click="dialog.confirm()"
        ng-disabled="newContentTypeForm.$invalid || newContentTypeForm.$pristine")
        | {{dialog.confirmLabel}}
      a.modal-dialog__controls-cancel(ng-href="#" ng-click="dialog.cancel()" ng-show="dialog.cancelLabel")
        | Cancel
