mixin form-radio
  .cfnext-form-option
    input(
      type="radio" id=attributes.id
      ng-model=attributes['ng-model']
      ng-value=attributes['ng-value'])
    .cfnext-form-option__desc
      label(for=attributes.id)=attributes.label
      block

mixin form-checkbox
  .cfnext-form-option
    input(
      type="checkbox" id=attributes.id
      ng-model=attributes['ng-model']
      ng-value=attributes['ng-value'])
    .cfnext-form-option__desc
      label(for=attributes.id)=attributes.label
      block

mixin settings-note
  .add-field-dialog__note.note-box.note-box--info
    | These settings cannot be changed later.


header.modal-dialog__header
  h1 New <em>{{fieldGroup.label}}</em> Field
  button.modal-dialog__close(type="button" ng-click="dialog.cancel()")

.add-field-dialog__config.modal-dialog__content
  .add-field-dialog__name-inputs
    .cfnext-form__field
      label
        | Name
      input.cfnext-form__input--full-size(
        type="text" name="fieldName"
        ng-model="field.data.name"
        cf-validate-model required maxlength="50"
        cf-focus-on-render)
      .cfnext-form__field-error(cf-field-error-for="fieldName")
      .cfnext-form__hint
        | It will appear in the entry editor

    .spacer

    .cfnext-form__field
      label
        | Field ID
      input.cfnext-form__input--full-size(
        type="text" name="apiName"
        ng-model="field.data.apiName"
        cf-validate-model required maxlength="50")
      .cfnext-form__field-error(cf-field-error-for="apiName")
      .cfnext-form__hint
        | It is generated automatically based on the name
        | and will appear in the API responses

  <react-component ng-if="fieldGroup.modernBrowsersOnly" name="components/shared/IE11DeprecationBanner.es6" props="{featureName: '{{fieldGroup.label}}'}"></react-component>
  .add-field-dialog__settings(ng-switch="fieldGroup.name")
    div(ng-switch-when="text")
      .add-field-dialog__setting-sections
        .cfnext-form__fieldset
          +form-radio(
            label="Short text, exact search" id="field-type-short"
            ng-model="field.type" ng-value="fieldTypes.Symbol")
            p
              | Enables sorting <br>
              | Maximum 255 characters
            p.text-dimmed
              | Use for titles, names, tags, URLs, e-mail addresses
          +form-radio(
            label="Long text, full-text search" id="field-type-long"
            ng-model="field.type" ng-value="fieldTypes.Text")
            p
              | No sorting <br>
              | Maximum 50k characters
            p.text-dimmed
              | Use for descriptions, text paragraphs, articles

        .spacer(ng-show="field.type.hasListVariant")

        .cfnext-form__fieldset(ng-show="field.type.hasListVariant")
          +form-checkbox(
            label="List" id="add-field-form__field-is-list"
            ng-model="field.isList")
            p
              | Select this if there is more than one value to
              | store, like several names or a list of ingredients

            p.text-dimmed
              | API response will include a separate block for each field
      +settings-note

    div(ng-switch-when="number")
      .cfnext-form__fieldset
        +form-radio(
          id="field-type-integer" label="Integer"
          ng-model="field.type" ng-value="fieldTypes.Integer")
          p
            | 1, 2, 3, 5, 8, 13, &hellip;
        +form-radio(
          id="field-type-decimal" label="Decimal"
          ng-model="field.type" ng-value="fieldTypes.Number")
          p
            | 3.14159265389
      +settings-note

    div(ng-switch-when="media")
      .cfnext-form__fieldset
        +form-radio(
          id="add-field-form__field-is-single" label="One file"
          ng-model="field.isList" ng-value="false")
          p
            | Select this if there is only one thing to store
            | For example, a single photo or one PDF file
        +form-radio(
          id="add-field-form__field-is-list" label="Many files"
          ng-model="field.isList" ng-value="true")
          p
            | Select this if there are several things to be stored
            | For example, several photos or PDF files
          p.text-dimmed
            | API response will include a separate block for each field
      +settings-note

    div(ng-switch-when="reference")
      .cfnext-form__fieldset
        +form-radio(
          id="add-field-form-field-is-single" label="One reference"
          ng-model="field.isList" ng-value="false")
          p
            | This is similar to one-to-one relationships between objects in a database
            | For example, a blog post can reference its only author

        +form-radio(
          id="add-field-form-field-is-list" label="Many references"
          ng-model="field.isList" ng-value="true")
          p
            | This is similar to one-to-many relationships between objects in a database
            | For example, a blog post can reference its several authors
          p.text-dimmed
            | API response will include a separate block for each field

      +settings-note


.modal-dialog__controls(ng-show="viewState.is('fieldConfiguration')")
  button.btn-primary-action(cf-form-submit)
    | Create
  button.btn-primary-action(type="button" ng-click="createAndConfigure()")
    | Create and configure
  button.btn-secondary-action(type="button" ng-click="showFieldSelection()")
    | Change field type
