mixin actions-dropdown
  .ct-field__actions-menu.context-menu(
    role="menu" cf-context-menu="bottom-4"
    aria-label="Field Actions" data-test-id="field-actions-menu")
    ul.context-menu__items(ng-if="!field.deleted")
      li(role="menuitem" ng-click="fieldController.setAsTitle()" ng-if="fieldCanBeTitle")
        | Set field as Entry title
      li(role="menuitem" ng-click="fieldController.toggle('disabled')")
        | {{ field.disabled ? 'Enable editing' : 'Disable editing' }}
      li(role="menuitem" ng-click="fieldController.toggle('omitted')")
        | {{ field.omitted ? 'Enable in response' : 'Disable in response' }}
      li(role="menuitem" ng-click="fieldController.delete()")
        | Delete
    ul.context-menu__items(ng-if="field.deleted")
      li(role="menuitem" ng-click="fieldController.undelete()")
        | Undelete


ul(cf-ui-sortable ng-model="contentType.data.fields")
  li.ct-field(
    ng-controller="ContentTypeFieldController as fieldController"
    ng-repeat="(index, field) in contentType.data.fields track by field.id"
    ng-class="{'x--disabled': field.disabled, 'x--omitted': field.omitted}"
    role="toolbar")

    .ct-field__drag-handle(data-drag-handle)
    .ct-field__icon
      cf-icon(ng-if="iconId" name="{{iconId}}")
    .ct-field__name
      | {{field | displayedFieldName}}
    .ct-field__type
      | {{fieldTypeLabel}}
    .ct-field__status(ng-if="!field.deleted && field.disabled && !field.omitted")
      | Editing disabled
    .ct-field__status(ng-if="!field.deleted && !field.disabled && field.omitted")
      | Disabled in response
    .ct-field__status(ng-if="!field.deleted && field.disabled && field.omitted")
      | Disabled completely
    .ct-field__status(ng-if="field.deleted")
      | Deleted
    .ct-field__status(ng-if="fieldIsTitle")
      | Entry title
    button.ct-field__settings.btn-inline(
      aria-label="Settings"
      ng-if="!field.deleted"
      ng-click="fieldController.openSettingsDialog()")
      | Settings
    button.ct-field__actions.btn-inline(type="button"
      aria-label="Actions" cf-context-menu-trigger)
      | &bullet;&bullet;&bullet;
    +actions-dropdown
