.cfnext-form__field
  label
    | Name
    span.cfnext-form__label-hint(cf-field-invalid-class="contentTypeName")
      | required
  input.cfnext-form__input--full-size(
    type="text"
    name="contentTypeName"
    placeholder="{{ namePlaceholder }}"
    ng-model="contentTypeMetadata.name"
    required maxlength="50"
    cf-focus-on-render)

.cfnext-form__field(ng-if="contentTypeIsNew")
  label
    | API identifier
    span.cfnext-form__label-hint
      | generated from name
  input.cfnext-form__input--full-size(
    type="text"
    name="contentTypeId"
    ng-model="contentTypeMetadata.id"
    required)
  div.cfnext-form__field-error(cf-field-error-for="contentTypeId")

.cfnext-form__field
  label
    | Description
    span.cfnext-form__label-hint
      | in less than 500 characters
  textarea.cfnext-form__input--full-size(
    maxlength="500"
    name="contentTypeDescription"
    ng-model="contentTypeMetadata.description")
  .cfnext-form__field-error(cf-field-error-for="contentTypeDescription")
