ng-switch(on="displayType(field)")
  date(ng-switch-when="updatedAt"
    ng-if="entry.getUpdatedAt()"
    datetime="{{entry.getUpdatedAt()}}"
    cf-relative-datetime)
  date(ng-switch-when="createdAt"
    ng-if="entry.getCreatedAt()"
    datetime="{{entry.getCreatedAt()}}"
    cf-relative-datetime)
  date(ng-switch-when="publishedAt"
    ng-if="entry.getPublishedAt()"
    datetime="{{entry.getPublishedAt()}}"
    cf-relative-datetime)
  date(ng-switch-when="Date"
    ng-if="dataForField(entry, field)"
    datetime="{{dataForField(entry, field)}}"
    cf-relative-datetime)
  span(ng-switch-when="author"
    cf-user link="entry.getUpdatedBy()"
    as="updater")
    | {{updater | userNameDisplay:user}}
  span(ng-switch-when="Boolean")
    | {{displayBool(dataForField(entry, field))}}
  span(ng-switch-when="Location")
    | {{displayLocation(dataForField(entry, field))}}
  span.linked-entries(ng-switch-when="Entry")
    | {{dataForLinkedEntry(entry, field)}}

  div.file-preview(ng-switch-when="Asset" class="linked-assets")
    cf-thumbnail(file="dataForLinkedAsset(entry, field)" size="30" fit="thumb" focus="faces")

  div(ng-switch-when="Array")
    ul(ng-class="{'linked-entries': isEntryArray(entry, field), 'linked-assets': isAssetArray(entry, field)}")

      li(ng-repeat="(index, entity) in dataForArray(entry, field) track by index")
        span(ng-if="isEntryArray(entry, field)")
          | {{entity}}
        div.file-preview(ng-if="isAssetArray(entry, field)")
          cf-thumbnail(file="entity" size="30" fit="thumb" focus="faces")

      li.linked-entries__more(ng-if="isEntryArray(entry, field) && countArrayHiddenItems(entry, field)")
        | +{{countArrayHiddenItems(entry, field)}} more

      li.linked-assets__more(ng-if="isAssetArray(entry, field) && countArrayHiddenItems(entry, field)")
        | +{{countArrayHiddenItems(entry, field)}} more

      //- If it's another kind of array, just display the data
      li(ng-if="!isEntryArray(entry, field) && !isAssetArray(entry, field)")
        | {{dataForField(entry, field) || '&nbsp;'}}

  span(ng-switch-default) {{dataForField(entry, field) || '&nbsp;'}}
