mixin create-entry-button-wrapper
  if attributes.large
    button.btn-action--large(
      ng-disabled="shouldDisable('createEntry')"
      cf-when-disabled="createEntry")&attributes(attributes)
      cf-icon.btn-icon.inverted(name="plus")
      block
  else
    button.btn-action.u-truncate(
      ng-disabled="shouldDisable('createEntry')"
      cf-when-disabled="createEntry")&attributes(attributes)
      cf-icon.btn-icon.inverted(name="plus")
      block

mixin create-entry-button
  div(ng-if="accessibleCts.length === 1")
    +create-entry-button-wrapper(
      large=attributes.large
      ng-click="entityCreationController.newEntry(accessibleCts[0])")
      | Add {{accessibleCts[0].getName()}}
  div(ng-if="accessibleCts.length > 1")
    +create-entry-button-wrapper(
      large=attributes.large
      cf-context-menu-trigger
      data-test-id="add-entry-menu-trigger")
      cf-icon.btn-dropdown-icon(name="dd-arrow-down")
      | Add entry


    .context-menu.x--arrow-right(
      ng-if="!isContextAwareActionEnabled"
      role="menu"
      cf-context-menu="bottom-right"
      aria-label="Add Entry" data-test-id="add-entry-menu")
      ul.context-menu__items
        li(role="menuitem"
          ng-repeat="contentType in accessibleCts track by contentType.getId()"
          ng-click="entityCreationController.newEntry(contentType)")
          | {{contentType.getName()}}

    .context-menu.context-menu--redesigned(
      ng-if="isContextAwareActionEnabled"
      role="menu"
      cf-context-menu="bottom-left-0"
      aria-label="Add Entry" data-test-id="add-entry-menu")
      cf-component-bridge(component="createEntryMenu")

