mixin create-entry-button
  div(ng-if="accessibleCts.length === 1")
    cf-create-entry-button(
      data-test-id="add-entry-menu-trigger"
      content-types="accessibleCts"
      suggested-content-type-id="context.view.contentTypeId"
      on-select="entityCreationController.newEntry"
      mode=attributes.mode
      text="Add {{accessibleCts[0].name || 'Untitled'}}")
  div(ng-if="accessibleCts.length > 1")
    cf-create-entry-button(
      data-test-id="add-entry-menu-trigger"
      content-types="accessibleCts"
      suggested-content-type-id="context.view.contentTypeId"
      on-select="entityCreationController.newEntry"
      mode=attributes.mode
      cf-context-menu-trigger
      text="Add entry")
