mixin create-entry-button
  div(ng-if="singleContentType")
    button.cfnext-btn-action(
      ng-disabled="permissionController.shouldDisable('createEntry')"
      cf-when-disabled="createEntry"
      ng-click="entityCreationController.newEntry(singleContentType)")
      cf-icon.btn-icon.inverted(name="plus")
      | Add New {{singleContentType.getName()}}
  div(ng-if="!singleContentType")
    button.cfnext-btn-action.u-truncate(
      cf-context-menu-trigger
      ng-disabled="permissionController.shouldDisable('createEntry')"
      cf-when-disabled="createEntry"
      data-test-id="add-entry-menu-trigger")
      cf-icon.btn-icon.inverted(name="plus")
      cf-icon.btn-dropdown-icon(name="dd-arrow-down")
      | Add New Entry
    .context-menu(
      role="menu" cf-context-menu
      aria-label="Add Entry" data-test-id="add-entry-menu")
      ul.context-menu__items
        li(role="menuitem"
          ng-repeat="contentType in spaceContext.publishedContentTypes track by contentType.getId()"
          ng-click="entityCreationController.newEntry(contentType)")
          | {{contentType.getName()}}


header.workbench-header
  .workbench-header__left
    cf-icon.workbench-header__icon(name="page-entries")
    h1.workbench-header__title
      | Entries
      cf-knowledge-base.workbench-header__kb-link(target="entry")

  .workbench-header__search.search-area--with-filter(
    ng-show="!showNoEntriesAdvice()")
    select.search-area__select-box.cfnext-select-box(
      ng-model="context.view.contentTypeId"
      ng-change="selectedContentType()"
      ng-options="ct.getId() as ct.getName() group by getGroupName() for ct in spaceContext.publishedContentTypes")
      option(value="") All

    .search-area__input(
      cf-tokenized-search="context.view.searchTerm"
      search-content-type="getSearchContentType()"
      placeholder="Search for {{typeNameOr('Entries')}}"
      cf-on-blur-component="leftSearch($event)"
      cf-on-blur-component-when="showAutocompletions")

    .search-results-position(cf-search-results-position paginator="paginator" ng-hide="!paginator.numEntries")

  .workbench-header__actions(
    ng-if="!showNoEntriesAdvice() && showCreateEntryButton()")
    +create-entry-button

.workbench-main(ng-hide="showNoEntriesAdvice()")
  .workbench-main__left-sidebar(
    ng-show="uiConfig"
    cf-view-menu="uiConfig.entryListViews")

  .workbench-main__right-content
    table.result-list.main-results.main-header
      thead
        tr
          th.cell-select
            input(type="checkbox" cf-selection ng-show="entries.length > 0" tabindex="-1")
          th.cell-content-type(ng-show="!context.view.contentTypeId && !context.view.contentTypeHidden") Content Type
          th.cell-display-name(ng-if="!context.view.contentTypeId || !displayFieldForFilteredContentType()") Name
          th.cell-display-name(ng-if="context.view.contentTypeId && displayFieldForFilteredContentType()" ng-init="field=displayFieldForFilteredContentType()" cf-field-order-header="displayField")
          th(ng-repeat="field in displayedFields track by field.id" cf-field-order-header data-field-id="{{field.id}}" ng-class="[getFieldClass(field)]")
          th.cell-status Status
    .view-customizer(cf-view-customizer)

    .main-results-wrapper.endless-container(cf-endless-container at-bottom="loadMore()" num-elements="paginator.page")
      table.result-list.main-results.animated
        tbody
          tr(ng-repeat="entry in visibleEntries = (entries | filter:visibleInCurrentList) track by entry.getId()"
              ng-init="entityNavState='spaces.detail.entries.detail({ entryId: entry.getId() })'"
              ui-sref="{{entityNavState}}")
            td.cell-select(ng-click="selection.toggle(entry);$event.stopPropagation()")
              input(type="checkbox" cf-selection="entry" tabindex="-1")
            td.cell-content-type(ng-show="!context.view.contentTypeId && !context.view.contentTypeHidden")
              a.entity-list-link(ui-sref="{{entityNavState}}") {{spaceContext.publishedTypeForEntry(entry).getName()}}
            td.cell-display-name
              a.entity-list-link(ui-sref="{{entityNavState}}") {{spaceContext.entryTitle(entry)}}
            td(ng-repeat="field in displayedFields track by field.id" ng-class="[getFieldClass(field), getFieldCollapsedClass(field)]")
              cf-field-display(ng-hide="isFieldCollapsed(field)")
              button.transparent-button(cf-click-local="expandColumn(field)" ng-show="isFieldCollapsed(field)")
                | &hellip;
            td.cell-status(ng-class="entityStatusController.getClassname(entry)")
              a.entity-list-link(ui-sref="{{entityNavState}}")
                .status-label {{entityStatusController.getLabel(entry)}}
                .status-bar
      .loading(ng-hide="paginator.atLast()")

    .advice(ng-show="visibleEntries | isEmpty")
      .advice__frame
        i.fa.fa-search.fa-flip-horizontal.advice__giant-icon
        header.advice__title There are no matches to your search

.workbench-main.x--content(ng-show="showNoEntriesAdvice()")
  .cfnext-advice
    i.fa.fa-file.advice__giant-icon
    header.advice__title You have no Entries yet.
    p.advice__description(ng-show="spaceContext.publishedContentTypes.length == 0")
      | Entries are your content itself. These depend on the field types you created in the Content Type editor.
    button.advice__action(type="button" ng-click="entityCreationController.newContentType()"
        ng-hide="spaceContext.publishedContentTypes.length > 0 || permissionController.shouldHide('createContentType')"
        ng-disabled="permissionController.shouldDisable('createContentType')"
        cf-when-disabled="createContentType")
      | Create a Content Type
    p(ng-hide="spaceContext.publishedContentTypes.length == 0")
      button.advice__action(
              ng-hide="!singleContentType || permissionController.shouldHide('createEntry')"
              ng-disabled="permissionController.shouldDisable('createEntry')"
              cf-when-disabled="createEntry"
              ng-click="entityCreationController.newEntry(singleContentType)")
        cf-icon.btn-icon.inverted(name="plus")
        | Add New {{singleContentType.getName()}}
      button.advice__action(
          ng-hide="singleContentType || permissionController.shouldHide('createEntry')"
          ng-disabled="permissionController.shouldDisable('createEntry')"
          cf-when-disabled="createEntry"
          ng-click="showNewContentTypeDialog()")
        cf-icon.btn-icon.inverted(name="plus")
        | Add New Entry
    cf-knowledge-base(target="entry" text="Visit the Knowledge Base Pages")

.workbench-actions(
  ng-hide="selection.isEmpty()"
  ng-controller="EntryListActionsController")
  .workbench-actions__label
    | {{selection.size()}} Entries selected

  button.cfnext-btn-secondary-action.duplicate(type="button"
    ng-click="duplicateSelected()"
    ng-show="showDuplicate()")
    | Duplicate
  button.cfnext-btn-secondary-action.delete(type="button"
    ng-show="showDelete()"
    cf-context-menu-trigger
    data-test-id="delete-entry")
    | Delete
  .delete-confirm(cf-context-menu="top")
    p You are about to delete {{selection.size()}} Entries
    button.cfnext-btn-caution(type="button" ng-click="deleteSelected()")
      | Delete
    button.cfnext-btn-secondary-action(type="button")
      | Don't Delete
  button.cfnext-btn-secondary-action.archive(  type="button" ng-click="archiveSelected()"   ng-show="showArchive()"  ) Archive
  button.cfnext-btn-secondary-action.unarchive(type="button" ng-click="unarchiveSelected()" ng-show="showUnarchive()") Unarchive
  button.cfnext-btn-secondary-action.unpublish(type="button" ng-click="unpublishSelected()" ng-show="showUnpublish()") Unpublish
  button.cfnext-btn-primary-action.publish(    type="submit" ng-click="publishSelected()"   ng-show="showPublish()"  ) {{publishButtonName()}}
