include ../../shared/table_pattern.mixin.jade

react-component(
  name="components/shared/DocumentTitle"
  props="{title: 'Content'}"
)
header.workbench-header
  .workbench-header__left
    cf-icon.workbench-header__icon(name="page-content", scale="0.75")
    h1.workbench-header__title
      | Content
      react-component(
        name="components/shared/knowledge_base_icon/KnowledgeBase"
        props="{target: 'entry', className: 'workbench-header__kb-link'}"
      )


  .workbench-header__search
    cf-component-bridge(style="flex:1; z-index: 1" component="search")
    a.text-link(
      style="margin-left: 15px"
      ng-if="savedViewsState === 'ready'"
      ng-click="savedViewsSidebar.api.saveCurrentView()"
    ) Save as view

  .workbench-header__actions(ng-if="!showNoEntriesAdvice()")
    cf-create-entry-button(
      content-types="accessibleCts"
      suggested-content-type-id="context.view.contentTypeId"
      on-select="newEntry")

.workbench-main(ng-hide="showNoEntriesAdvice()")
  .workbench-main__left-sidebar(style="max-height: 100vh; overflow-y: hidden")
    react-component(name="app/ScheduledActions/ScheduledActionsPageLink" props="{isMasterEnvironment: isMasterEnvironment}")
    .saved-views-wrapper(
      ng-if="savedViewsState === 'loading'"
      style="padding: 4rem 1rem; text-align: center")
      | Loading&nbsp;
      react-component(name="@contentful/forma-36-react-components/Spinner")

    .saved-views-wrapper(ng-if="savedViewsState === 'error'" style="padding: 0.5rem")
      react-component(
        name="@contentful/forma-36-react-components/Note"
        props="{noteType: 'warning', title: 'Failed to load views', children: 'Please refresh the page.'}")

    .saved-views-sidebar-wrapper(ng-if="savedViewsState === 'ready'")
      cf-component-store-bridge(component="savedViewsSidebar")

  .workbench-main__right-content
    .search-results__count(ng-show="hasPage()")
      react-component(
        name="components/tabs/PluralizeEntityMessage"
        props="{entityType: 'entry', count: paginator.getTotal(), restOfTheMsg: 'found'}")


    react-component(
      ng-if="!isLegacyOrganization && hasPage()"
      name="components/RecordsResourceUsage"
      props="usageProps"
      watch-depth="reference")

    react-component(
      ng-if="hasPage()"
      name="components/tabs/entry_list/EntryList"
      props="entryProps"
      watch-depth="reference"
    )

    .f36-margin-top--s.f36-margin-bottom--s
      react-component(
        ng-show="paginator.getPageCount() && hasPage()"
        name="ui/Components/Paginator"
        props="paginatorProps"
      )

    react-component(
      name="components/tabs/NoSearchResultsAdvice"
      ng-show="hasNoSearchResults()"
    )

.workbench-main.x--content(ng-show="showNoEntriesAdvice()")
  react-component(
    name="components/tabs/entry_list/EmptyStates"
    props="{hasContentType: hasContentType, contentTypes: accessibleCts, suggestedContentTypeId: context.view.contentTypeId, onCreate: newEntry}"
  )
