include ./create_entry_button.mixin.jade

.empty-state(ng-hide="hasContentType")
  cf-icon(name="empty-content" class="empty-state__icon")
  .empty-state__title
    | A content model is needed before adding content. Let’s fix that!
  .empty-state__description
    | Before you can add content you need to define the content model. It’s comprised of content types. They work like a stencil which defines the structure of your content. Get started by creating your first content type.
  .empty-state__action
    button.btn-action--large(
      type="button"
      ng-click="newContentType()"
      ng-hide="shouldHide('createContentType')"
      ng-disabled="shouldDisable('createContentType')"
      cf-when-disabled="createContentType")
      cf-icon.btn-icon.inverted(name="plus")
      | Add content type
  .empty-state__additional
    | No clue what purpose the content model serves? Read our documentation on <cf-knowledge-base target="content_model" text="content modeling" inline-text="true" class="text-link--standard"></cf-knowledge-base>.

.empty-state(ng-show="hasContentType")
  cf-icon(name="empty-content" class="empty-state__icon")
  .empty-state__title
    | Huzzah, let’s add some content!
  .empty-state__description
    | Your content is made up of entries.  Get started by creating your first entry.
  .empty-state__action
    +create-entry-button(large=true)
  .empty-state__note-box(ng-if="hasArchivedEntries")
    | You can look up old entries in the
    | <a ng-click="loadView({searchTerm: 'status:archived'})">archive</a>.
