include ./roles_and_permissions_mixins.jade

header.workbench-header
  cf-breadcrumbs
  cf-icon.workbench-header__icon(name="page-settings", scale="0.75")
  h1.workbench-header__title Roles

.workbench-main
  .workbench-main__content
    .role-list__item.disabled
      .role-list__link.admin-role
        h3 Administrator
        p Members of this role have full access to everything in this space.
          span(ng-if="hasFeatureEnabled") This role is automatically part of your space and does not count against your role limit.
      .role-list__member-count
        a(href="" ng-click="jumpToAdminRoleMembers()")
          | {{ countAdmin }}&#32;
          span(ng-pluralize count="countAdmin" when="{1: 'member', other: 'members'}")
      button.role-list__actions.role-list__actions--disabled.btn-inline(ng-if="hasFeatureEnabled || hasAnyTranslatorRole")

    .role-list__item(ng-repeat="role in roles track by role.sys.id")
      .role-list__link(href="" ui-sref="^.detail({roleId: role.sys.id })")
        h3 {{ role.name }}
        p(ng-if="role.description") {{ role.description }}
      .role-list__member-count
        a(href="" ng-click="jumpToRoleMembers(role.sys.id)")
          | {{ role.count }}&#32;
          span(ng-pluralize count="role.count" when="{1: 'member', other: 'members'}")
      button.role-list__actions.btn-inline(
        type="button"
        aria-label="Actions"
        ng-if="hasFeatureEnabled || hasAnyTranslatorRole"
        ng-disabled="!isTranslator(role) && !hasFeatureEnabled"
        ng-class="{'role-list__actions--disabled': !isTranslator(role) && !hasFeatureEnabled}"
        cf-context-menu-trigger
      )
        | &bullet;&bullet;&bullet;
      .context-menu(role="menu" cf-context-menu="bottom-right" aria-label="Role Actions")
        ul.context-menu__items
          li(role="menuitem" ui-sref="^.detail({roleId: role.sys.id })") Edit role
          li(ng-if="hasFeatureEnabled" role="menuitem" ng-click="duplicateRole(role)") Duplicate
          li(ng-if="hasFeatureEnabled" role="menuitem" ng-click="removeRole(role)") Delete permanently
          li.role-list__action--disabled(ng-if="!hasFeatureEnabled") Duplicate
          li.role-list__action--disabled(ng-if="!hasFeatureEnabled") Delete permanently

  .workbench-main__sidebar
    .entity-sidebar(ng-if="!loading && !hasFeatureEnabled")
      +custom-roles-plan-info(legacy, accountUpgradeState)
    .entity-sidebar(ng-if="!loading && hasFeatureEnabled")
      h2.entity-sidebar__heading
        | Create new role
      p
        | Your&#32;
        span(ng-if="legacy")
          | organization
        span(ng-if="!legacy")
          | space
        | &#32;is using {{usage}} out of {{limit}} available roles.

      p(ng-if="reachedLimit")
        span
          | You've reached the role limit for this&#32;
          span(ng-if="legacy")
            | organization
          span(ng-if="!legacy")
            | space
          | .&#32;

        span
          span(ng-if="canUpgrade")
            | <a cf-sref="{{ accountUpgradeState }}">Upgrade</a> to add more roles
          span(ng-if="!canUpgrade && legacy")
            | Contact the admin of this organization to upgrade the organization
          span(ng-if="!canUpgrade && !legacy")
            | Contact the admin of this space to upgrade the space
          span(ng-if="limit === 1")
            | .
          span(ng-if="limit > 1")
            | , or delete an existing role.
      p(ng-if="!reachedLimit")
        | Edit one of your existing roles or create one from the scratch.
      button.btn-primary-action.x--block(ng-disabled="reachedLimit" ui-sref="^.new")
        | Create new role
