select.cfnext-select-box(ng-model="rule.action")
  option(value="all") All actions
  option(value="read") Read
  option(value="edit") Edit
  option(value="create") Create
  option(value="delete") Delete
  option(value="archive") Archive/Unarchive
  option(value="publish") Publish/Unpublish

select.cfnext-select-box(
  ng-model="rule.scope"
  ng-disabled="rule.action === 'create'")
  option(value="any") Any {{ entityName[0] }}
  option(value="user") {{ entityName[1] }} created by user

select.cfnext-select-box(
  ng-if="entity === 'entry'"
  ng-model="rule.contentType"
  ng-options="ct.id as ct.name for ct in contentTypes")

select.cfnext-select-box(
  ng-if="entity === 'entry'"
  ng-model="rule.field"
  ng-show="rule.action === 'edit'"
  ng-disabled="rule.contentType === 'all'"
  ng-options="field.id as field.name for field in contentTypeFields")

select.cfnext-select-box(
  ng-model="rule.locale"
  ng-show="rule.action === 'edit'"
  ng-options="locale.code as locale.name for locale in locales")

a.rule-list__remove(href ng-click="remove(rule)")
  i.fa.fa-trash
