//- @TODO move to hyperscript

header.workbench-header
  cf-icon.workbench-header__icon(name="page-settings")
  h1.workbench-header__title Users ({{ spaceUsersCount || 0 }})
  .workbench-header__actions
    button.btn-secondary-action(cf-context-menu-trigger)
      cf-icon.btn-dropdown-icon(name="dd-arrow-down")
      | {{ viewLabels[selectedView] }}
    .context-menu(role="menu" cf-context-menu="bottom-right" aria-label="Change view")
      div(role="menuitem" ng-click="selectedView = 'name'") {{ viewLabels.name }}
      div(role="menuitem" ng-click="selectedView = 'role'") {{ viewLabels.role }}

.workbench-main
  .workbench-main__content
    .user-list__group(
      ng-attr-id="{{ item.id }}"
      ng-repeat="item in by[selectedView] track by item.label")
      h3 {{ item.label }}
      .user-list__item(ng-repeat="user in item.users track by user.id")
        img(ng-src="{{ user.avatarUrl }}" width="50" height="50")
        .user-list__info
          strong.user-list__name.u-truncate {{ user.name }}
          small(ng-if="!user.confirmed") This account is not confirmed
          .user-list__roles {{ user.roleNames }}
        button.user-list__actions.user-list__actions--disabled.btn-inline(ng-if="!canModifyUsers()")
          | &bullet;&bullet;&bullet;
        button.user-list__actions.btn-inline(type="button"
          aria-label="Actions" cf-context-menu-trigger
          ng-if="canModifyUsers()")
          | &bullet;&bullet;&bullet;
        .context-menu(role="menu" cf-context-menu="bottom-right" aria-label="User Actions")
          ul.context-menu__items
            li(role="menuitem"
              ng-click="openRoleChangeDialog(user)"
              data-ui-trigger="user-change-role")
              | Change role
            li(role="menuitem"
              ng-click="openRemovalConfirmationDialog(user)"
              data-ui-trigger="user-remove-from-space")
              | Remove from this space

  .workbench-main__sidebar
    .entity-sidebar(ng-if="!usesNewSpaceInvitationFlow")
      h2.entity-sidebar__heading
        | Invite users
      p
        | Your organization has used {{ userQuota.used }} out of
        |  {{ userQuota.limit > 0 ? userQuota.limit : 'unlimited' }} user accounts.
      p(ng-show="canModifyUsers()") <a href="" ng-click="goToSubscription()">Increase your plan quotas here</a>.
      button.btn-primary-action(
        ng-click="openInvitationDialog()"
        ng-disabled="!canModifyUsers() || !canInviteUsers()")
        | Invite users to this space

    //- Feature flag - bv-ff-04-2017-new-space-invitation-flow
    .entity-sidebar(ng-if="usesNewSpaceInvitationFlow")
      h2.entity-sidebar__heading
        | Add users
      p
        include ./users_add_note
      .user-list__add-users-btn-wrapper
        button.btn-action.x--block(
          ng-class="{'is-loading': isInvitingUsersToSpace}"
          ng-click="openSpaceInvitationDialog()"
          ng-disabled="!canModifyUsers() || !hasUsersLeftToAdd()")
            cf-icon.btn-icon.inverted(name="plus")
            | Add users to space
        //- Necessary as a disabled button won't trigger the tooltip or mouse events in general.
        .user-list__add-users-tooltip-surface(
          style="width: 100%; height: 100%; position: absolute;"
          ng-if="!hasUsersLeftToAdd()"
          tooltip="{{" +
            "'There are no users in your organization who are not part of this space already. ' + " +
            "( canInviteUsersToOrganization() " +
            "  ? 'Go to organizations & billings to invite new users to your organization'" +
            "  : 'Get in touch with an organization owner or admin to invite new users to your organization'" +
            ") }}"
          tooltip-placement="bottom")
    //- End of feature flag bv-ff-04-2017-new-space-invitation-flow
