nav.nav-bar(ng-class="{'with-persistent-notification': persistentNotification}")
  ul.nav-bar__list(ng-show="!locationInAccount && spaces.length > 0 && spaceContext.space && !spaceContext.space.isHibernated()")
    li.add-dropdown.nav-bar__list-item(cf-add-dropdown-button space-context="spaceContext"
      ng-hide="permissionController.get('createContentType', 'shouldHide') && permissionController.get('createEntry', 'shouldHide') && permissionController.get('createAsset', 'shouldHide') && permissionController.get('createApiKey', 'shouldHide')")
    li.nav-bar__list-item(ng-class="{section: spaceContext.tabList.currentSection() == 'contentTypes',\
                  'section-index': spaceContext.tabList.currentViewType() == 'content-type-list'}"
        ng-click="goToView('content-type-list')"
        ng-hide="permissionController.get('updateContentType', 'shouldHide')"
        data-view-type="content-type-list"
        tooltip="Content Model"
        tooltip-placement="bottom"
        tabindex="0")
      i.fa.fa-database
      span Content Model
    li.nav-bar__list-item(ng-class="{section: spaceContext.tabList.currentSection() == 'entries',\
                  'section-index': spaceContext.tabList.currentViewType() == 'entry-list'}"
        ng-hide="permissionController.get('readEntry', 'shouldHide')"
        ng-click="goToView('entry-list')"
        data-view-type="entry-list"
        tooltip="Entries"
        tooltip-placement="bottom"
        tabindex="0")
      i.fa.fa-file
      span Entries
    li.nav-bar__list-item(ng-class="{section: spaceContext.tabList.currentSection() == 'assets',\
                 'section-index': spaceContext.tabList.currentViewType() == 'asset-list'}"
        ng-click="goToView('asset-list')"
        ng-hide="permissionController.get('readAsset', 'shouldHide')"
        data-view-type="asset-list"
        tooltip="Assets"
        tooltip-placement="bottom"
        tabindex="0")
      i.fa.fa-paperclip
      span Assets
    li.nav-bar__list-item(ng-class="{section: spaceContext.tabList.currentSection() == 'apiHome',\
                   'section-index': spaceContext.tabList.currentViewType() == 'api-home'}"
        ng-click="goToView('api-home')"
        ng-hide="permissionController.get('readApiKey', 'shouldHide')"
        data-view-type="api-home"
        tooltip="API"
        tooltip-placement="bottom"
        tabindex="0")
      i.fa.fa-random
      span API
    li.nav-bar__list-item(ng-class="{section: spaceContext.tabList.currentSection() == 'spaceSettings',\
                  'section-index': spaceContext.tabList.currentSection() == 'spaceSettings'}"
        ng-click="goToView('space-settings')"
        ng-hide="permissionController.get('updateSettings', 'shouldHide')"
        data-view-type="space-settings"
        tooltip="Space Settings"
        tooltip-placement="bottom"
        tabindex="0")
      i.fa.fa-gear
      span Space Settings

