nav.nav-bar(ng-class="{'with-persistent-notification': persistentNotification}")
  ul.nav-bar__list(ng-show="!locationInAccount && spaces.length > 0 && spaceContext.space && !spaceContext.space.isHibernated()")
    li.app-top-bar__action.nav-bar__list-item(
      ng-if="canNavigateTo.contentType")
      a.nav-bar__link(
          ng-class="{'is-active': $state.includes('spaces.detail.content_types') ,\
                    'is-section-index': $state.$current.name === 'spaces.detail.content_types.list'}"
          ui-sref="spaces.detail.content_types.list({ spaceId: $stateParams.spaceId })"
          data-view-type="content-type-list"
          tabindex="0")
        cf-icon(name="nav-ct")
        span.nav-bar__list-label Content Types
    li.app-top-bar__action.nav-bar__list-item(
      ng-if="canNavigateTo.entry")
      a.nav-bar__link(
          ng-class="{'is-active': $state.includes('spaces.detail.entries') ,\
                    'is-section-index': $state.$current.name === 'spaces.detail.entries.list'}"
          ui-sref="spaces.detail.entries.list({ spaceId: $stateParams.spaceId })"
          data-view-type="entry-list"
          tabindex="0")
        cf-icon(name="nav-entries")
        span.nav-bar__list-label Entries
    li.app-top-bar__action.nav-bar__list-item(
      ng-if="canNavigateTo.asset")
      a.nav-bar__link(
          ng-class="{'is-active': $state.includes('spaces.detail.assets') ,\
                    'is-section-index': $state.$current.name === 'spaces.detail.assets.list'}"
          ui-sref="spaces.detail.assets.list({ spaceId: $stateParams.spaceId })"
          data-view-type="asset-list"
          tabindex="0")
        cf-icon(name="nav-media")
        span.nav-bar__list-label Media Library
    li.app-top-bar__action.nav-bar__list-item(
      ng-if="canNavigateTo.apiKey")
      a.nav-bar__link(
          ng-class="{'is-active': $state.includes('spaces.detail.api') ,\
                    'is-section-index': $state.$current.name === 'spaces.detail.api.home'}"
          ui-sref="spaces.detail.api.home({ spaceId: $stateParams.spaceId })"
          data-view-type="api-home"
          tabindex="0")
        cf-icon(name="nav-api")
        span.nav-bar__list-label APIs
    li.app-top-bar__action.nav-bar__list-item(
      ng-if="canNavigateTo.settings")
      a.nav-bar__link(
          ng-class="{'is-active': $state.includes('spaces.detail.settings') ,\
            'is-section-index': $state.$current.name === 'spaces.detail.settings.pathSuffix'}"
          ui-sref="spaces.detail.settings.pathSuffix({ spaceId: $stateParams.spaceId })"
          data-view-type="space-settings"
          tabindex="0")
        cf-icon(name="nav-settings")
        span.nav-bar__list-label Settings
