.space-selector.app-top-bar__child.app-top-bar--right-separator(
  ng-show="organizations && organizations.length > 0"
  ng-hide="spaces.length == 0 && !permissionController.canCreateSpaceInAnyOrg()")
  a.app-top-bar__dropdown-toggle(
    cf-dropdown-toggle="navbar.spaceSelector"
    ng-click="clickedSpaceSwitcher()" tabindex="0")
    span.space-selector__name.u-truncate(ng-bind="spaceContext.space.data.name || 'Spaces'")
    cf-icon.icon-dd-arrow-down(name="dd-arrow-down" size="10")

  .space-selector__menu(
    cf-dropdown-menu="navbar.spaceSelector"
    cf-dropdown-position="fixed")
    cf-icon.context-menu__arrow(cf-dropdown-arrow name="arrow-up")
    .space-selector__orgs(ng-if="hasSpaces")
      .space-selector__group(ng-repeat="(orgId, org) in spacesByOrg")
        .space-selector__group-label
          | {{getOrgName(orgId)}}
        .context-menu__item(
          ng-repeat="space in org track by space.getId()"
          cf-click-local="selectSpace(space) && broadcastFromRoot('dropdownToggle', 'navbar.spaceSelector')"
          ng-class="{selected: isCurrentSpace(space)}")
          | {{space.data.name}}
    .space-selector__group
      .context-menu__item(
        ng-show="permissionController.canCreateSpace()"
        ng-click="showCreateSpaceDialog()"
        cf-dropdown-close)
          cf-icon.space-selector__add-icon(name="plus")
          | Add new Space
