header.workbench-header
  cf-icon.workbench-header__icon(name="page-entries")
  h1.workbench-header__title
    | {{ title }}
    a.workbench-header__kb-link(
      cf-knowledge-base-icon
      analytics-event="entries"
      href="https://contentful.zendesk.com/hc/en-us/articles/200513208-What-is-an-Entry-")

  .workbench-header__actions
    button.cfnext-btn-secondary-action(type="button"
      ng-click="preferences.toggleAuxPanel()"
      ng-class="{active: preferences.showAuxPanel}")
      | Info
    .dropdown-btn
      button.cfnext-btn-secondary-action(
        cf-context-menu-trigger
        data-test-id="entry-view-menu-trigger")
        cf-icon.btn-dropdown-icon(name="dd-arrow-down")
        | View
      .context-menu(
        role="menu" cf-context-menu="bottom-right"
        aria-label="Configure Entry View" data-test-id="entry-view-menu")
        cf-icon.context-menu__arrow.x--top-right(name="arrow-up")
        ul.lang-switcher(ng-show="showLangSwitcher")
          label.context-menu__item(
            ng-repeat="locale in localesState.privateLocales track by locale.sys.id"
            role="menuitemcheckbox")
            input(type="checkbox"
              ng-disabled="locale == localesState.defaultLocale"
              ng-model="localesState.localeActiveStates[locale.internal_code]")
            | {{locale.name}}
            span(ng-show="locale == localesState.defaultLocale")
              | &nbsp;(default)
        label.context-menu__item(role="menuitemcheckbox")
          input(type="checkbox" ng-model="preferences.showDisabledFields")
          | Show disabled fields

.workbench-panel(ng-show="preferences.showAuxPanel")
  header
    h1 Entry Information
  .entity-info-panel(cf-entity-info-panel="otDoc.doc.snapshot.sys")

.workbench-main.x--content(
  ng-class="{'x--panel': preferences.showAuxPanel}")
  form.l-form(name="entryForm")
    .l-form-row--no-label(ng-show="hasErrorOnFields")
      .l-form-controls
        cf-error-list.form-box-error(cf-error-path="['fields']")
    cf-form-widget.l-form-row(ng-repeat="widget in widgets track by widget.id"
        data-field-id="{{field.id}}"
        data-field-api-name="{{field.apiName}}"
        data-field-type="{{field.type}}"
        data-field-items-type="{{field.items.type}}"
        ng-class="{'data-field-array': (field|isFieldLink), 'data-field-boolean': (field|isFieldBoolean), 'data-field-string-list': (field|isFieldStringList)}")
      label(ng-if="field")
        | {{field.name}} 
        sup(ng-show="field.required") (required)
      .l-form-controls(ng-if="field")
        .l-form-locale(ng-repeat="locale in locales track by locale.internal_code"
            ot-field-presence="['fields', field.id, locale.internal_code]"
            data-locale="{{locale.internal_code}}")
          cf-widget-renderer.l-field-editor(
            cf-focus-ot-input="shouldFocusField()"
            ot-path="['fields', field.id, locale.internal_code]"
            cf-field-editor="entry.data.fields[field.id][locale.internal_code]")
          .locale-label(ng-show="locales.length > 1") {{locale.name}}
          .field-collaborators
            ul.field-list
              li.avatar(cf-user ng-repeat="link in otFieldPresence.users track by link.sys.id"
                                 link="link" as="presentUser"
                                 tooltip="{{presentUser| userNameDisplay:user}}")
                img(ng-src="{{presentUser.data.avatarUrl}}")
          cf-error-list.form-box-error(cf-error-path="['fields', field.id, locale.internal_code,'*']")
        .form-widget__help-text(ng-if="showHelpText") {{helpText}}
        cf-error-list.form-box-error(cf-error-path="['fields', field.id]")
      .l-form-controls(ng-if="!field")
        cf-widget-renderer

.workbench-actions(ng-controller="EntryActionsController as actions")
  .workbench__save-status(cf-save-status)
  .workbench__active-users
    span(ng-show="otPresence.users.length == 0"
          tooltip="Edit collaboratively by inviting more users into your space. Go to Settings → Users → Invite New User to invite people.")
      | No other users online
    ul(ng-show="otPresence.users.length > 0")
      li.avatar(cf-user ng-repeat="link in otPresence.users track by link.sys.id"
                         link="link" as="presentUser"
                         tooltip="{{presentUser| userNameDisplay:user}}")
        img(ng-src="{{presentUser.data.avatarUrl}}")
    a.cfnext-btn-secondary-action.invite-users(
      ui-sref="spaces.detail.settings.iframe.pathSuffix({ pathSuffix: '/users/new' })"
      tooltip="Add a user to this space")
      i.fa.fa-user
      i.fa.fa-plus
  .dropdown-btn(ng-show="actions.delete.isAvailable() || entityActionsController.canDuplicate()")
    button.cfnext-btn-secondary-action(
      cf-context-menu-trigger
      data-test-id="entry-actions-menu-trigger")
      cf-icon.btn-dropdown-icon--up(name="dd-arrow-down")
      | More
    .context-menu(
      role="menu" cf-context-menu="top"
      aria-label="Entry Actions" data-test-id="entry-actions-menu")
      cf-icon.context-menu__arrow.x--bottom(name="arrow-up")
      ul
        li.context-menu__item.duplicate(
          role="menuitem"
          ng-show="actions.duplicate.isAvailable()"
          ng-click="actions.duplicate.execute()")
          | Duplicate
        li.context-menu__item.delete(
          role="menuitem"
          ng-show="actions.delete.isAvailable()"
          cf-context-menu-trigger
          data-test-id="delete-entry")
          | Delete
        .delete-confirm.no-caret(cf-context-menu="top")
          cf-icon.context-menu__arrow.x--bottom(name="arrow-up")
          p You are about to delete {{ title }}
          button.cfnext-btn-caution(ui-command="actions.delete")
            | Delete
          button.cfnext-btn-secondary-action(type="button")
            | Don't Delete
  button.cfnext-btn-secondary-action(ui-command="actions.archive")
    | Archive
  button.cfnext-btn-secondary-action(ui-command="actions.unarchive")
    | Unarchive
  .dropdown-btn(ng-show="actions.revertToPublished.isAvailable() || actions.revertToPrevious.isAvailable()")
    button.cfnext-btn-secondary-action(
      cf-context-menu-trigger
      data-test-id="revert-entry-menu-trigger")
      cf-icon.btn-dropdown-icon--up(name="dd-arrow-down")
      | Revert
    .context-menu.revert-actions__menu(
      role="menu" cf-context-menu="top"
      aria-label="Revert Entry" data-test-id="revert-entry-menu")
      cf-icon.context-menu__arrow.x--bottom(name="arrow-up")
      ul.context-menu__items
        li(role="menuitem" ui-command="actions.revertToPublished")
          | Revert to published version ({{command.publishedAt}})
        li(role="menuitem" ui-command="actions.revertToPrevious")
          | Discard my changes ({{command.updatedAt}})

  button.cfnext-btn-secondary-action(ui-command="actions.unpublish")
    | Unpublish
  button.cfnext-btn-primary-action(ui-command="actions.publish" type="submit")
    | {{command.label()}}
