include ./entity_link_mixins

.asset-card
  cf-thumbnail(
    ng-if="config.asThumb"
    file="file" size="123" fit="thumb"
    cf-context-menu-trigger)

  cf-thumbnail(
    ng-if="!config.asThumb"
    file="file" size="270" fit="thumb"
    cf-context-menu-trigger)

  +entity-link-drag-handle
  +entity-link-status

  +entity-link-title(
    class="asset-card__title"
    ng-click="actions.edit()"
    role="{{actions.edit && 'button'}}")

  .asset-card__tooltip.context-menu(
    ng-if="!config.disableTooltip"
    cf-context-menu role="menu")

    ul.asset-card__details(ng-if="file")
      li.asset-card__file-name
        | {{ file.fileName | truncateMiddle:22:7 }}
      li.asset-card__type
        | {{ file | mimeGroup }}
      li.asset-card__file-size(ng-if="file.details.size")
        | {{ file.details.size | fileSize }}
      li.asset-card__image-resolution(ng-if="file.details.image")
        | {{ file.details.image.width }}&times;{{ file.details.image.height }}

    div(style="display: flex")
      +entity-link-actions(item-class="asset-card__action")
