include ./entity_link_mixins

.asset-card(ng-click="selectable && linksApi.toggleSelected && linksApi.toggleSelected(link)")
  cf-thumbnail(
    ng-if="asThumb && !selectable"
    file="file" size="123" fit="thumb"
    cf-context-menu-trigger)

  cf-thumbnail(
    ng-if="asThumb && selectable"
    file="file" size="123" fit="thumb")

  cf-thumbnail(
    ng-if="!asThumb && !selectable"
    file="file" height="270" fit="scale"
    cf-context-menu-trigger)

  cf-thumbnail(
    ng-if="!asThumb && selectable"
    file="file" height="270" fit="scale")

  +entity-link-status

  .asset-card__title(
    ng-click="!selectable && linksApi.goToEditor && linksApi.goToEditor(link)"
    ng-class="{'asset-card__title--missing': !title}")
    span(ng-if="title") {{ title | truncateMiddle:30:10 }}
    span(ng-if="!title") Untitled

  .asset-card__tooltip.context-menu(
    ng-if="!selectable"
    cf-context-menu role="menu")
    ul.asset-card__details
      li.asset-card__file-name
        | {{ file.fileName | truncateMiddle:22:7 }}
      li.asset-card__type
        | {{ file | mimeGroup }}
      li.asset-card__file-size(ng-if="file.details.size")
        | {{ file.details.size | fileSize }}
      li.asset-card__image-resolution(ng-if="file.details.image")
        | {{ file.details.image.width }}&times;{{ file.details.image.height }}

    .asset-card__custom-tooltip-content
      .link-editor-link__toolbar
        +entity-link-actions

  .asset-card__custom-card-content
    .link-editor-link__toolbar(ng-if="!selectable")
      cf-icon(ng-if="draggable" data-drag-handle name="drag-handle-2")
