include ./entity_link_mixins

.entity-link
  .entity-link__image(
    ng-if="config.showDetails"
    ng-class="{'entity-link__image--missing': !image}")
    cf-thumbnail(file="image" size="56" fit="thumb")

  +entity-link-status

  .entity-link__text
    .entity-link__title(
      ng-click="actions.goToEditor && actions.goToEditor(entity || link)"
      ng-class="{'entity-link__title--missing': !title}")
      span(ng-if="title") {{ title | truncateMiddle:30:10 }}
      span(ng-if="!title") Untitled

    .entity-link__description(
      ng-if="config.showDetails"
      ng-class="{'entity-link__description--missing': !description}")
      span(ng-if="description") {{ description | truncate:150 }}
      span(ng-if="!description") No description available

  .link-editor-link__toolbar
    cf-icon(ng-if="config.draggable" data-drag-handle name="drag-handle-2")
    +entity-link-actions
