div(ng-show="!isReady")
  .loading-box(style="height: 50px")
    .loading-box__spinner
    .loading-box__message
      | Initializing reference editor

.link-editor(
  ng-show="isReady"
  ng-class="{'x--contains-asset-cards': isAssetCard}")
  ol.link-editor__links(cf-ui-sortable ng-model="entityModels")
    li.link-editor__link(ng-repeat="model in entityModels track by model.key")
      
      // We don't know why model.value.refCtxt === null...
      cf-entity-link(
        ng-if="useBulkEditor || model.value.refCtxt === null || (!isAssetCard && !isInlineReferenceEnabled && !useInlineEditor)"
        entity="model.value.entity"
        content-type="model.value.contentType"
        entity-helpers="helpers"
        actions="model.value.actions"
        config="config")

      .inline-reference-editor(
        ng-if="isInlineReferenceEnabled && useInlineEditor && model.value.refCtxt !== null"
        style="min-height: 100px; margin-top: 10px;")
          cf-bulk-editor(
            reference-context="model.value.refCtxt"
            render-inline="true"
          )

      cf-asset-card(
        ng-if="isAssetCard"
        is-disabled="isDisabled"
        entity="model.value.entity"
        entity-helpers="helpers"
        actions="model.value.actions"
        config="config")

  .link-editor__actions(ng-if="!isNewAddAndLinkRefButtonEnabled && !isDisabled && (!single || !entityModels.length)")
    button.btn-action.btn-link.link-editor__link-btn(
      ng-click="addNew($event)"
      type="button")
      cf-icon.btn-icon(name="plus-2")
      | Create new {{ type.toLowerCase() }} and link

    button.btn-action.btn-link.link-editor__link-btn(
      ng-click="addExisting($event)"
      type="button")
      cf-icon.btn-icon(name="{{ typePlural.toLowerCase() }}")
      span(ng-if="single")
        | Link an existing {{ type.toLowerCase() }}
      span(ng-if="!single")
        | Link existing {{ typePlural.toLowerCase() }}


  .link-editor__feature-at-11-2017-lots-of-cts-add-entry-and-link-reference(ng-if="isNewAddAndLinkRefButtonEnabled && !isDisabled && (!single || !entityModels.length)")
    cf-create-entry-button(
      ng-if="type === 'Entry' && allowedCTs.length > 1"
      data-test-id="add-and-link-reference-trigger"
      content-types="allowedCTs"
      on-select="addNewEntry"
      text="Create entry and link")
    cf-create-entry-button(
      ng-if="type === 'Entry' && allowedCTs.length === 1"
      data-test-id="add-and-link-reference-trigger"
      content-types="allowedCTs"
      on-select="addNewEntry"
      text="Create {{allowedCTs[0].name}} and link")

    button.btn-action(
      data-test-id="add-and-link-reference-trigger"
      ng-if="type === 'Asset'"
      ng-click="isNewAddAndLinkRefButtonEnabled ? addNewAsset() : addNew($event)"
      type="button")
      | Create new asset and link

    button.btn-link(
      ng-click="addExisting($event)"
      type="button")
      span(ng-if="single")
        | Link an existing {{ type.toLowerCase() }}
      span(ng-if="!single")
        | Link existing {{ typePlural.toLowerCase() }}
