.link-editor(
  ng-class="{" +
    "'link-editor--empty': !links.length," +
    "'link-editor--single': single," +
    "'link-editor--multiple': !single," +
    "'link-editor--cf-entity-link': !isAssetCard," +
    "'link-editor--cf-asset-card': isAssetCard" +
    "}")
  ol.link-editor__links(
  cf-ui-sortable ng-model="links")
    li.link-editor__link(ng-repeat="item in links")

      cf-entity-link(
        ng-if="!isAssetCard"
        link="item.link"
        entity-store="store"
        entity-helpers="helpers"
        actions="actions"
        config="config")

      cf-asset-card(
        ng-if="isAssetCard"
        link="item.link"
        entity-store="store"
        entity-helpers="helpers"
        actions="actions"
        config="config")

  .link-editor__actions(ng-if="!single || !links.length")
    button.cfnext-btn-action.cfnext-btn-link.link-editor__link-btn(ng-click="addNew()")
      | Create new {{ type.toLowerCase() }} and link

    button.cfnext-btn-action.cfnext-btn-link.link-editor__link-btn(ng-click="addExisting()")
      span(ng-if="single")
        | Add an existing {{ type.toLowerCase() }}
      span(ng-if="!single")
        | Add some existing {{ typePlural.toLowerCase() }}
