mixin entity-link-drag-handle
  cf-icon(
    ng-if="config.draggable"
    data-drag-handle
    name="drag-handle-2")

mixin entity-link-status
  .entity-status(ng-if="!missing" ng-class="status")
    .status-bar

mixin entity-link-title
  .entity-link__title
    span(ng-if="!missing && title") {{ title | truncate:256 }}
    span.entity-link__title--missing(ng-if="!missing && !title") Untitled
    span.entity-link__title--missing(ng-if="missing") Entity missing or inaccessible

mixin entity-link-actions
  button(
    class=attributes['item-class']
    data-test-id="entity-edit"
    ng-if="actions.edit"
    ng-click="actions.edit()")
    cf-icon(name="edit")

  a(
    class=attributes['item-class']
    data-test-id="asset-download"
    ng-if="!missing && downloadUrl"
    ng-href="{{ downloadUrl }}"
    target="_blank")
    cf-icon(name="download")

  button(
    class=attributes['item-class']
    data-test-id="entity-remove"
    ng-if="actions.remove"
    ng-click="actions.remove()")
    cf-icon(name="delete")
