mixin entity-link-status
  .entity-status(ng-class="status")
    .status-bar

mixin entity-link-actions
  .link-editor-link__toolbar-actions(ng-if="!config.hideToolbar")
    cf-icon(
      ng-if="actions.goToEditor"
      name="edit"
      ng-click="actions.goToEditor(entity || link)")

    a(
      ng-if="downloadUrl"
      ng-href="{{ downloadUrl }}"
      target="_blank")
      cf-icon(name="download")

    cf-icon(
      ng-if="actions.removeFromList"
      name="delete"
      ng-click="actions.removeFromList(entity || link)")
