header.workbench-header
  cf-icon.workbench-header__icon(name="page-api")
  h1.workbench-header__title
    | Content delivery API keys
    cf-knowledge-base.workbench-header__kb-link(target="api_key")

  .workbench-header__actions(ng-hide="empty")
    button.cfnext-btn-action(ng-click="entityCreationController.newApiKey()"
      ng-hide="shouldHide('createApiKey')"
      ng-disabled="shouldDisable('createApiKey')"
      cf-when-disabled="createApiKey")
      cf-icon.btn-icon.inverted(name="plus")
      | Add API key

.workbench-main(ng-hide="empty")
  .workbench-main__left-sidebar
    header.filter-list-header
      | Content delivery API
    ul.u-list(cf-cda-links)
    header.filter-list-header
      | Content management API
    ul.u-list(cf-cma-links)

  .workbench-main__right-content
    table.result-list.main-results.main-header
      thead
        tr
          th.cell-name Name
          th.cell-description Description
          th.cell-date Updated
          th.cell-symbol By

    .main-results-wrapper
      table.result-list.main-results
        tbody
          tr(ng-repeat="apiKey in apiKeys track by apiKey.getId()"
              ng-init="entityNavState='spaces.detail.api.keys.detail({ apiKeyId: apiKey.getId() })'"
              ui-sref="{{entityNavState}}")
            td.cell-name
              a.entity-list-link(ui-sref="{{entityNavState}}") {{apiKey.getName()}}
            td.cell-description
              a.entity-list-link(ui-sref="{{entityNavState}}") {{apiKey.data.description}}
            td.cell-date
              a.entity-list-link(ui-sref="{{entityNavState}}")
                date(ng-if="apiKey.getUpdatedAt()" datetime="{{apiKey.getUpdatedAt()}}" cf-relative-datetime)
            td.cell-symbol
              a.entity-list-link(ui-sref="{{entityNavState}}" cf-user link="apiKey.getCreatedBy()" as="creator")
                | {{creator | userNameDisplay:user}}

.workbench-main.x--content(ng-show="empty")
  .cfnext-advice
    i.fa.fa-random.advice__giant-icon
    header.advice__title There are no API keys yet.
    p.advice__description API keys open the door to your content. One should be created for each application that accesses your content.
    button.advice__action(type="button" ng-click="entityCreationController.newApiKey()"
        ng-hide="shouldHide('createApiKey')"
        ng-disabled="shouldDisable('createApiKey')"
        cf-when-disabled="createApiKey")
      | Create API key
    cf-knowledge-base(target="api_key" text="Visit the knowledge base pages")
