.tab-header
  .tab-header__title
    cf-icon(name="page-api")
    h1
      | Content Delivery API Keys
      a(cf-knowledge-base-icon
        tooltip="Learn more about API Keys in the Knowledge Base Pages"
        tooltip-container=".entity-list"
        analytics-event="api_keys"
        href="https://contentful.zendesk.com/hc/en-us/articles/200513178-What-is-an-API-Key-")

  .tab-header__actions.add-entity.u-truncate(ng-class="{'with-pagination': paginator.numPages() > 1}" ng-hide="empty")
    button.cfnext-btn-action(ng-click="entityCreationController.newApiKey()"
        ng-hide="permissionController.get('createApiKey', 'shouldHide')"
        ng-disabled="permissionController.get('createApiKey', 'shouldDisable')"
        cf-when-disabled="permissionController.entityActions.createApiKey")
      cf-icon.btn-icon.inverted(name="plus")
      | Add API Key

.tab-main
  .left-nav
    header.filter-list-header
      | Content Delivery API
    ul.u-list(cf-cda-links)
    header.filter-list-header
      | Content Management API
    ul.u-list(cf-cma-links)

  .with-left-nav
    table.result-list.main-results.main-header(ng-hide="empty")
      thead
        tr
          th.cell-name Name
          th.cell-description Description
          th.cell-date Updated
          th.cell-symbol By

    .main-results-wrapper(ng-hide="empty")
      table.result-list.main-results
        tbody
          tr(ng-repeat="apiKey in apiKeys track by apiKey.getId()"
              ng-init="entityNavState='spaces.detail.api.keys.detail({ apiKeyId: apiKey.getId() })'"
              ui-sref="{{entityNavState}}")
            td.cell-name
              a.entity-list-link(ui-sref="{{entityNavState}}") {{apiKey.getName()}}
            td.cell-description
              a.entity-list-link(ui-sref="{{entityNavState}}") {{apiKey.data.description}}
            td.cell-date
              a.entity-list-link(ui-sref="{{entityNavState}}")
                date(ng-if="apiKey.getUpdatedAt()" datetime="{{apiKey.getUpdatedAt()}}" cf-relative-datetime)
            td.cell-symbol
              a.entity-list-link(ui-sref="{{entityNavState}}" cf-user link="apiKey.getCreatedBy()" as="creator")
                | {{creator | userNameDisplay:user}}

    .advice(ng-show="empty")
      .advice__frame
        i.fa.fa-random.advice__giant-icon
        header.advice__title There are no API Keys yet.
        p.advice__description API Keys open the door to your content. One should be created for each application that accesses your content.
        button.cfnext-btn-action(type="button" ng-click="entityCreationController.newApiKey()"
            ng-hide="permissionController.get('createApiKey', 'shouldHide')"
            ng-disabled="permissionController.get('createApiKey', 'shouldDisable')"
            cf-when-disabled="permissionController.entityActions.createApiKey")
          | Create API Key
        a.knowledge-base-link(target="_blank" href="https://contentful.zendesk.com/hc/en-us/articles/200513178-What-is-an-API-Key-")
          | Visit the Knowledge Base Pages
          i.fa.fa-question-circle

