.modal-background
  .modal-dialog.space-template__dialog(ng-controller="SpaceTemplatesController" cf-center-on=".modal-background")
    .title {{dialog.title}}
    .modal-dialog-close-button(ng-show="dialogViewIs('spaceTemplateList') || dialogViewIs('spaceCreation')" ng-click="dialog.cancel()")
    .dialog-content.space-template__dialog-content

      .loading(ng-show="dialogViewIs('loading')")

      .space-template__list(ng-show="dialogViewIs('spaceTemplateList')")
        .space-template__item(
            ng-repeat="template in spaceTemplates"
            ng-click="selectTemplate(template)"
            ng-class="{'space-template--item-selected': template === selectedTemplate}")
          .space-template__icon
            img(ng-src="{{template.icon.fields.file.url}}")
          p.space-template__label {{template.name | truncate:30}}

      .space-template__contact(ng-show="isTemplateListVisible()")
        p
          | Missing a template?
          a(href="mailto:support@contentful.com" target="_blank") Let us know.

      .space-template__detail(ng-show="dialogViewIs('spaceTemplateList')")
        .space-template__detail-content(ng-show="!selectedTemplate")
          p Publish content in seconds with predefined templates for common scenarios.
          p Or build your model from scratch by going with a blank template.
          p.
            Need help? Read more about it in the <a href="https://support.contentful.com/hc/en-us/articles/203905588-What-is-a-Space-template-" target="_blank">Knowledge Database</a>.
        .space-template__detail-content(ng-show="selectedTemplate")
          h1 {{selectedTemplate.name}}
          div(ng-bind-html="selectedTemplate.description | markdown")
        button.btn.btn--primary(ng-show="selectedTemplate" ng-click="showSpaceCreation()") Use this template

      .space-template__space-creation(ng-show="dialogViewIs('spaceCreation')" ng-controller="CreateSpaceDialogController")
        h1
          | Create Space
          a(cf-knowledge-base-icon
            tooltip="Learn more about Spaces in the Knowledge Base Pages"
            analytics-event="space_creation"
            href="https://contentful.zendesk.com/hc/en-us/articles/200513108-What-is-a-difference-between-a-Content-Type-and-a-Space-")
        form.space-template__space-creation-form(name="newSpaceForm" ng-submit="createSpace()")
          .l-form
            .l-form-row
              label Name
              .l-form-controls
                input.form-control(type="text" name="name" ng-model="newSpaceData.name" required)
            .l-form-row
              label Organization
              .l-form-controls.space-template__org-selector(cf-dropdown)
                button.btn.btn--tertiary(cf-dropdown-toggle type="button")
                  | {{selectedOrganization.name}}
                  i.button-icon-right.fa.fa-caret-down
                .cfnext-dropdown.space-template__org-dropdown(cf-dropdown-menu position="bottomcenter")
                  cf-icon.cfnext-dropdown__arrow(cf-dropdown-arrow name="arrow-up" size="15")
                  ul.cfnext-dropdown__list--first
                    li.cfnext-dropdown__item(ng-repeat="org in writableOrganizations" ng-click="selectOrganization(org)" dropdown-close) {{org.name}}
            .l-form-row
              label Locale
              .l-form-controls
                input.form-control(type="text" name="locale" ng-model="newSpaceData.defaultLocale")
          .buttons
            button.btn.btn--primary.confirm(type="submit" ng-disabled="newSpaceForm.$invalid || lockSubmit")
              | Create Space

      .space-template__queue(ng-show="dialogViewIs('spaceTemplateQueue')")
        h1 Creating template entities
        .space-template__queue-container
          .space-template__queue-item(ng-repeat="(id, item) in completedItems" ng-class="queueItemClass(item.status)" cf-scroll-into-view)
            i.fa.fa-check(ng-if="item.status == 'success'")
            i.fa.fa-times(ng-if="item.status == 'error'")
            | {{entityStatusString(item)}}
            span.space-template__item-status(ng-show="item.status == 'error'")
              | Failed
          .loading(ng-show="!templateCreationFailed")
        .space-template__queue-status(ng-if="templateCreationFailed" cf-scroll-into-view)
          p
            | Some items could not be created properly right now, but don't worry, your space will work
            | normally, just with less pre created items, or you might need to publish some manually.
          button.btn.btn--primary(ng-click="dismissDialog()") Continue

