.modal-background
  .modal-dialog.entity-selector-dialog(
    ng-class="'entity-selector-dialog--for-{{ config.entityType.toLowerCase() }}-entities'")
    header.modal-dialog__header
      h1 {{ entitySelector.labels.title }}
      button.modal-dialog__close(ng-click="dialog.cancel()")

    .modal-dialog__content(ng-if="!showCustomEmptyMessage()")
      cf-entity-selector(
        config="config"
        labels="labels"
        list-height="listHeight"
        on-change="onChange")

    .modal-dialog__content(
      ng-if="showCustomEmptyMessage()"
      bind-html-compile="labels.noEntitiesCustomHtml"
      data-test-id="custom-empty-message")

    .modal-dialog__controls(ng-if="config.multiple && !showCustomEmptyMessage()")
      button.btn-primary-action.modal-dialog__controls-confirm(
        type="button"
        ng-click="dialog.confirm(selected)"
        ng-disabled="selected.length < config.min || selected.length > config.max")
        | {{ labels.insert }}
        span(ng-if="selected.length > 0") &nbsp;({{ selected.length }})
      button.btn-secondary-action(type="button" ng-click="dialog.cancel()")
        | Cancel
