div.location-editor__map
  .loading-box(
    ng-if="isLoading"
    role="status"
    data-status-code="loading"
    style="height: 10em")
    .loading-box__spinner
    .loading-box__message
      | Your content is being loaded

  react-component(
    name="app/widgets/location/LocationEditorWarning.es6"
    ng-if="loadError"
  )

  div(ng-show="!isLoading && !loadError")
    div.location-editor__google-map(data-map-slot)


div.location-editor__input-select.cfnext-form__fieldset--horizontal
  .cfnext-form-option
    input(
      type="radio"
      id="location-editor-address"
      name="inputMethod"
      ng-model="inputMethod"
      ng-value="ADDRESS")
    label(for="location-editor-address")
      | Address
  .cfnext-form-option
    input(
      type="radio"
      id="location-editor-coordinates"
      name="inputMethod"
      ng-model="inputMethod"
      ng-value="COORDINATES")
    label(for="location-editor-coordinates")
      | Coordinates

div.location-editor__coordinates(ng-show="inputMethod === COORDINATES")
  label.location-editor__coord-input
    span.location-editor__coord-label
      | Latitude
    input.entry-editor__input(
      type="number"
      name="lat"
      ng-model="location.lat"
      ng-change="search.updateAddressFromLocation()"
      ng-disabled="isDisabled")
  label.location-editor__coord-input
    span.location-editor__coord-label
      | Longitude
    input.entry-editor__input(
      type="number"
      name="lon"
      ng-model="location.lon"
      ng-change="search.updateAddressFromLocation()"
      ng-disabled="isDisabled")

div.location-editor__address-search(ng-show="inputMethod === ADDRESS")
  div.entry-editor__input-group
    input(
      type="text"
      name="address"
      ng-model="search.address"
      ng-change="search.search()"
      aria-invalid="{{!!search.error}}"
      ng-disabled="isDisabled")
    div.entry-editor__input-spinner(ng-show="search.inProgress")
  div(ng-if="search.error" ng-switch="search.error.code")
    div.cfnext-form__field-error(
      ng-switch-when="address-not-found"
      role="status"
      data-status-code="{{search.error.code}}")
      | No results found for <strong>{{ search.address }}</strong>.
      | Please make sure that address is spelled correctly.
    div.cfnext-form__field-error(
      ng-switch-default
      role="status"
      data-status-code="{{search.error.code}}")
      | {{ search.error.message }}
  div.context-menu.x--arrow-up.x--arrow-left.x--manual(
    ui-hide-on-click
    ng-show="search.results"
    data-test-id="search-results"
    data-search-results)
    ul.context-menu__items
      li(
        ng-repeat="(index, result) in search.results track by index"
        ng-click="search.pick(result)")
        span(ui-highlight-match="result.address" search="search.address")
