.search-results-paginator(ng-hide="paginator.getPageCount() < 2")
  span.search-results-paginator__prev(
    data-test-id="paginator.prev"
    aria-disabled="{{paginator.isAtFirst()}}"
    ng-click="!paginator.isAtFirst() && paginator.setPage(paginator.getPage() - 1)")
    | Previous
  span.search-results-paginator__page(
    ng-repeat="label in labels track by $index"
    data-test-id="paginator.select.{{label.text}}"
    ng-click="paginator.setPage(label.value)"
    ng-class="{'x--active-page': label.value === paginator.getPage(), 'x--dots': label.value === null}") {{label.text}}
  span.search-results-paginator__next(
    data-test-id="paginator.next"
    aria-disabled="{{paginator.isAtLast()}}"
    ng-click="!paginator.isAtLast() && paginator.setPage(paginator.getPage() + 1)")
    | Next
